include ../link/link

mixin dropdown({items = [], title = "", hasButtons = false} = {})
    .dropdown.js-dropdown
        .dropdown__field.js-dropdown__field
            .dropdown__title.js-dropdown__title= title
        .dropdown__menu.js-dropdown__menu
            each item in items
                .dropdown__menu-line.js-dropdown__menu-line
                    .dropdown__menu-item.js-dropdown__menu-item= item.name
                    .dropdown__menu-box-button.js-dropdown__menu-box-button
                        .dropdown__menu-minus.js-dropdown__menu-minus
                        input.dropdown__menu-value.js-dropdown__menu-value(value=item.value, disabled)
                        .dropdown__menu-plus.js-dropdown__menu-plus
            if(hasButtons)
                .dropdown__buttons-container
                    .js-dropdown__clear 
                        +link({text: "очистить"})
                    .js-dropdown__apply 
                        +link({text: "применить"})
