include ../text-field/text-field
mixin dropdown({items = [], title = "", buttons = false} = {})
    .dropdown.js-dropdown
        .dropdown__field.js-dropdown__field
            .dropdown__title.js-dropdown__title= title
        .dropdown__menu.js-dropdown__menu
            each item in items
                .dropdown__menu-line.js-dropdown__menu-line
                    p.dropdown__menu-item.js-dropdown__menu-item= item
                    .dropdown__menu-box-button.js-dropdown__menu-box-button
                        .dropdown__menu-minus.js-dropdown__menu-minus -
                        input.dropdown__menu-value.js-dropdown__menu-value(value="0", disabled)
                        .dropdown__menu-plus.js-dropdown__menu-plus +
            if(buttons)
                .dropdown__buttons-container
                    .dropdown__clear.js-dropdown__clear очистить
                    .dropdown__apply.js-dropdown__apply применить
