include ..\text-field\text-field
mixin dropdown({items = [], title = "", buttons = false} = {})
    .dropdown.js-dropdown
        +text-field("dropdown")
            .dropdown__title.js-dropdown__title= title
        .dropdown-content.js-dropdown-content
            each item in items
                .dropdown-content__line.js-dropdown-content__line
                    p.js-item= item
                    .dropdown-content__box-button.js-dropdown-content__box-button
                        .minus.js-minus -
                        input.value.js-value(value="0", disabled)
                        .plus.js-plus +
            if(buttons)
                .dropdown__buttons-container
                    .clear.js-clear очистить
                    .submit.js-apply применить
