.pagination .active .current 
  background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius 22px
  width 40px
  height 40px
  color #FFF  
  padding 0
  display flex
  justify-content center
  align-items center
  border 0 solid transparent
  margin 0
  cursor pointer
.pagination ul li .next 
  background linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
  font-family 'Material Icons'
  font-size 24px 
  color #fff
.pagination ul li.disabled 
  opacity 0
.pagination li .page-link
  @extends .pagination .active .current 
  background white
  border 0px solid transparent
  box-shadow none
  font-size 12px 
  color rgba(31, 32, 65, 0.5)
.pagination li span.ellipse.clickable
  @extends .pagination li .page-link
  font-size 10px 
  color rgba(31, 32, 65, 0.5)
.pagination a:focus
  outline none
.pagination__caption
  position absolute
  margin-top 3px
  margin-left 6px