include ..\..\components\header\header
include ..\..\components\footer\footer
include ..\..\components\search-rooms\search-rooms
.landing-page
    +header({login: false})
    main.landing-page__img
        section.landing-page__log-in
            +search-rooms
        section.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
+footer