.landing-page
  background-color #FFFFFF
  width 100% 
  height 100%
  display flex
  flex-direction column
  &__container
    max-width 1160px
    width 100%
    margin 0 auto
    @media(max-width 1240px)
      width 90%
  &__img
    position relative
    background url(../img/landing-page.jpg) 0 -69px no-repeat
    max-width 1920px
    min-width 320px
    width 100%
    min-height 829px
    margin 0 auto
    flex 1 0 auto
    @media(min-width 1441px)
      background-size cover
      background-position bottom
  &__log-in
    padding-top 70px 
    max-width 380px
    @media(max-width 767px) 
        margin 0 auto
  &__text
      z-index 2
      margin-top 281px
      width 100%
      max-width 300px
      text-align end
      float right 
      @media(min-width 1441px)
        margin-top 267px
      @media(max-width 645px)
        margin-right 40px
        color $dark100
        margin-top 220px
      @media(max-width 360px)
        margin-top 104px
        margin-right 0