extends ../../layout/layout
include ../../components/search-rooms/search-rooms

append head 
    meta(name="description", content="landing page")
    meta(name="keywords", content="landing")
    title landing-page
block variables 
    - 
        mainClass = "landing-page js-landing-page" 
        const data = require("../../layout/layout-data.json")
        const pageData = require("./landing-page-data.json")
block content   
    main.landing-page__img
        .landing-page__container
            section.landing-page__log-in.js-landing-page__log-in
                +search-rooms(pageData.searchRooms)
            section.landing-page__text= pageData.landingText