.landing-page
  background-color #fff
  display flex
  flex-direction column
 
  &__container
    max-width 1180px
    width 100%
    margin 0 auto
    padding 0 10px

  &__img
    position relative
    background url(../img/landing-page.jpg) 0 -69px no-repeat
    max-width 1920px
    min-width 320px
    width 100%
    min-height 829px
    margin 0 auto
    flex 1 0 auto
  
    @media (min-width 1441px)
      background-size cover
      background-position bottom
 
  &__log-in
    padding-top 70px
    max-width 380px
  
    @media (max-width 767px)
      margin 0 auto
 
  &__text
    z-index 2
    margin-top 318px
    width 100%
    max-width 300px
    text-align end
    float right
 
    @media (min-width 1441px)
      margin-top 267px
  
    @media (max-width 645px)
      margin-right 40px
      color $dark100
      margin-top 220px
  
    @media (max-width 360px)
      margin-top 168px
      margin-right 0
