
.Form-Elements
  position relative
  // margin-top 20px
  width 1440px
  height 1853px
  background #FFFFFF
  left 0
  &__text-field_1
    wrap 136px, 141px 
    width: 320px;
    height: 67px;
  &__text-field_2
    position: absolute;
    width: 320px;
    height: 64.44px;
    left: 141px;
    top: 220px;
  &__dropdown_field
    position: absolute;
    width: 320px;
    height: 64.44px;
    left: 141px;
    top: 305px;
  &__masked
    wrap 392px, 141px 
    width: 320px;
    height: 64.44px;
  &__date-dropdown
    wrap 495px, 141px
    width 362px
    height 155px
  &__filter-dropdown
    wrap 600px, 141px 
    width 266px
  &__email
    wrap 705px, 141px
    width 266px
  &__dropdown-expanded
    position: absolute;
    width: 266px;
    height: 181.56px;
    left: 140px;
    top: 953px;



  &__solid-button
    wrap 224px, 979px 
    width: 221px
    height: 80px;
    :nth-child(2)
      margin-top 11px
    :nth-child(3)
      margin-top: -44px
      margin-left: 120px;
  &__empty-button
    wrap 336px, 979px
    display flex
    justify-content space-between
    width: 218px;
    height 44px
  &__button-name
    wrap 407px, 979px
    display flex
    justify-content space-between
    width: 143px
  &__long-button
    position: absolute;
    width: 320px;
    height: 44px;
    left: 979px;
    top: 456px
  &__bullet-list
    position: absolute;
    width: 254px;
    height: 147px;
    left: 979px;
    top: 1188px;
    :nth-child(1)
      margin-bottom: 10px
  &__slider
    position: absolute;
    width: 266px;
    height: 47.44px;
    left: 979px;
    top: 137px;
    legend
      position absolute
  &__checkbox-buttons
    position: absolute;
    width: 222px;
    height: 129.12px;
    left: 587px;
    top: 136px;
  &__expandable-checkbox-list
    wrap 1180px, 141px
  &__expandable-checkbox-list_2
    wrap 1244px, 141px

  &__comment
    wrap 1573px, 587px
    width 711px
  &__comfort
    wrap 1540px, 140px
  &__comfort_2
    wrap 1629px, 140px
  &__rich-checkbox
    wrap 1189px, 587px   
    width 266px
    height 145px
    legend
      margin-bottom -2px
  &__rate-button
    wrap 618px, 587px
    width 281px
    height 60px
    legend
      margin-bottom 12p
  &__rate-buttons
    width 260px
    display flex
    justify-content: space-between
    margin-top: 14px
  &__like-button
    position: absolute;
    width: 175px;
    height: 51px;
    left: 587px;
    top: 527px
  &__like-buttons
    margin-top 11px
    display: flex;
    justify-content: space-between;
    width: 91px;
  &__toggle
    position: absolute;
    width: 355px;
    height: 89px;
    left: 586px;
    top: 397px;
    :first-child
      margin-bottom -1px
  &__radio-button
    position: absolute;
    width: 290.74px;
    height: 55px;
    left: 586px;
    top: 306px;
    legend
      margin-bottom: 11px

  &__pagination
    position: absolute;
    left: 979px;
    top: 532px;
    legend
      margin-bottom 12px


.text-field
  &__description
    position absolute
    top 0px
    right 0px
    font-weight normal
    color $dark50
    text-transform: uppercase;
    font-size: 12px;
 





.Form-Elements__dropdown-1
  wrap 869px, 140px 
.Form-Elements__dropdown-2
  position: absolute;
  top: 871px;
  left: 587px;
  width: 320px;

.Form-Elements__dropdown-3
  wrap 869px, 979px 
  width: 320px;
