
.Form-Elements
  position relative
  width 1440px
  min-height 1853px
  background #FFFFFF
  legend
    display inline-block
  &__logo
    margin-left 30px
    padding-top 30px
  &__left-container
    display inline-block
    margin-left 140px
    margin-top 57px
  .text-field__description
    float right
    font-weight normal
    color $dark50
    text-transform: uppercase;
    font-size: 12px;
  &__text-field_1
    width: 320px;
    min-height: 67px;
  &__text-field_2
    margin-top 17px
    width: 320px;
    min-height: 64.44px;
  &__dropdown_field
    margin-top 17px
    width: 320px;
    min-height: 64.44px;
  &__masked
    margin-top 22px
    width: 320px;
  &__date-dropdown
    margin-top 33px
    width 320px
  &__filter-dropdown
    margin-top 35px
    width 266px
  &__email
    margin-top 37px
    width 266px
  &__dropdown-1
    margin-top 96px
  &__dropdown-expanded
    margin-top 17px
    width: 266px;
    min-height: 236px;
  &__expandable-checkbox-list
    width 266px
  &__expandable-checkbox-list_2
    margin-top 42px
    width 266px
  &__comfort
    margin-top 88px
    width 291px
  &__comfort_2
    margin-top 17px
    width 291px
  &__middle-container
    display inline-block
    margin-left: 127px;
    margin-top: 58px;
    vertical-align top
  &__checkbox-buttons
    width: 250px;
    legend
      margin-bottom 13px
    li
      margin-bottom 4px
  &__radio-button
    margin-top 39px
    width: 236px
    min-height: 55px;
    legend
      margin-bottom: 11px
  &__toggle
    width: 355px;
    min-height: 89px;
    margin-top 34px
  &__toggles
    display flex
    justify-content space-between
    flex-direction: column
  &__rate-button
    margin-top 37px
    width 281px
    min-height 60px
    legend
      margin-bottom 12px
  &__like-button
    margin-top 39px
    width: 175px;
    min-height: 51px;      
  &__rate-buttons
    width 260px
    display flex
    justify-content: space-between
    margin-top: 14px
  &__like-buttons
    margin-top 11px
    display: flex;
    justify-content: space-between;
    width: 91px;
  &__dropdown-2
    margin-top 191px
    width: 320px;
    min-height 221px
  &__rich-checkbox
    margin-top 99px  
    width 266px
    min-height 145px
    legend
      margin-bottom 12px
    li
      margin-bottom 7px
  &__comment
    margin-top 226px
    width 711px
    position absolute
  &__right-container
    display inline-block
    margin-left: 36px;
    margin-top: 59px;
    vertical-align top
  &__slider
    width: 266px;
    min-height: 47.44px; 
    legend
      position absolute
  &__solid-button
    margin-top 31px
    width: 221px
    min-height: 80px;
    &_1
      margin-top 11px
      width 99px
      height: 44px;
    &_2
      margin-top: -44px
      margin-left: 120px;
      width 99px
      height: 44px;
  &__empty-button
    margin-top 28px
    display flex
    justify-content space-between
    width: 218px;
    min-height 44px
    &_1
      width: 99px;
    &_2
      width: 99px;
  &__button-name
    margin-top 28px
    display flex
    justify-content space-between
    width: 143px
    cursor pointer
  &__long-button
    margin-top 26px
    width: 320px;
    height: 44px; 
  &__pagination
    margin-top 37px
    legend
      margin-bottom 12px
  &__dropdown-3
    margin-top 200px
    width: 320px;

  &__bullet-list
    margin-top 17px
    width: 254px;
    min-height: 147px; 
    :nth-child(1)
      margin-bottom: 10px












