
.Form-Elements
  position relative
  width 1440px
  min-height 1853px
  background #FFFFFF
  left 0
  &__logo_color
    float left
    margin-left 30px
    margin-top 30px
  &__text-field_1
    position absolute
    top 136px
    left 141px 
    width: 320px;
    min-height: 67px;
  &__text-field_2
    position: absolute;
    width: 320px;
    min-height: 64.44px;
    left: 141px;
    top: 220px;
  &__dropdown_field
    position: absolute;
    width: 320px;
    min-height: 64.44px;
    left: 141px;
    top: 305px;
  &__masked
    wrap 392px, 141px 
    width: 320px;
  &__date-dropdown
    wrap 495px, 141px
    width 320px
  &__filter-dropdown
    position absolute
    top 600px
    left 141px 
    width 266px
  &__email
    wrap 705px, 141px
    width 266px
  &__dropdown-1
    position: absolute;
    top 869px
    left 140px 
  &__dropdown-expanded
    position: absolute;
    width: 266px;
    min-height: 181.56px;
    left: 140px;
    top: 953px;
  &__expandable-checkbox-list
    position absolute
    top 1188px
    left 141px
    width 266px
  &__expandable-checkbox-list_2
    position absolute
    top 1253px
    left 141px
    width 266px
  &__comfort
    position absolute
    top 1540px
    left  140px
    width 291px
  &__comfort_2
    position absolute
    top 1629px
    left 140px
    width 291px
  &__checkbox-buttons
    position: absolute;
    width: 222px;
    min-height: 129.12px;
    left: 587px;
    top: 136px;
  &__radio-button
    position: absolute;
    width: 220,74px
    min-height: 55px;
    left: 586px;
    top: 306px;
    legend
      margin-bottom: 11px
  &__toggle
    position: absolute;
    width: 355px;
    min-height: 89px;
    left: 586px;
    top: 397px;
    :first-child
      margin-bottom -1px
  &__toggles
    display flex
    justify-content space-between
    flex-direction: column
  &__rate-button
    wrap 618px, 587px
    width 281px
    min-height 60px
    legend
      margin-bottom 12p
  &__rate-buttons
    width 260px
    display flex
    justify-content: space-between
    margin-top: 14px
  &__like-button
    position: absolute;
    width: 175px;
    min-height: 51px;
    left: 587px;
    top: 527px
  &__like-buttons
    margin-top 11px
    display: flex;
    justify-content: space-between;
    width: 91px;
  &__dropdown-2
    position: absolute;
    top: 871px;
    left: 587px;
    width: 320px;
  &__rich-checkbox
    wrap 1189px, 587px   
    width 266px
    min-height 145px
    legend
      margin-bottom -2px
  &__comment
    position absolute
    top 1573px
    left 587px
    width 711px
  &__slider
    position: absolute;
    width: 266px;
    min-height: 47.44px;
    left: 979px;
    top: 137px;
    legend
      position absolute
  &__solid-button
    position absolute
    top 224px
    left 979px 
    width: 221px
    min-height: 80px;
    &_1
      margin-top 11px
      width 99px
    &_2
      margin-top: -44px
      margin-left: 120px;
      width 99px
  &__empty-button
    position absolute
    top 336px
    left  979px
    display flex
    justify-content space-between
    width: 218px;
    min-height 44px
    &_1
      width: 99px;
    &_2
      width: 99px;
  &__button-name
    wrap 407px, 979px
    display flex
    justify-content space-between
    width: 143px
    cursor pointer
  &__long-button
    position: absolute;
    width: 320px;
    min-height: 44px;
    left: 979px;
    top: 456px
  &__pagination
    position: absolute;
    left: 979px;
    top: 532px;
    legend
      margin-bottom 12px
  &__dropdown-3
    position absolute
    top 869px
    left 979px 
    width: 320px;

  &__bullet-list
    position: absolute;
    width: 254px;
    min-height: 147px;
    left: 979px;
    top: 1188px;
    :nth-child(1)
      margin-bottom: 10px












