.Cards
	position: absolute
	width: 1440px
	height: 1350px
	background: #F4F4F6
	left: 1490px
	top: 0px
	
.search-rooms
	position: relative
	width: 380px
	height: 374px
	left: 140px
	top: 150px
	background: #FFFFFF
	border: 1px solid rgba(0, 0, 0, 0.12)
	box-sizing: border-box
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
	border-radius: 4px
.search-rooms__Button-solid_long
	cont 300px,30px
.container__title
	position: absolute
	width: 320px
	height: 60px
	left: 30px
	top: 40px
	font-family: OpenSans, sans-serif
	font-style: normal
	font-weight: bold
	font-size: 24px
	line-height: 30px
	color: #1F2041
.search-rooms__com-data
	cont 120px, 30px
.search-rooms__exit-data
	cont 120px, 200px
.registration
	position: absolute
	width: 380px
	height: 646px
	left: 140px
	top: 564px
	background: #FFFFFF
	border: 1px solid rgba(0, 0, 0, 0.12)
	box-sizing: border-box
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
	border-radius: 4px
.reservation
	position: absolute
	width: 380px
	height: 511px
	left: 560px
	top: 150px
	background: #FFFFFF
	border: 1px solid rgba(0, 0, 0, 0.12)
	box-sizing: border-box
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
	border-radius: 4px
.reservation__com-data
	cont 90px, 30px
.reservation__exit-data
	cont 90px, 200px
.logIn
	position: absolute
	width: 380px
	height: 358px
	left: 560px
	top: 701px
	background: #FFFFFF
	border: 1px solid rgba(0, 0, 0, 0.12)
	box-sizing: border-box
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
	border-radius: 4px
.logIn__Text-Field_Date-Picker
	cont 90px, 30px
.logIn__Text-Field_Date-Picker_pass
	cont 144px, 30px
.logIn__Button-solid_long
	cont 208px, 30px
.logIn__text
	position: absolute
	width: 164px
	height: 18px
	left: 30px
	top: 294px
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 18px
	display: flex
	align-items: center
	color: #000000
.logIn__Button-empty
	cont 282px, 251px
.registration__data
	cont 242px, 30px
.registration__logIn
	cont 326px, 30px
.legend__logIn
	cont 74px, 0px
.registration__Button-empty
	cont 572px, 251px
.registration__text
	cont 584px, 30px
.registration__Button-solid_long	
	cont 498px, 30px
.reservation__Button-solid_long
	cont 437px, 30px
.Final
	font-family: OpenSans
	font-style: normal
	font-weight: bold
	font-size: 19px
	line-height: 24px
	color: #1F2041
	width: 591826810px
	height: 24px
.reservation__Final
	cont 393px, 31px
.reservation__guests
	cont 174px, 30px
.reservation__description
	cont 40px, 30px
.Final__border
	position: absolute
	width: 182px
	height: 1px
	left: 64px
	top: 18px
	float: left
	display: inline
	border-bottom: 1px dashed rgba(31, 32, 65, 0.25)
	box-sizing: border-box
.Final__Sum 
	position: absolute
	right: 0px
	display: inline
	float: left
.Count
	height: 104px
	width: 319px
.reservation_Count
	cont 259px, 31px
.Count__text
	width: 214px
	div
		margin-bottom: 10px 
.Count__Cost
	position: absolute
	right: 0px
	text-align: right
	div
		margin-bottom: 10px 
.inf
	width: 20px
	height: 20px
	border: 1px solid rgba(31, 32, 65, 0.25)
	box-sizing: border-box
	border-radius: 25px
.reservation__inf
	cont 34px, 219px
	display: block
.reservation__inf_2
	cont 3436px, 219px
	display: block
.i
	text-align: center
	font-weight: bold
	margin-top: 2px
	font-size: 12px
	line-height: 14px
	color: rgba(31, 32, 65, 0.25)
.calendar
	position: absolute
	width: 320px
	height: 369px
	left: 980px
	top: 150px
	background: #FFFFFF
	border: 1px solid rgba(31, 32, 65, 0.25)
	box-sizing: border-box
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
	border-radius: 4px
.lux-photo
	position: absolute
	width: 270px
	height: 257px
	left: 980px
	top: 559.5px
	background: #FFFFFF
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
	border-radius: 4px
.description
	position: absolute
	width: 233px
	height: 67px
	left: 20px
	top: 171px
	
.description__num
	font-family: Quicksand
	font-style: normal
	font-weight: bold
	font-size: 14px
	line-height: 17px
	color: #1F2041
	border-bottom: 1px solid rgba(31, 32, 65, 0.1)
	padding-bottom: 10px
.description__cost
	cont 4px, 133px
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 14px
	line-height: 18px
	color: rgba(31, 32, 65, 0.5)
.description__lux
	cont 7px, 60px
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 12px
	line-height: 15px
	text-transform: uppercase
	color: #BC9CFF
.description__rating
	position: absolute
	top: 43px
.description__reviews
	position: absolute
	left: 140px
	top: 46.56px
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 14px
	line-height: 18px
	text-align: right
	color: rgba(31, 32, 65, 0.5)
.lux-photo-2
	position: absolute
	width: 270px
	height: 257px
	left: 980px
	top: 856.5px

	background: #FFFFFF
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
	border-radius: 4px
.search-rooms__guests
	cont 205px, 30px