.ColorsType
    position relative
    width 1440px
    height 900px
    background #ffffff
.Default__logo
    cont 30px, 30px
.ColorsType__explanation
    position absolute
    left 260px
    top 152px
.ColorsType__text
    wrap 145px, 846px