.HeadersFooters
    position absolute
    left 2980px
    top 0px
    width 1440px
    height 1350px
    background #F4F4F6
.HeadersFooters__Header_Login
    wrap 150px, 0px 
.Header_Login
    position relative
    width 1440px
    height 70px
    background #ffffff
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.header__logo_color
    cont 15px, 140px 
.header__toxin
    cont 28.33px, 192.5px 
.header-login__nav
    position relative
    left 543px
    top 13px
.nav
    width 589px
    height 21px
    line-height 17px
    color $dark50
    margin 0px 25px 3px 0px
    a
        position relative
        margin 0px 28px 3px 0px
        float left
        text-decoration none
        .header-login__nav
            position relative
            left 543px
            top 13px
.nav
    margin 0px 25px 3px 0px
    a
        position relative
        margin 0px 28px 3px 0px
        float left
        color $dark50
        text-decoration none
        &nth-of-type(4)
            margin-left 17px
.header-login__Button-empty
    cont 18px, 1100px
// .Button-empty_login
//     @extend .Button-empty
//     width 79px
//     height 34px
//     active-2
// .Button-empty__back_login
//     @extend .Button-empty__back
//     width 75px
//     height 30px
// .Button-empty__text_login
//     @extend .Button-empty__text
//     top 9px
.register
    position absolute
    width 101px
    height 34px
    left 1199px
    top 18px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius 22px
    border none
    &active
        background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        opacity 0.5
    &focus
        outline none
    div
        position absolute
        width 62px
        height 15px
        left 19px
        top 9px
        font-family Montserrat
        font-style normal
        font-weight bold
        font-size 12px
        line-height 15px
        text-transform uppercase
        color #FFFFFF
        border-radius 0px
.header_2
    position absolute
    width 1440px
    height 70px
    left 0px
    top 260px
    background #ffffff
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.header-2__nav
    cont -2px, 53px 
.Cosmin
    position absolute
    left 1186px
    top 23px
    color $dark50
    display inline
.Cosmin__border
    position absolute
    height 30px
    border-left 1px solid rgba(31, 32, 65, 0.1)
    display inline
    left 1155px
    top 20px
.expand-more
    width 24px
    height 21px
    display flex
    align-items center
    text-align center
.header-login__expand-more
    cont 0px, 228px 
.header-2__nav__expand-more 
    cont 25px, 770px 
.footer-2
    position absolute
    width 1440px
    height 70px
    left 0px
    top 743px
    background #FFFFFF
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.footer-2__cc
    position absolute
    top 23px
    left 1188px
    img
        margin 0px 18px 0px 0px
.footer-3__cont
    cont 49px, 0px 
.footer-3
    position relative
    width 1440px
    height 367px
    left 0px
    top 853px
    background #FFFFFF
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.copyright
    width 332px
    height 18px
    left 140px
    font-style normal
    font-weight normal
    font-size 14px
    line-height 17px
.nav_2
    @extend .nav
    left 595px
    width 800px
.copyright
    position absolute
    width 342px
    height 18px
    left 140px
    top 28.5px
    font-family Montserrat
    font-style normal
    font-weight normal
    font-size 14px
    line-height 17px
    color $dark75
.footer-1
    position absolute
    width 1440px
    height 372px
    top 370px
    font-family Montserrat
    font-style normal
    font-weight normal
    font-size 14px
    line-height 17px
    color $dark50
    background #FFFFFF
    box-shadow 0px 1px 0px rgba(31, 32, 65, 0.1)
.email__footer-1
    cont 208px, 1040px 
.email
    width 260px
    height 44px
    background #FFFFFF
    border 1px solid rgba(31, 32, 65, 0.25)
    box-sizing border-box
    border-radius 4px
    input
        position absolute
        width 134px
        height 24px
        font-family Montserrat
        font-style normal
        font-weight normal
        font-size 14px
        line-height 24px
        margin 6px 0px 8px 15px
        border-width 0px
        color rgba(31, 32, 65, 0.25)
    button
        position absolute
        width 42px
        height 42px
        font-family Material Icons
        font-style normal
        font-weight normal
        font-size 24px
        line-height 24px
        align-items center
        text-align center
        top 0px
        right 0px
        border none
        background-color #fff
.Footer-Widgets
    position absolute
.Footer-Widgets_toxin
    position absolute
    width 260px
    height 156px
    left 140px
    top 100px
.Footer_Widgets_text
    position absolute
    width 260px
    height 96px
    left 0px
    top 58px
    font-family Montserrat
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    color rgba(31, 32, 65, 0.75)
.toxin_1
    position absolute
    left 52.5px
    top 13.33px
    color $dark100
.Footer-Widgets_navigation
    position absolute
    width 81px
    height 168px
    left 440px
    top 104px
    div
        font-weight bold
        font-size 12px
        line-height 15px
        text-transform uppercase
        color $dark100
    p
        position relative
        margin 21.5px 0px 0px 0px
.Footer-Widgets_about
    position absolute
    width 89px
    height 168px
    left 640px
    top 104px
    div
        font-weight bold
        font-size 12px
        line-height 15px
        text-transform uppercase
        color $dark100
    p
        position relative
        margin 21.5px 0px 0px 0px
.Footer-Widgets_support
    position absolute
    width 113px
    height 130px
    left 840px
    top 104px
    div
        font-weight bold
        font-size 12px
        line-height 15px
        text-transform uppercase
        color $dark100
    p
        position relative
        margin 21.5px 0px 0px 0px
.Footer-Widgets_subscribe
    position absolute
    width 218px
    height 84px
    left 1040px
    top 104px
    div
        font-weight bold
        font-size 12px
        line-height 15px
        text-transform uppercase
        color $dark100
    p
        position relative
        margin 20px 0px 0px 0px
        font-family Montserrat
        font-style normal
        font-weight normal
        font-size 14px
        line-height 24px
.Footer-Widgets__logo_color
    cont 0px, 0px 
.footer-3__bot
    position absolute
    width 560px
    height 108px
.Logo
    position absolute
    width 105.69px
    height 40px
    left 667px
    top 52px
.footer-3__toxin
    position absolute
    width 53.19px
    height 12.95px
    right 0px
    top 13.33px
.footer-3__text
    position absolute
    width 560px
    height 48px
    left 440px
    top 110px
    font-family Montserrat
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    text-align center
    color rgba(31, 32, 65, 0.75)
.footer-3__cc
    position absolute
    width 142px
    height 24px
    left 664px
    top 186px
    img
        margin 0px 18px 0px 0px