.HeadersFooters
    position absolute
    left 2980px
    top 0px
    width 1440px
    height 1350px
    background #F4F4F6
.HeadersFooters__Header
    wrap 150px, 0px 
.HeadersFooters__Header_reg
    wrap 260px, 0px 
.Header__Button_register
    wrap 18px, 1199px
.HeadersFooters_Footer
    wrap 370px, 0px
.Footer
    width 1440px
    height 372px
    color $dark50
    background #FFFFFF
    box-shadow 0px 1px 0px rgba(31, 32, 65, 0.1)
