.radio-buttons
  min-width 221px
.radio-button
  position relative
  min-width 110px
  display inline-block
  margin-right 8px
  cursor pointer
  &__label
    display inline-block
    color: rgba(31, 32, 65, 0.5);
    margin-left 10px
    cursor pointer
  &__input
    appearance none
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    float left
    cursor pointer
    &:hover
      border: 1px solid #BC9CFF;
    &:focus
      outline: none
    &:checked
      border: 1px solid #BC9CFF;
      outline: none
      ~ .radio-button__label
        color: rgba(31, 32, 65, 0.75);
      &:before
        content ''
        position absolute
        width: 12px;
        height: 12px;
        left: 4px;
        top: 4px
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 10px;