legend radio buttons
//- label.radio-button(for ='мужчина')
//-     .radio-button__input
//-     input(type="radio" name ='gender' id='мужчина' checked)
//-     | Мужчина 
    
//- label.radio-button(for ='женщина')
//-     .radio-button__input
//-     input(type="radio" name ='gender' id='женщина')
//-     | Женщин



.radio-btn
    input(type="radio" value="value-1" id="rc1" name="rc1" checked="checked")
    label(for='rc1' onclick)
        | Мужчина
.radio-btn
    input(type="radio" value="value-2" id="rc2" name="rc1")
    label(for='rc2' onclick)
        | Женщина