mixin logo-color
    .logo-color
        .logo-color__circle
            .logo-color__circle-back-1
            .logo-color__circle-part-1-color
            .logo-color__circle-back-2
            .logo-color__circle-part-2-color
        .logo-color__toxin
            img(src="/assets/img/TOXIN.svg")