.Dropdown-guests_expanded
    width 320px
    height 67px
.Dropdown__border_expanded
    position absolute
    width 320px
    height 44px
    top 23px
    background #FFFFFF
    border 1px solid rgba(31, 32, 65, 0.5)
    box-sizing border-box
    border-radius 4px
.Dropdown__Field_expanded
    position: absolute;
    width: 320px;
    height: 159px;
    left: 0px;
    top: 62.56px;

    background: #FFFFFF;
    /* Dark 50% */

    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
.Dropdown__guests-option 
    position: absolute
    width: 83px
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* Dark 100% */

    color: #1F2041;
    div 
        padding:  13px 0px 9px 15px
.Dropdown__guests-plus 

.Dropdown__minus 
.Dropdown__adult_plus
    wrap 7px, 283px
    width: 30px;
    height: 30px;
.Dropdown__adult_minus
    wrap 7px, 221px
    width: 30px;
    height: 30px;
.Dropdown__child_plus
    wrap 44px, 283px
    width: 30px;
    height: 30px;
.Dropdown__baby_plus
    wrap 82px, 283px
    width: 30px;
    height: 30px;
.Dropdown__plus
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    div 
        position: absolute
        left 8px
        top 4px

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: rgba(31, 32, 65, 0.5);
.Dropdown__sum
    position: absolute;
    left: 262px;
    top: 13px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    /* Dark 100% */

    color: #1F2041;