.Text-Field
    legend Dropdown
    .Dropdown__border_expanded
        .Text-Field_dropdown(type='text' value='Сколько гостей')
    .Dropdown__Field_expanded
        .Dropdown__guests-option 
            div взрослые
            div дети
            div младенцы
        .Dropdown__sum 0

        .Dropdown__adult_plus.Dropdown__plus 
            div +
        .Dropdown__adult_minus.Dropdown__plus 
            div -
        .Dropdown__child_plus.Dropdown__plus 
            div +
        .Dropdown__baby_plus.Dropdown__plus 
            div +

