.fonts
    width 413px
    height 321px
    @media (max-width: 1024.98px) 
        max-width 413px
    &__styles
        position absolute
        height: 317px;
        left 67px
        display: flex
        flex-direction: column;
        justify-content: space-between;

    &__tegs
        position absolute
        height 273
        width 37px
        height 297px
        display: flex
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &_h1
            color $dark25
            font-size 24px
            line-height 29px
            margin-bottom: 34px
        &_h2
            color $dark25
            font-size 19px
            line-height 23px
            margin-bottom: 29px
        &_h3
            color $dark25
            font-size 12px
            line-height 15px
            text-transform uppercase
        &_body
            color $dark25
            font-size 14px
            line-height 24px