//- 
    firstLegend: название левого dropdown,
    secondLegend: название правого dropdown
//- 
include ..\text-field\text-field
include ..\calendar\calendar
mixin data-dropdown(options = {})
    label.data-dropdown
        .data-dropdown__container
            legend= options.firstLegend
            .text-field_data
                input.text-field__border(class="datepicker-here" placeholder="ДД.ММ.ГГГГ" type="data" data-clear-button="true" data-range="true"  data-multiple-dates-separator=" - " id="data-dropdown-1" autocomplete="off") 
        .data-dropdown__container
            legend= options.secondLegend
            .text-field_data
                input.text-field__border(class="datepicker-here" placeholder="ДД.ММ.ГГГГ" type="data" data-clear-button="true" data-range="true"  data-multiple-dates-separator=" - " id="data-dropdown-2" autocomplete="off") 
mixin data-filter
    .text-field_data
        input.text-field__border(class="datepicker-here" placeholder="ДД.ММ.ГГГГ" type="data" data-clear-button="true" data-range="true"  data-multiple-dates-separator=" - " data-date-format="d M") 