//- data-double: дата с двумя полями для ввода. Нужна инициализация js.
//-             dropdowns: массив, с названиями dropdown 
//- data-field: обычное поле с датой
include ..\text-field\text-field
mixin data-double({dropdowns = ["прибытие", "выезд"]})
    .data-double.js-data-double
        each dropdown, index in dropdowns
            .data-double__container
                legend= dropdown
                +text-field("dropdown")
                    input.text-field__input( placeholder="ДД.ММ.ГГГГ" class=("js-data-double-" + (index + 1)) readonly)
mixin data-field
    +text-field
        input.text-field__input(class="datepicker-here" data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ" data-clear-button="true" id="#my-datepicker" readonly)