include ..\..\components\header\header
include ..\..\components\footer\footer
include ..\..\components\log-in\log-in
.sign-in
    +header({login: false})
    main.sign-in__img
        .sign-in__log-in 
            +log-in
+footer

