extends ../../layout/layout
include ../../components/log-in/log-in 
append head 
    meta(name="description", content="sign in")
    meta(name="keywords", content="login")
    title sign-in
block variables 
    - 
        mainClass = "sign-in" 
        const data = require("../../layout/layout-data.json")
        const pageData = require("./sign-in-data.json")
block content  
    main.sign-in__img
        section.sign-in__log-in 
            +log-in(pageData.logIn)
