.sign-in
  background-color: #FFFFFF;
  width 100%
  min-width 320px
  min-height: calc(100vh - 372px);
  margin 0 auto
.sign-in__img
  position relative
  background url(/assets/img/sign-in-image.jpg) 0 -69px no-repeat
  max-width 1920px
  min-width 320px
  min-height 702px
  margin 0 auto
  display flex
  justify-content: center
  align-items: center
  @media(min-width 1441px)
    background-size cover
    background-position bottom
  @media(max-width 768px)
    background none
.sign-in__log-in 
  z-index 1
  max-width 380px
  width 100%