//- text: название кнопки
//- type: тип кнопки
//-     "empty" - кнопка с белым фоном.
//-     "arrow" - кнопка со стрелкой.
mixin button({type = "", text = ""} = {})
    button.button(class = (type === "empty" ? "button_color_white"
                  : type === "arrow" ? "button_arrow": ""))
        div.button__text(class = (type === "empty" ? "button__text_color_purple": ""))= text 
