//- text: название кнопки
//- type: тип кнопки
//-     "button" - по умолчанию. 
//-     "empty" - кнопка с белым фоном.
//-     "long" - длинная кнопка.
mixin button({type = "button", text = ""})
    button(class= (
        type === "empty" ? "button_empty" : 
        type === "long" ? "button_long":
        "button"))
        div(class = ( type === "empty" ? "button__text_empty": "button__text"))= text 
