mixin button({background = "", text = "", arrow = false} = {})
    button.button(class=`        
            ${background === "transparent" ? "button_color_transparent": ""} 
            ${ arrow ? "button_arrow": ""}
        `)
        div.button__text(class=
            (background === "transparent" ? "button__text_color_solid": "")
            )= text 