mixin button({background = "", text = "", arrow = false} = {})
    button.button(class=`        
        ${background === "white" ? "button_color_white": ""} 
        ${ arrow ? "button_arrow": ""}
        `)
        div.button__text(class=
            (background === "white" ? "button__text_color_purple": "")
            )= text 
