.button
  position relative
  min-width 99px
  min-height 44px
  background linear-gradient(180deg, $purple 0%, $blue 100%)
  border-radius 22px
  border none
  display flex
  align-items center
  justify-content center
  cursor pointer
  &:focus
  &:hover
    background linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%)
    outline none
    transition 0.3s
  &__text
    font-weight bold
    font-size 12px
    text-transform uppercase
    color white
    padding 0 10px
    white-space nowrap
    &_color_solid
      color $purple
      z-index 3
  &_with-arrow 
    min-width 320px
    &::after
      content 'arrow_forward'
      font-family 'Material Icons'
      font-size 24px
      right 10px
      z-index 2
      color white
      position absolute
    .button__text
      padding 0 30px
  &_color_transparent
    &::after
      content ''
      position absolute
      right 2px
      bottom 2px
      left 2px
      top 2px
      background-color white
      border-radius 22px
      z-index 2
  &_header
    min-width 87px
    min-height 34px
