//- text: название кнопки
//- type: тип кнопки
//-     "button" - по умолчанию. 
//-     "empty" - кнопка с белым фоном.
//-     "long" - длинная кнопка.
mixin button(options = {})
    button(class= (
        options.type === "empty" ? "button_empty" : 
        options.type === "long" ? "button_long":
        "button"
        ))
        div(class = ( options.type === "empty" ? "button__text_empty": "button__text"))= options.text 
