//- options.text = название кнопки
//- options.type = тип кнопки: 
//-                            "button" - по умолчанию. 
//-                            "_empty" - кнопка с белым фоном.
//-                            "_long" - длинная кнопка 1.

mixin button(options = {})
    button(class= "button" + (options.type ? options.type : "") )
        div(class = ( options.type === "_empty" ? "button__text_empty": "button__text"))= options.text
        if(options.type === "_long")
            span.material-icons arrow_forward
