include ../social-networks/social-networks
mixin footer-creative({copyright = "", socialNetworks = [], show = false} = {})
    .footer-creative(class=`${show ? "footer-creative_show":""}`)
        .footer-creative__logo
            +logo-color
        .footer-creative__text!= copyright            
        .footer-creative__social-networks
            +social-networks(socialNetworks)