.footer-creative
  min-height 130px
  width 380px
  display none
  flex-direction column
  justify-content space-between
  align-items center

  &::before
    content ''
    position absolute
    border-top 1px solid $dark5
    width 99%
    top 0
    left 0

  @media (max-width 768px)
    display flex
  
  &_show
    display flex

  &__text
    width 100%
    text-align center
    padding 20px 0
 
  &__social-networks
    min-width 112px
