mixin footer-creative
    .footer-creative
        .footer-creative__logo
            +logo-color
        .footer-creative__text
            | Copyright © 2018 Toxin отель. Все права защищены.
        ul.footer-creative__social-networks-list
            li.footer-creative__social-networks-item
                a.footer-creative__social-networks-link(href="https://twitter.com/", target="_blank", rel="noopener noreferrer")
                    img.footer-creative__social-networks-img(src="./assets/img/twitter.svg", alt="twitter")
            li.footer-creative__social-networks-item
                a.footer-creative__social-networks-link(href="https://www.facebook.com/", target="_blank", rel="noopener noreferrer")
                    img.footer-creative__social-networks-img(src="./assets/img/facebook.svg", alt="facebook")
            li.footer-creative__social-networks-item
                a.footer-creative__social-networks-link(href="https://www.instagram.com/", target="_blank", rel="noopener noreferrer")
                    img.footer-creative__social-networks-img(src="./assets/img/instagram.svg", alt="instagram")