.footer-creative
  min-height 130px
  width 380px
  display flex
  flex-direction column
  justify-content space-between
  align-items center 
  &__text
    width 100%
    text-align center
  &__social-networks
    min-width 112px