mixin like-button({checked = false, value = 0})
    label.like-button.js-like-button
        input.like-button__input(type="checkbox" class="js-like-button__input" checked=checked)  
        .like-button__border
        span.like-button__symbol
        span.like-button__symbol_checked
        .like-button__value.js-like-button__value= value 
