.like-button
  position relative
  width 40px  
  height 20px 
  cursor pointer  
  display inline-flex
  align-items: center 
  justify-content space-between
  font-size 10px 
  &__border
    position absolute
    width 40px  
    height 20px
    background rgba(31, 32, 65, 0.25)
    box-sizing border-box
    border-radius 10px
    &:after
      content ''
      position absolute
      background: white
      width 38px
      height 18px
      margin 1px 
      border-radius 10px
  &__symbol
    font-family 'Material icons' 
    padding-left 5px  
    color rgba(31, 32, 65, 0.25)
    z-index 2
  &__value 
    color rgba(31, 32, 65, 0.25)
    padding-right: 10px; 
    z-index 2
  &__symbol_checked
    @extends .like-button__symbol
    display none
    color #BC9CFF 
  &__input
    visually-hidden()
  &__input:checked 
    ~ .like-button__border
      background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      &:focus
        background $dark100
        outline none  
    ~ .like-button__value
      color #BC9CFF
    ~ .like-button__symbol
      display none
    ~ .like-button__symbol_checked 
      display block
  &__input:focus
    ~ .like-button__border
      background $dark100
      outline none  