.like-button
  position relative
  width 40px
  height 20px
  cursor pointer
  display inline-flex
  align-items center
  justify-content space-between
  font-size 10px
  user-select none
  &__border
    position absolute
    width 40px
    height 20px
    background $dark25
    box-sizing border-box
    border-radius 10px
    &::after
      content ''
      position absolute
      background white
      width 38px
      height 18px
      margin 1px
      border-radius 10px
  &__symbol
    &::after
      content 'favorite_border'
      position absolute
      font-family 'Material Icons'
      padding-left 5px
      color $dark25
      z-index 2
      top -1px
  &__value
    color $dark25
    padding-right 10px
    z-index 2 
    pointer-events none
  &__input
    visually-hidden()
  &__input:focus
    ~ .like-button__border
      background linear-gradient(180deg, $purple 0%, $blue 100%)
      outline none
  &__input:checked
    ~ .like-button__border
      background linear-gradient(180deg, $purple 0%, $blue 100%)
      &:focus
        background $dark100
        outline none
    ~ .like-button__value
      color $purple
    ~ .like-button__symbol
      &::after
        content 'favorite'
        color $purple
