include ..\..\includes\header\header
include ..\..\includes\footer\footer
include ..\..\includes\log-in\log-in
.sign-in
    +header({login: false})
    main.sign-in__img
        .sign-in__log-in 
            +log-in
+footer

