mixin diagram(options = {})
    -
        const {
            vote = "", 
            width = 140,
            height = 140,
            ratingList = [],
        } = options
    .diagram
        .diagram__circle-container
            canvas.js-diagram(width=width height=height)
            h3.diagram__circle-num.js-diagram__circle-num
                span.diagram__circle-vote= vote
        .diagram__rating-container 
            ul.diagram__rating-list
                each item in ratingList
                    - const {color, text} = item
                    li.diagram__rating(class=`diagram__rating_color_${color}`)= text
