.diagram
  display flex
  justify-content space-between
  flex-wrap wrap
  width 100%
  &__circle-container
    position relative
    height 120px
    width 120px
    margin-top 20px
  &__circle-num
    position absolute
    display flex
    flex-direction column
    top 40px
    left 28px
    align-items center
    text-align center
    color $purple
    font-weight bold
    font-size 24px
    line-height 21px
    z-index 4
  &__circle-vote
    font-size 12px
  &__rating-container
    margin-top 50px
    position relative
    padding-left 10px
    margin-left 6px
  &__rating-item
    display flex
    margin-top 1px  
    align-items center
  &__rating-circle
    background $dark75
    width 10px
    height 10px
    border-radius 50%
    margin-right 4px