mixin diagram
    .diagram
        .diagram__circle
            .circle__back
            .circle__part-left
            .circle__part-right-top
            .circle__part-right-bot
            h3.circle__text 260 
                span голосов
        .diagram__rating
            p.rating_well Великолепно 
            p.rating_good Хорошо 
            p.rating_satisfactorily Удовлетворительно 
            p.rating_disappointed Разочарован
