include ..\..\components\header\header
include ..\..\components\footer\footer
include ..\..\components\calendar\calendar
include ..\..\components\dropdown-guests\dropdown-guests
include ..\..\components\range-slider\range-slider
include ..\..\components\checkbox\checkbox
include ..\..\components\dropdown-facilities\dropdown-facilities
include ..\..\components\expandable-checkbox-list\expandable-checkbox-list
include ..\..\components\room-card\room-card
include ..\..\components\pagination\pagination
include ..\..\components\data-dropdown\data-dropdown
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title search-room
    body 
        .search-rooms-page
            +header({login: false})
            main.search-rooms-body
                section.search-rooms-page__options
                    .options__data-filter
                        legend даты пребывания в отеле
                        +data-filter
                    .options__dropdown-guests
                        legend гости
                        +dropdown-guests
                    .options__range-slider
                        legend.range-slider-name диапазон цены
                        +range-slider
                        .range-slider-descr Стоимость за сутки пребывания в номере
                    .options__checkbox
                        legend правила дома
                        +checkbox({ name: "Можно курить"})
                        +checkbox({ name: "Можно с питомцами"})
                        +checkbox({ name: "Можно пригласить гостей (до 10 человек)"})
                    .options__checkbox-2
                        legend доступность
                        +checkbox({ name: "Ширина коридоров в номере не менее 91 см.", title:"Широкий коридор"})
                        +checkbox({ name: "На 1 этаже вас встретит специалист и проводит до номера.", title:"Помощник для инвалидов"})
                    .options__dropdown-facilities
                        legend удобства номера
                        +dropdown-facilities
                    .options__checkbox-list
                        +expandable-checkbox-list({title:'дополнительные удобства'})
                .search-rooms-page__rigth-container
                    h1.search-rooms-page__title Номера, которые мы для вас подобрали
                    section.search-rooms-page__hotels
                            +room-card({img_1: "/assets/img/room-888.jpg", num:"888", lux: true, price: "9 990", rate:"5", reviews:"145"})
                            +room-card({img_1: "/assets/img/room-840.jpg", num:"840", lux: false, price: "9 990", rate:"4", reviews:"65"})
                            +room-card({img_1: "/assets/img/room-980.jpg", num:"980", lux: true, price: "8 500", rate:"3", reviews:"35"})
                            +room-card({img_1: "/assets/img/room-856.jpg", num:"856", lux: false, price: "7 300", rate:"5", reviews:"19"})
                            +room-card({img_1: "/assets/img/room-740.jpg", num:"740", lux: false, price: "6 000", rate:"4", reviews:"44"})
                            +room-card({img_1: "/assets/img/room-982.jpg", num:"982", lux: false, price: "5 800", rate:"3", reviews:"56"})
                            +room-card({img_1: "/assets/img/room-678.jpg", num:"678", lux: false, price: "5 000", rate:"5", reviews:"45"})
                            +room-card({img_1: "/assets/img/room-450.jpg", num:"450", lux: false, price: "5 300", rate:"4", reviews:"39"})
                            +room-card({img_1: "/assets/img/room-350.jpg", num:"350", lux: false, price: "5 000", rate:"3", reviews:"77"})
                            +room-card({img_1: "/assets/img/room-666.jpg", num:"666", lux: false, price: "5 000", rate:"3", reviews:"25"})
                            +room-card({img_1: "/assets/img/room-444.jpg", num:"444", lux: false, price: "5 000", rate:"3", reviews:"15"})
                            +room-card({img_1: "/assets/img/room-352.jpg", num:"352", lux: false, price: "5 000", rate:"3", reviews:"55"})
                    section.search-rooms-pagination
                        +pagination
        +footer