.search-rooms-page
  background-color #FFFFFF 
  min-width 320px
  margin 0 auto
  display flex
  flex-direction: column
  height 100%
  &__container
    max-width 1160px
    width 98%
    margin 0 auto
    @media(min-width 1700px)
      max-width: 1500px
    @media(min-width 1000px) and (max-width 1200px)
      max-width: 1000px
    @media(max-width 999px)    
      max-width 920px
    @media(max-width 730px)
      max-width 500px
      width 90%
.search-rooms-body
  position relative
  background #fff
  margin 23px auto 62px
  display flex 
  justify-content: space-between
  max-width 1160px
  width 100%
  flex 1 0 auto
  @media(min-width 1700px)
    max-width: 1500px
  @media(max-width 730px)
    flex-direction column 
    align-items center 
    margin-left 10px
.search-rooms-page__options   
  width 266px 
  display inline-flex 
  flex-direction column
  @media(max-width 730px)
    max-width 460px
    width 90%
    margin 0 20px
  .options__dropdown-guests
    margin-top 11px
  .options__range-slider
    margin-top 23px
    legend
      position absolute
  .options__checkbox
    margin-top 20px
    width 242px 
    legend
      margin-bottom 13px
    label 
      margin-bottom 5px
  .options__checkbox-2
    margin-top 18px
    label 
      margin-top 12px
  .options__dropdown-facilities
    margin-top 18px
  .options__checkbox-list
    margin-top 24px
.search-rooms-page__rigth-container
  display inline-flex 
  flex-direction column 
  align-items center
  @media(max-width 730px)
    margin-top 180px
.search-rooms-page__title 
  margin-top 7px
  margin-right auto
  @media(max-width 999px)
    text-align: center
.search-rooms-page__hotels  
  margin-top 1.3rem 
  display inline-grid
  grid-template repeat(4, 270px) / 270px 270px 270px 
  grid-row-gap 8px 
  grid-column-gap 12px
  @media(min-width 1700px)
    grid-template repeat(3, 270px) / 270px 270px 270px 270px   
  @media(min-width 900px) and (max-width 1200px)
    grid-template repeat(6, 270px) / 270px 270px
  @media(max-width 899px) 
    grid-template repeat(12, 270px) / 270px
.search-rooms-pagination 
  margin-top 1.8rem
  height 80px