.search-room
  background-color #FFFFFF 
  min-width 320px
  margin 0 auto
  display flex
  flex-direction column
  height 100%
  &__container
    max-width 1160px
    width 98%
    margin 0 auto 
    @media(max-width 1200px)
      width 90%
    @media(max-width 730px)
      max-width 500px
      width 85%
  &__body
    position relative
    background #fff
    margin 23px auto 62px
    display flex 
    justify-content space-between
    max-width 1160px
    width 100%
    flex 1 0 auto 
    @media(max-width 730px)
      flex-direction column
  &__options   
    width 266px 
    display inline-flex 
    flex-direction column
    @media(max-width 730px)
      width 100%
    &-dropdown-guests
      margin-top 11px
    &-range-slider
      margin-top 23px
      &-legend
        position absolute
    &-checkbox
      margin-top 41px
      &-legend
        padding-bottom 13px
      &-item
        padding-bottom 10px
    &-checkbox-2
      margin-top 14px
      &-item
        margin-top 12px
    &-dropdown-facilities
      margin-top 18px
    &-checkbox-list
      margin-top 24px
  &__right-container
    display inline-flex 
    flex-direction column 
    align-items center
    margin-left 20px
    @media(max-width 730px)
      margin-top 80px
      margin-left 0
  &__title 
    margin-top 7px
    margin-right auto
    @media(max-width 999px)
      text-align center
  &__hotels  
    margin-top 20.8px 
    display inline-grid
    grid-template repeat(4, 257px) / 270px 270px 270px 
    grid-row-gap 21px 
    grid-column-gap 12px 
    @media(min-width 900px) and (max-width 1200px)
      grid-template repeat(6, 257px) / 270px 270px
    @media(max-width 899px) 
      grid-template repeat(12, 257px) / 270px
  &__pagination 
    margin-top 41.6px
    height 80px