.search-rooms-page
  background-color #FFFFFF 
  min-width 320px
  margin 0 auto
  display flex
  flex-direction column
  height 100%
  &__container
    max-width 1160px
    width 98%
    margin 0 auto 
    @media(max-width 1200px)
      width 90%
    @media(max-width 730px)
      max-width 500px
      width 85%
.search-rooms-body
  position relative
  background #fff
  margin 23px auto 62px
  display flex 
  justify-content space-between
  max-width 1160px
  width 100%
  flex 1 0 auto 
  @media(max-width 730px)
    flex-direction column
.search-rooms-page__options   
  width 266px 
  display inline-flex 
  flex-direction column
  @media(max-width 730px)
    width 100%
  .options__dropdown-guests
    margin-top 11px
  .options__range-slider
    margin-top 23px
    legend
      position absolute
  .options__checkbox
    margin-top 20px
    legend
      margin-bottom 13px
    label 
      margin-bottom 5px
  .options__checkbox-2
    margin-top 18px
    label 
      margin-top 12px
  .options__dropdown-facilities
    margin-top 18px
  .options__checkbox-list
    margin-top 24px
.search-rooms-page__right-container
  display inline-flex 
  flex-direction column 
  align-items center
  margin-left 20px
  @media(max-width 730px)
    margin-top 80px
    margin-left 0
.search-rooms-page__title 
  margin-top 7px
  margin-right auto
  @media(max-width 999px)
    text-align center
.search-rooms-page__hotels  
  margin-top 1.3rem 
  display inline-grid
  grid-template repeat(4, 257px) / 270px 270px 270px 
  grid-row-gap 21px 
  grid-column-gap 12px 
  @media(min-width 900px) and (max-width 1200px)
    grid-template repeat(6, 257px) / 270px 270px
  @media(max-width 899px) 
    grid-template repeat(12, 257px) / 270px
.search-rooms-pagination 
  margin-top 2.6rem
  height 80px