.reservation
  position: absolute
  width: 380px
  height: 511px
  background: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  &__button-solid
    wrap 436px, 29px
  &__com-data
    wrap 82px, 29px

.reservation__final
  wrap 392px, 30px
  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 19px
  line-height: 24px
  color: #1F2041
  width: 328px
  height: 24px
  &:after
    content: ''
    position: absolute
    width: 182px
    height: 1px
    left: 64px
    top: 18px
    float: left
    display: inline
    border-bottom: dotted rgba(31, 32, 65, 0.25)
    box-sizing: border-box
.reservation__guests
  wrap 166px, 29px
  width: 20rem

.reservation__final-sum 
  position: absolute
  font-family: Montserrat;
  right: 0px
  display: inline
  float: left
.reservation__count
  wrap 255px, 30px
  display flex  
  height: 104px
  width: 319px
.reservation__count-text
  width: 214px
  p
    margin-bottom: 10px 
.reservation__count-cost
  position: absolute
  right: 0px
  text-align: right
  p
    margin-bottom: 10px 
.inf
  width: 20px
  height: 20px
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  border-radius: 25px
  &:after
    content: 'i';
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31,32,65,.25);
    position: absolute;
    margin-left: 7px;
.reservation__inf
  wrap 34px, 218px
.reservation__inf_2
  wrap 71px, 218px

.reservation__description
  wrap 46px, 29px
  
.reservation__description-num
  position: absolute;
  width: 64px;
  height: 30px;
  font-family: Montserrat
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 17px;
  color: #1F2041;
  &:before
    content '№'
    font-size: 14px
    font-weight bold
    margin-right: 5px
.reservation__description-lux
  wrap 6px, 69px
  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #BC9CFF
.reservation__description-cost
  wrap 4px, 220px
  font-family: Montserrat
  font-style: normal
  line-height: 18px
  width auto
  b 
    color: rgba(31, 32, 65, 0.5)
  span
    font-size: 12px