include ..\..\includes\coubs\coubs
include ..\..\includes\logo\logo
include ..\..\includes\fonts\fonts


main.colors-type
    aside.colors-type__logo
        +logo
    section.colors-type__coubs
        +color({coube_color: "dark-100", name: "Dark Shade 100%", code: "#1F2041"})
        +color({coube_color: "dark-75", name: "Dark Shade 75%", code: "#1F2041"})
        +color({coube_color: "dark-50", name: "Dark Shade 50%", code: "#1F2041"})
        +color({coube_color: "dark-25", name: "Dark Shade 25%", code: "#1F2041"})
        +color({coube_color: "dark-5", name: "Dark Shade 5%", code: "#1F2041"})
        +color({coube_color: "purple", name: "Purple", code: "#BC9CFF"})
        +color({coube_color: "green", name: "Green", code: "#6FCF97"})
    section.colors-type__fonts
        h1 
            +fonts({tag: "H1", spec:"This one is the sub-section or widget title"})
        h2 
            +fonts({tag: "H2", spec:"Next one is the item title inside widgets"})
        h3 
            +fonts({tag: "h3", spec:"This is a label or CTA text"})
        p 
            +fonts({tag: "Body", spec: "This is the body text which is used for most <br> of the design, like paragraphs, lists, etc."})