include ..\logo-color\logo-color
include ..\button\button

mixin nav(name)
    a(href="/")= name

mixin header(options)
    .header
        .header__logo_color
            +logo-color
        
        div(class = (options.login ? 'header__nav_logged' : 'header__nav') )
            b
                +nav('Home')
            +nav('About Us')
            +nav('Services')            
            a.header__expand-more
            +nav('Careers')
            +nav('News')
            +nav('Documentation')

        if options.login == true
            .header__name Cosmin Negoitallllllllllllllllllllllllllllllllllutfkuyfuyf;y
        else if options.login == false
            .header__button_empty
                +button-header({text: "login", type:'_empty'})
            .header__button_register
                +button-header({text: "register"})