.header__nav
    ul
    a(href="/")
        b Home
    ul
    a(href="/") About Us
    ul
    a(href="/") Services
    ul
    a(href="/") Careers
    ul
    a(href="/") News
    ul
    a(href="/") Documentation
    .header__expand-more
        img(src='/assets/img/expand_more.svg')