.header
    position relative
    width 1440px
    height 70px
    background #ffffff
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
    display inline-block
    &__logo_color
        wrap 15px, 140px 
    &__nav
        position relative
        top: 23px;
        left: 512px;
        b 
            a
                color: $dark75
        a
            margin-left: 30px
            float left
            text-decoration none
        &_logged
            position relative
            top: 23px
            left: 564px
            b 
                a
                    color: $dark75
            a
                margin-left: 30px
                float left
                text-decoration none
    &__expand-more
        background-image url('/assets/img/expand_more.svg')
        display inline-block
        background-repeat no-repeat
        width 12px
        height 21px
        margin -3px -5px 0 4px!important
        transform: rotate(180deg)
    &__button_empty
        wrap 18px, 1100px
    &__button_register
        wrap 18px, 1199px
    &__name
        position absolute
        left 1189px
        top 24px
        width 260px
        height: 19px;
        color: rgba(31, 32, 65, 0.5);
        &:before
            content ''
            position absolute
            left: -32px;
            top: -4px;
            height 30px
            border-left 1px solid rgba(31, 32, 65, 0.1)



