.header
    position relative
    width 1440px
    height 70px
    background #ffffff
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
    &__logo_color
        position absolute
        top 15px
        left 9.7%
    &__nav
        position absolute
        top: 23px;
        left: 512px;
        b 
            a
                color: $dark75
        a
            margin-left: 30px
            float left
            text-decoration none
        &_logged
            position absolute
            top: 23px
            left: 564px
            b 
                a
                    color: $dark75
            a
                margin-left: 30px
                float left
                text-decoration none
    &__expand-more
        background-image url('/assets/img/expand_more.svg')
        display inline-block
        background-repeat no-repeat
        width 12px
        height 21px
        margin -3px -5px 0 4px!important
        transform: rotate(180deg)
    &__button_empty
        position absolute
        top 18px
        left 1100px
    &__button_register
        position absolute
        top 18px
        left 1199px
    &__name
        position absolute
        left 1189px
        top 24px
        width 240px
        height: 24px;
        color: rgba(31, 32, 65, 0.5);
        white-space: pre
        overflow-x: hidden;
        &:before
            content ''
            position absolute
            left: -32px;
            top: -4px;
            height 30px
            border-left 1px solid rgba(31, 32, 65, 0.1)

.header_site
    position relative
    max-width 1200px
    height 70px
    background #ffffff
    // box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
    margin 0 auto
    &__logo_color
        position absolute
        top 15px
        margin-left 20px
    &__nav
        position absolute
        top: 23px;
        right: 27%;
        margin-right 20px
        a
            margin-left: 20px
            float left
            text-decoration none
        &_logged_site
            position absolute
            top: 23px
            left: 564px
            a
                margin-left: 20px
                float left
                text-decoration none
    &__expand-more
        background-image url('/assets/img/expand_more.svg')
        display inline-block
        background-repeat no-repeat
        width 12px
        height 21px
        margin -3px 5px 0 9px!important
        transform: rotate(180deg)
    &__button_empty
        position absolute
        left: 488px;
        top: -4px;
    &__button_register
        position absolute
        left 595px
        top: -4px;
    &__name
        position absolute
        left 1189px
        top 24px
        width 240px
        height: 24px;
        color: rgba(31, 32, 65, 0.5);
        white-space: pre
        overflow-x: hidden;
        &:before
            content ''
            position absolute
            left: -32px;
            top: -4px;
            height 30px
            border-left 1px solid rgba(31, 32, 65, 0.1)