include ..\logo-color\logo-color
include ..\button\button

mixin nav(name)
    a(href="/")= name
mixin header_ui(options)
    .header
        .header__logo_color
            +logo-color
        
        div(class = (options.login ? 'header__nav_logged' : 'header__nav') )
            b
                +nav('Home')
            +nav('About Us')
            +nav('Services')            
            a.header__expand-more
            +nav('Careers')
            +nav('News')
            +nav('Documentation')
        if options.login == true
            .header__name Cosmin Negoita
        else if options.login == false
            .header__button_empty
                +button-header({text: "login", type:'_empty'})
            .header__button_register
                +button-header({text: "register"})

mixin header(options)
    .header_site
        .header_site__logo_color
            +logo-color
        div(class = (options.login ? 'header_site__nav_logged' : 'header_site__nav') )
            +nav('О нас')
            +nav('Услуги')            
            a.header_site__expand-more
            +nav('Вакансии')
            +nav('Новости')
            +nav('Соглашения')
            a.header_site__expand-more
            if options.login == true
                .header_site__name Cosmin Negoita
            else if options.login == false
                .header_site__button_empty
                    +button-header({text: "войти", type:'_empty'})
                .header_site__button_register
                    +button-header({text: "зарегистрироваться"})
        .header_site__burger
            .hamburger-menu
                input#menu__toggle(type='checkbox')
                label.menu__btn(for='menu__toggle')
                    span
                ul.menu__box
                    li
                    a.menu__item(href='#') О нас
                    li
                    a.menu__item(href='#') Услуги
                    li
                    a.menu__item(href='#') Вакансии
                    li
                    a.menu__item(href='#') Новости
                    li
                    a.menu__item(href='#') Соглашения
                    li
                    a.menu__item(href='#') Войти
                    li
                    a.menu__item(href='#') Зарегистрироваться