.header__nav_pos-2
    position absolute
    top 0px
    left 456px
    width 589px
    height 21px
    line-height 17px
    color $dark50
    b
        color: rgba(31, 32, 65, 0.75);
    a
        margin 0px 28px 3px 0px
        float left
        text-decoration none
        color $dark50
        text-decoration none
        &:nth-of-type(4)
            margin-left 17px
.login-name
    position absolute
    right 140px
    top 24px
    width: auto
    color: rgba(31, 32, 65, 0.5);
.login-name__border
    position absolute
    left -30px
    top 0px
    height 30px
    border-left 1px solid rgba(31, 32, 65, 0.1)