include ../like-button/like-button
mixin comment(options={})
    .comment
        .comment__user
            img(src='/assets/img/murad.png')
            b Мурад Сарафанов  
            p 5 дней назад
            
        .comment__text= (options.text ? options.text: '')
        .comment__like
            +like-button({value: 12, checked: true})