.comment
    width 711px
    height 133px
    &__user
        width 278.05px
        height 51px
        position relative
        b
            position absolute
            margin-left 10px
            color $dark75
        p
            position absolute
            margin-left 57px
            margin-top 26px
        img
            float left
    &__text
        cont 61px, 58px 