include ../like-button/like-button
mixin comment(options={})
    article.comment
        .comment__user
            img(src=(options.img ? options.img: "") alt="аватарка")
            b=(options.name ? options.name: "имя")
            p=(options.data ? options.data: "дата") 
            
        span.comment__text= (options.text ? options.text: "текст")
        .comment__like
            +like-button({value: options.like_value, checked: options.like_checked})