.comment
  max-width 711px
  position relative
  &__user
    max-width 278.05px
    position relative
    b
      margin-left: 10px;
      vertical-align: top;
    p
      display inline-block
      margin-left: 10px;
    img
      float left
      width 44px
      overflow:hidden;
  &__text
    position absolute
    top 59px
    left 58px 