.comment
    max-width 711px
    height 133px
    position relative
    @media(max-width 711px)
        height 100%
    &__user
        max-width 278.05px
        height 51px
        position relative
        b
            position absolute
            margin-left 10px
            color $dark75
        p
            position absolute
            margin-left 57px
            margin-top 24px
        img
            float left
            width 44px
            height 44px
            overflow:hidden;
    &__text
        wrap 59px, 58px 
// .comment__img
//     position: relative;
//     float left
//     width 44px
//     height 44px
//     overflow:hidden;
//     img
//         position: absolute;
//         top:50%;
//         left:50%;
//         transform:translate(-50%,-50%);
//         object-fit:cover;
