.logo
    width 48px
    height 48px
    display inline-block
    position relative
    left 30px
    top 30px
    &__circle
        position absolute
        width 42px
        height 42px
        border-radius 50%
        border 3px solid $dark25
    &__circle-part1
        position absolute
        width 28.12px
        height 28.12px
        right 19.5px
        top 15.25px
        border-radius 37%
        clip rect(0px, auto, 14px, 20px)
        border 2.8px solid $dark25
    &__circle-part2
        position absolute
        width 18.12px
        height 18.12px
        left 20px
        top 15.35px
        border-radius 50%
        clip rect(0px, 13.7px, 7px, 3.5px)
        border 2.8px solid $dark25