.logo
  width 48px
  height 48px
  position relative
  &__circle
    width 48px
    height 48px
    border-radius 50%
    border 3px solid $dark25
  &__circle-part1
    position absolute
    width 28px
    height 28px
    right: 23.5px;
    top: 18px;
    border-radius 46%
    clip rect(0,auto,14px,14px)
    border 3px solid $dark25
  &__circle-part2
    position: absolute;
    width: 21px;
    height: 22px;
    left: 23px;
    top: 19px;
    border-radius: 50%;
    clip: rect(0,13px,6px,3.5px);
    border: 3px solid rgba(31,32,65,.25)