.Footer__toxin
    wrap 100px, 140px
    width 260px
    height 156px
.Footer__text
    position absolute
    width 260px
    height 96px
    left -7px
    top 53px
.Footer__navigation
    position absolute
    width 81px
    height 168px
    left 440px
    top 104px
    p
        margin 15px 0px 0px 
.Footer__about
    position absolute
    width 89px
    height 168px
    left 640px
    top 104px
    p
        margin 15px 0px 0px 0px
.Footer__support
    position absolute
    width 113px
    height 130px
    left 840px
    top 104px
    p
        margin 15px 0px 0px 0px
.Footer__subscribe
    position absolute
    width 218px
    height 84px
    left 1040px
    top 104px
    p
        margin 15px 0px 0px 0px
.Footer__logo_color
    cont 0px, 0px 
.Footer__email
    wrap 208px, 1040px 
    width 260px
    height 44px
    background #FFFFFF
    border 1px solid rgba(31, 32, 65, 0.25)
    border-radius 4px
    input
        width 134px
        height 24px
        margin 6px 0px 8px 15px
        border-width 0px
    button
        position absolute
        width 42px
        height 42px
        top 0px
        right 0px
        border none
        background-color #fff
.Footer__bot
    position absolute
    width 1440px
    height 70px
    left 0px
    top 373px
    background #FFFFFF
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.Footer__cc
    wrap 23px, 1188px
    height 22px
    width: 112px
    display flex
    justify-content: space-between;
.Footer__copyright
    wrap 23px, 140px