.footer
    width 1440px
    height 372px
    color $dark50
    background #FFFFFF
    box-shadow 0px 1px 0px rgba(31, 32, 65, 0.1)
.footer__toxin
    wrap 100px, 140px
    width 260px
    height 156px
.footer__text
    position absolute
    width 260px
    height 96px
    top 57px
.footer__navigation
    position absolute
    width 81px
    height 168px
    left 440px
    top 104px
    h3
        margin-bottom 19px
    p
        margin 15px 0px 0px 
.footer__about
    position absolute
    width 89px
    height 168px
    left 640px
    top 104px
    h3
        margin-bottom 19px
    p
        margin 15px 0px 0px 0px
.footer__support
    position absolute
    width 113px
    height 130px
    left 840px
    top 104px
    h3
        margin-bottom 19px
    p
        margin 15px 0px 0px 0px
.footer__subscribe
    position absolute
    width 218px
    height 84px
    left 1040px
    top 104px
    h3
        margin-bottom 19px
    p
        margin 15px 0px 0px 0px
.footer__logo_color
    cont 0px, 0px 
.footer__email
    wrap 208px, 1040px 
.footer__bot
    position absolute
    width 1440px
    height 70px
    left 0px
    top 373px
    background #FFFFFF
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.footer__cc
    wrap 24px, 1188px
    height 22px
    width: 112px
    display flex
    justify-content: space-between;
.footer__copyright
    wrap 23px, 140px


    
.footer-elem
    position relative
    width 1440px
    height 367px
    left 0px
    margin-top 110px
    background #FFFFFF
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.footer-elem__cont
    cont 49px, 0px 
    width 560px
    height 108px
.footer-elem__Logo
    position absolute
    width 105.69px
    height 40px
    left 667px
    top 52px
.footer-elem__toxin
    position absolute
    width 53.19px
    height 12.95px
    right 0px
    top 13.33px
.footer-elem__text
    position absolute
    width 560px
    height 48px
    left 440px
    top 110px
    text-align center
.footer-elem__cc
    position absolute
    height 22px
    width: 112px
    left 664px
    top 186px
    display: flex
    justify-content: space-between;