.Header-Login
    position relative
    width 1440px
    height 70px
    background #ffffff
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
.header__logo_color
    cont 15px, 140px 
.nav
    width 589px
    height 21px
    line-height 17px
    color $dark50
    margin 0px 25px 3px 0px
    a
        position relative
        margin 0px 28px 3px 0px
        float left
        text-decoration none
        color $dark50
        text-decoration none
        &:nth-of-type(4)
            margin-left 17px
.header-login__nav
    position relative
    left 543px
    top 13px
.expand-more
    width 24px
    height 21px
    display flex
    align-items center
    text-align center
.expand-more
    width 24px
    height 21px
    display flex
    align-items center
    text-align center
.header-login__expand-more
    cont 0px, 228px 
.Button-empty_login
    border-radius 22px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border none
    color $purple
    z-index 1
    width 79px
    height 34px
    active-2()
.header-login__Button-empty
    cont 18px, 1100px
.Button-empty__back_login
    position absolute
    left 2px
    top 2px
    background-color white
    border-radius 22px
    z-index 2
    width 75px
    height 30px
.Button-empty__text_login
    position absolute
    left 20px
    top 9px
    font-family Montserrat
    font-style normal
    font-weight bold
    font-size 12px
    line-height 15px
    text-transform uppercase
    color $purple
    z-index 3
.register
    position absolute
    width 101px
    height 34px
    left 1199px
    top 18px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius 22px
    border none
    &:active
        background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        opacity 0.5
    &:focus
        outline none
    div
        position absolute
        width 62px
        height 15px
        left 19px
        top 9px
        font-family Montserrat
        font-style normal
        font-weight bold
        font-size 12px
        line-height 15px
        text-transform uppercase
        color #FFFFFF
        border-radius 0px