.Header_Login
    .header__logo_color
        .logo_container
            .logo_color
                .logo__circle_color
                    .logo__circle-back_1
                    .logo__circle-part-1_color
                    .logo__circle-back_2
                    .logo__circle-part-2_color
            .toxin
                img(src='/assets/img/TOXIN.svg')
    .nav.header-login__nav
        ul
        a(href="")
            b Home
        ul
        a(href="") About Us
        ul
        a(href="") Services
        ul
        a(href="") Careers
        ul
        a(href="") News
        ul
        a(href="") Documentation
        .expand-more.header-login__expand-more 
            img(src='/assets/img/expand_more.svg')
    button.Button-empty_login.header-login__Button-empty
        .Button-empty__back_login 
        .Button-empty__text_login Login
    button.register
        div REGISTER