.expandable-checkbox-list
  width 100%
  min-width 220px
  cursor pointer
  span 
    font-family Material Icons
    font-size 24px
    color rgba(31, 32, 65, 0.5)
    transition 0.3s
    transform rotate(0deg)
    display inline-block
    vertical-align middle
  &__text
    width 90%
    display inline-block
  &__list
    display none
    transition 0.6s
    width 220px
    background-color #fff
    z-index 5
    margin-top 9px
    position absolute
    li
      margin-top 4px
  &__button
    appearance none
    outline none
    &:checked
      + span
        transition 0.3s
        transform rotate(180deg)
      ~ .expandable-checkbox-list__list
        display block
        transition 0.6s

