//- open: открытое/закрытое состояние (boolean),
//- title: заголовок
include ../checkbox/checkbox
mixin expandable-checkbox-list({title = "", opened = false, list = []} = {})
    label.expandable-checkbox-list
        input.expandable-checkbox-list__input(type="checkbox" checked=opened) 
        h3.expandable-checkbox-list__text= title         
        ul.expandable-checkbox-list__checkboxes
            each item in list
                li.expandable-checkbox-list__li
                    +checkbox({ name: item})
