//- open: открытое/закрытое состояние (boolean),
//- title: заголовок
include ..\checkbox\checkbox
mixin expandable-checkbox-list({title = "", opened = false, list = []} = {})
    label.expandable-checkbox-list
        h3.expandable-checkbox-list__text= title 
        input.expandable-checkbox-list__button(type="checkbox" checked=opened) 
        span expand_more
        .expandable-checkbox-list__list
            ul 
                each item in list
                    li
                        +checkbox({ name: item})
