@font-face
    font-family 'Montserrat'
    src url('/assets/fonts/Montserrat/Montserrat-Regular.eot')
    src local('☺'), url('/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'), url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), url('/assets/fonts/Montserrat/Montserrat-Regular.svg') format('svg')
    font-weight normal
    font-style normal
@font-face
    font-family 'Montserrat'
    src url('/assets/fonts/Montserrat/Montserrat-Bold.eot')
    src local('☺'), url('/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), url('/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), url('/assets/fonts/Montserrat/Montserrat-Bold.svg') format('svg')
    font-weight bold
    font-style normal
@font-face
    font-family 'OpenSans'
    src url('/assets/fonts/OpenSans/OpenSans-Bold.eot')
    src local('☺'), url('/assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'), url('/assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'), url('/assets/fonts/OpenSans/OpenSans-Bold.svg') format('svg')
    font-weight bold
    font-style normal
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap')
