@font-face
	font-family 'Montserrat'
	src url('/assets/fonts/Montserrat-Regular.eot')
	src local('☺'), url('/assets/fonts/Montserrat-Regular.woff') format('woff'), url('/assets/fonts/Montserrat-Regular.ttf') format('truetype'), url('/assets/fonts/Montserrat-Regular.svg') format('svg')
	font-weight normal
	font-style normal
@font-face
	font-family 'Montserrat'
	src url('/assets/fonts/Montserrat-Bold.eot')
	src local('☺'), url('/assets/fonts/Montserrat-Bold.woff') format('woff'), url('/assets/fonts/Montserrat-Bold.ttf') format('truetype'), url('/assets/fonts/Montserrat-Bold.svg') format('svg')
	font-weight bold
	font-style normal
@font-face
	font-family 'OpenSans'
	src url('/assets/fonts/OpenSans-Bold.eot')
	src local('☺'), url('/assets/fonts/OpenSans-Bold.woff2') format('woff2'), url('/assets/fonts/OpenSans-Bold.woff') format('woff'), url('/assets/fonts/OpenSans-Bold.ttf') format('truetype'), url('/assets/fonts/OpenSans-Bold.svg') format('svg')
	font-weight bold
	font-style normal
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap')
