$dark100 = #1F2041
$dark75 = rgba(31, 32, 65, 0.75)
$dark50 = rgba(31, 32, 65, 0.5)
$dark25 = rgba(31, 32, 65, 0.25)
$dark10 = rgba(31, 32, 65, 0.1)
$dark5 = rgba(31, 32, 65, 0.05)
$lightOrange = #FFE39C
$orange = #FFBA9C
$purple = #BC9CFF
$blue = #8BA4F9
$green = #6FCF97
$turquoise = #66D2EA
$grey = #919191
$darkBlue = #3D4975
visually-hidden()
  position absolute
  width 1px
  height 1px
  margin -1px
  padding 0
  overflow hidden
  border 0
  clip rect(0 0 0 0)