$dark100 = #1f2041
$dark75 = rgba(31, 32, 65, 0.75)
$dark50 = rgba(31, 32, 65, 0.5)
$dark25 = rgba(31, 32, 65, 0.25)
$dark10 = rgba(31, 32, 65, 0.1)
$dark5 = rgba(31, 32, 65, 0.05)
$lightOrange = #ffe39c
$orange = #ffba9c
$purple = #bc9cff
$blue = #8ba4f9
$green = #6fcf97
$turquoise = #66d2ea
$grey = #919191
$darkBlue = #3d4975
visually-hidden()
  position absolute
  width 1px
  height 1px
  margin -1px
  padding 0
  overflow hidden
  border 0
  clip rect(0 0 0 0)
