.color-cube
  line-height 0

  &__cube
    display inline-block
    width 70px
    height 70px
    border-radius 6px

  &__cube_color_dark-100
    background-color $dark100

  &__cube_color_dark-75
    background-color $dark75

  &__cube_color_dark-50
    background-color $dark50

  &__cube_color_dark-25
    background-color $dark25

  &__cube_color_dark-5
    background-color $dark5

  &__cube_color_purple
    background-color $purple

  &__cube_color_green
    background-color $green

  &__title
    display inline-block
    vertical-align top
    margin-top 10px
    margin-left 39px

  &__code
    font-weight normal
    padding-top 4px
