//- color: цвет куба ("dark-100", "dark-75", "dark-50", "dark-25", "dark-5", "purple", "green")
mixin color-cube({color = "dark-100", text = "", code = ""} = {})
    .color-cube
        div.color-cube__cube(class= "color-cube__cube_color_" + color )
        .color-cube__title
            h2.color-cube__text= text
            h2.color-cube__code= code
