mixin range-slider({caption = null} = {})
    .range-slider
        .range-slider__values.js-range-slider__values
        input.range-slider__input.js-range-slider__input
        if caption
            .range-slider__caption= caption