
.form-elements
  position relative
  width 1440px
  min-height 1853px
  background #FFFFFF
  legend
    width 100%
  &__logo
    margin-left 30px
    padding-top 30px
  &__left-container
    display inline-block
    margin-left 140px
    margin-top 57px
  .text-field__description
    float right
    font-weight normal
    color $dark50
    text-transform uppercase
    font-size 12px
  &__text-field_1
    width 320px
    min-height 67px
  &__text-field_2
    margin-top 17px
    width 320px
    min-height 64.44px
  &__dropdown_field
    margin-top 17px
    width 320px
    min-height 64.44px
  &__masked
    margin-top 15px
    width 320px
  &__date-dropdown
    margin-top 33px
    width 320px
  &__filter-dropdown
    margin-top 35px
    width 266px
  &__email
    margin-top 37px
    width 266px
  &__dropdown-1
    margin-top 97px
    width 266px
  &__dropdown-expanded
    margin-top 15px
    width 266px
    min-height 236px
  &__expandable-checkbox-list
    width 260px
  &__expandable-checkbox-list_2
    margin-top 42px
    width 260px
  &__middle-container
    display inline-block
    margin-left 127px
    margin-top 58px
    vertical-align top
  &__checkbox-buttons
    width 250px
    legend
      margin-bottom 13px
    li
      margin-bottom 4px
  &__radio-button
    margin-top 39px
    width 236px
    min-height 55px
    legend
      margin-bottom 11px
  &__radio-buttons
    display flex
  &__toggle
    width 355px
    min-height 89px
    margin-top 34px
  &__toggles
    display flex
    justify-content space-between
    flex-direction column
    height 57px
    margin-top 10px
  &__rate-button
    margin-top 37px
    width 281px
    min-height 60px
    legend
      margin-bottom 12px
  &__like-button
    margin-top 39px
    width 175px
    min-height 51px 
  &__like-buttons
    margin-top 11px
    display flex
    justify-content space-between
    width 90px         
  &__rate-buttons
    width 260px
    display flex
    justify-content space-between
    margin-top 14px
  &__dropdown-2
    margin-top 191px
    width 320px
    min-height 221px
  &__rich-checkbox
    margin-top 99px  
    width 266px
    min-height 145px
    legend
      margin-bottom 12px
    li
      margin-bottom 7px
  &__right-container
    display inline-block
    margin-left 37px
    margin-top 59px
    vertical-align top
  &__slider
    width 266px
    min-height 47.44px 
    legend
      position absolute
      width auto
  &__solid-button
    margin-top 31px
    width 221px
    min-height 80px
    .solid-button__container
      display flex
      margin-top 11px
    &_1
      width 99px
      height 44px
    &_2
      margin-left 20px 
      width 99px
      height 44px
  &__empty-button
    margin-top 28px
    display flex
    justify-content space-between
    width 218px
    min-height 44px
    &_1
      width 99px
    &_2
      width 99px
  &__button-name
    margin-top 28px
    display flex
    justify-content space-between
    width 143px
    cursor pointer
  &__long-button
    margin-top 26px
    width 320px
    height 44px 
  &__pagination
    margin-top 37px
    legend
      margin-bottom 12px
  &__dropdown-3
    margin-top 257px
    width 320px
    min-height 150px
  &__bullet-list
    margin-top 170px
    width 254px
    min-height 147px 
    :nth-child(1)
      margin-bottom 10px
    ul
      margin-left 21px
  &__bottom-container
    margin-top 82px
    margin-left 140px
    display flex    
  &__comfort-container
    display flex
    flex-direction column
    margin-right 166px
  &__comfort 
    width 280px
  &__comfort_2
    width 280px
  &__comment 
    width 711px 
    margin-top 28px







