include ../../components/logo/logo
include ../../components/text-field/text-field
include ../../components/email-field/email-field
include ../../components/date-range/date-range
include ../../components/date-filter/date-filter
include ../../components/button/button
include ../../components/bullet-list/bullet-list
include ../../components/checkbox/checkbox
include ../../components/comfort/comfort
include ../../components/comment/comment
include ../../components/rate-button/rate-button
include ../../components/radio-button/radio-button
include ../../components/link/link
include ../../components/range-slider/range-slider
include ../../components/toggle/toggle 
include ../../components/dropdown/dropdown 
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/like-button/like-button
include ../../components/pagination/pagination
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="form-elements")
        meta(name="keywords", content="form, elements")
        title form-elements
    body                 
        .form-elements.js-form-elements
            section.form-elements__logo
                +logo
            main.form-elements__main-container
                section.form-elements__left-container
                    .form-elements__text-field-1
                        legend.form-elements__legend text field
                            .form-elements__description default
                        +text-field({placeholder: "Email"})
                    section.form-elements__text-field-2
                        legend.form-elements__legend text field
                            .form-elements__description Hover / Focus
                        +text-field({placeholder: "This is pretty awesome"})
                    section.form-elements__dropdown_field
                        legend.form-elements__legend dropdown
                        .form-elements__dropdown-guests.js-form-elements__dropdown-guests
                            +dropdown({
                                items: [
                                    "взрослые", 
                                    "дети", 
                                    "младенцы"], 
                                title: "Сколько гостей", 
                                buttons: true
                            }) 
                    section.form-elements__masked.js-form-elements__masked
                        legend.form-elements__legend masked text field
                        +text-field({masked: true, placeholder: "ДД.ММ.ГГГГ", mask: "99.99.9999"})
                    section.form-elements__date-dropdown.js-form-elements__date-dropdown
                        +date-range({dropdowns: ["date Dropdown", "date Dropdown"]})
                    section.form-elements__filter-dropdown.js-form-elements__filter-dropdown
                        legend.form-elements__legend filter date dropdown
                        +date-filter
                    section.form-elements__email
                        legend.form-elements__legend subscription text field
                        +email-field
                    section.form-elements__dropdown-1
                        legend.form-elements__legend dropdown
                            .form-elements__description default 
                        .form-elements__dropdown-facilities.js-form-elements__dropdown-facilities
                            +dropdown({
                                items: [
                                    "спальни", 
                                    "кровати", 
                                    "ванные комнаты"
                                ], 
                                title: "Удобства"
                            })
                    section.form-elements__dropdown-expanded
                        legend.form-elements__legend dropdown
                            .form-elements__description expanded
                        .form-elements__dropdown-facilities.js-form-elements__dropdown-facilities
                            +dropdown({
                                items: [
                                    "спальни",
                                    "кровати", 
                                    "ванные комнаты"
                                ], 
                                title: "Удобства"
                            })
                    section.form-elements__expandable-checkbox-list
                        +expandable-checkbox-list({
                            title:"expandable-checkbox-list",
                            list: [
                                "Завтрак", 
                                "Письменный стол", 
                                "Стул для кормления", 
                                "Кроватка", 
                                "Телевизор", 
                                "Шампунь"
                                ]
                            })
                    section.form-elements__expandable-checkbox-list-2
                        +expandable-checkbox-list({
                            title:"expandable-checkbox-list",
                            opened: true, 
                            list: [
                                "Завтрак","Письменный стол",  
                                "Стул для кормления", 
                                "Кроватка", 
                                "Телевизор", 
                                "Шампунь"
                            ]})
                section.form-elements__middle-container
                    section.form-elements__checkbox-buttons
                        legend.form-elements__legend Checkbox Buttons
                        ul.form-elements__checkbox-buttons-ul
                            li.form-elements__checkbox-buttons-li
                                +checkbox({ text: "Можно курить"})
                            li.form-elements__checkbox-buttons-li
                                +checkbox({ text: "Можно с питомцами"})
                            li.form-elements__checkbox-buttons-li
                                +checkbox({ text: "Можно пригласить гостей (до 10 человек)"})
                    section.form-elements__radio-button
                        legend.form-elements__legend radio-buttons
                        .form-elements__buttons
                            +radio-button({text: "Мужчина", value: "man", checked: true, name: "gender"})
                            +radio-button({text: "Женщина", value: "woman", name: "gender"})
                    section.form-elements__toggle
                        legend.form-elements__legend toggle
                        .form-elements__toggles
                            +toggle({checked:true, name:"offers"})
                            +toggle({name:"offers"})
                    section.form-elements__like-button
                        legend.form-elements__legend like-button
                        section.form-elements__like-buttons
                            +like-button({value: 2})
                            +like-button({value: 12, checked: true})
                    section.form-elements__rate-button
                        legend.form-elements__legend rate button
                        section.form-elements__rate-buttons
                            +rate-button({rate:"4"})
                            +rate-button({rate: "5"})
                    section.form-elements__dropdown-2
                        legend.form-elements__legend dropdown
                        .form-elements__dropdown-guests.js-form-elements__dropdown-guests
                            +dropdown({
                                items: ["взрослые", "дети", "младенцы"], 
                                title: "Сколько гостей", 
                                buttons: true
                            })
                    section.form-elements__rich-checkbox
                        legend.form-elements__legend Rich Checkbox Buttons
                        ul.form-elements__rich-checkbox-ul
                            li.form-elements__rich-checkbox-li
                                +checkbox({ 
                                    text: "Ширина коридоров в номере не менее 91 см.", 
                                    title:"Широкий коридор"
                                })
                            li.form-elements__rich-checkbox-li
                                +checkbox({ 
                                    text: "На 1 этаже вас встретит специалист и проводит до номера.",
                                    title:"Помощник для инвалидов"
                                })
                section.form-elements__right-container
                    section.form-elements__slider.js-form-elements__slider
                        legend.form-elements__legend Range Slider
                        +range-slider 
                    section.form-elements__solid-button
                        legend.form-elements__legend buttons
                        .form-elements__solid-button-container
                            .form-elements__solid-button-1
                                +button({text: "click me"})
                            .form-elements__solid-button-2
                                +button({text: "click me"})
                    section.form-elements__empty-button
                        .form-elements__empty-button-1
                            +button({background: "white", text: "click me"})
                        .form-elements__empty-button-2
                            +button({background: "white", text: "click me"})
                    section.form-elements__button-name
                        +link({text: 'click me'})
                        +link({text: 'click me'})
                    section.form-elements__arrow-button
                        +button({type: "arrow", text: "перейти к оплате"})
                    section.form-elements__pagination.js-form-elements__pagination
                        legend.form-elements__legend pagination
                        +pagination({caption: "1 – 12 из 100+ вариантов аренды"})
                    section.form-elements__dropdown-3
                        legend.form-elements__legend dropdown
                        .form-elements__dropdown-guests.js-form-elements__dropdown-guests
                            +dropdown({
                                items: ["взрослые", "дети", "младенцы"], 
                                title: "Сколько гостей",
                                 buttons: true
                            })
                    section.form-elements__bullet-list
                        legend.form-elements__legend Bullet list
                        .form-elements__bullet-list-ul
                            +bullet-list([
                                "Нельзя с питомцами", 
                                "Без вечеринок и мероприятий", 
                                "Время прибытия — после 13:00, а выезд до 12:00"
                            ]) 
            section.form-elements__bottom-container
                section.form-elements__comfort-container
                    .form-elements__comfort
                        +comfort([
                            {
                                "img": "./assets/img/insert-emoticon.svg", 
                                "title": "Комфорт", 
                                "description": "Шумопоглощающие стены"
                            },
                            {
                                "img": "./assets/img/location-city.svg", 
                                "title": "Удобство", 
                                "description": "Окно в каждой из спален"
                            }
                        ])
                section.form-elements__comment
                    +comment({
                        name: "Мурад Сарафанов", 
                        data:"5 дней назад", 
                        img:"./assets/img/murad.jpg", 
                        like_value: 12,
                        like_checked: true, 
                        text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены,действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                    })