include ../text-field/text-field
mixin email-field({placeholder = "Email"} ={})
    .email-field
        .email-field__text-field 
            +text-field({type: "email", placeholder:placeholder})
        button.email-field__button