//- options.legend - название формы
//- options.description - описание формы
//- options.text - текст внутри формы


mixin text-field(options = {})
    .text-field
        legend= options.legend
        legend.text-field__description= options.description
        .text-field__border(class = (options.type === 'email' ? ' text-field__border_arrow': ''))
            input.text-field__text(class = (options.type === 'email' ? ' text-field__text_arrow': ''))(type= options.type ? options.type : 'text' value= options.text)