mixin text-field(optoins = {})
    .text-field
        legend= optoins.legend
        legend.text-field__description= optoins.description
        if optoins.hover == true
            .text-field__border_hover
                input.text-field__text_hover(type='text' placeholder= optoins.text)
        else 
            .text-field__border
                input.text-field__text(type='text' placeholder= optoins.text)