//- options{
//- type: тип input("email"),
//- text:  текст внутри формы,
//- }

mixin text-field(options = {})
    .text-field
        input.text-field__border(type= options.type ? options.type : "text" placeholder= options.text)
        if(options.type === "email")
            button.text-field__arrow
    
