.text-field
    position relative
    width 100%
    height 100%
    &__description
        position absolute
        top 0px
        right 0px
        font-weight normal
        color $dark50
        text-transform: uppercase;
        font-size: 12px;
    &__border
        position absolute
        width 318px
        height 42px
        background #FFFFFF
        border 1px solid rgba(31, 32, 65, 0.25)
        border-radius 4px
        &:hover
            border 1px solid rgba(31, 32, 65, 0.5)
            color rgba(31, 32, 65, 0.5)
        &:focus
            border 1px solid rgba(31, 32, 65, 0.5)
            color rgba(31, 32, 65, 0.5)
        &_arrow
            @extends .text-field__border
            width 267px
            &::after
                content ''
                position absolute
                background-image url('/assets/img/arrow_forward.svg')
                background-repeat: no-repeat
                width 20px
                height 20px
                right: 8px;
                top: 13px
                z-index 2
        &_hover
            @extend .text-field__border
            border 1px solid rgba(31, 32, 65, 0.5)
        &_short
            // @extend .text-field__border
            width 150px
    &__text
        position absolute
        outline-color: none
        width 300px
        height 24px
        left 14px
        top 7px
        color rgba(31, 32, 65, 0.25)
        border none
        &:hover
            color rgba(31, 32, 65, 0.75)
        &:focus
            color rgba(31, 32, 65, 0.75)
            outline: none
        &_arrow
            @extends .text-field__text
            width 220px
        &_hover
            @extend .text-field__text
            color rgba(31, 32, 65, 0.75)


    