extends ../../layout/layout
include ../../components/registration/registration
append head 
    meta(name="description", content="registration")
    meta(name="keywords", content="registration")
    title registration
block variables 
    - 
        mainClass = "registration-page js-registration-page" 
        const data = require("../../layout/layout-data.json")
block content  
    main.registration-page__img
        section.registration-page__registration-form
            +registration 