.registration-page
  background-color #FFFFFF 
  width 100%
  max-width 1920px
  min-width 320px
  min-height calc(100vh - 372px) 
  margin 0 auto
  &__img
    position relative
    background url(/assets/img/sign-in-image.jpg) 0 -69px no-repeat
    max-width 1920px
    min-width 320px
    min-height 684px
    margin 0 auto
    display flex
    justify-content center
    align-items center
    @media(min-width 1441px)
      background-size cover
      background-position bottom
    @media(max-width 768px)
      background none 
.registration-page__registration-form
  max-width 23.75rem
  width 100%
  margin 20px