include ..\..\components\header\header
include ..\..\components\footer\footer
include ..\..\components\registration\registration

.registration-page
    +header({login: false})
    main.registration-page__img
        .registration-page__registration-form
            +registration
+footer