include ..\..\components\header\header
include ..\..\components\footer\footer
include ..\..\components\registration\registration
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title pages
    body 
        .registration-page
            +header({login: false})
            main.registration-page__img
                .registration-page__registration-form
                    +registration
        +footer