.registration
    position: absolute
    width: 380px
    height: 646px
    background: #FFFFFF
    border: 1px solid rgba(0, 0, 0, 0.12)
    box-sizing: border-box
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    &__title
        position: absolute
        width: 320px
        height: 60px
        left: 30px
        top: 40px
        font-family: OpenSans, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
        color: #1F2041
    &__name
        wrap 87px, 29px
    &__surname
        wrap 141px, 29px
    &__radio
        wrap 198px, 29px
    &__log-in
        position: absolute;
        width: 320px;
        height: 106px
        left: 29px;
        top: 318px
        display flex
        flex-direction: column
    &__toggle
        wrap 439px, 29px
.registration__button-solid 
    wrap 498px, 30px
.registration__button-empty
    wrap 572px, 251px
.registration__data
    wrap 234px, 29px
.registration__text
    wrap 584px, 30px

