include ..\..\includes\header\header
include ..\..\includes\footer\footer
include ..\..\includes\search-rooms\search-rooms
.landing-page
    +header({login: false})
    .landing-page__img
        .landing-page__log-in
            +search-rooms
        .landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
+footer