.landing-page
  background-color: #FFFFFF;
  width 100%
  min-height: calc(100vh - 372px);
  margin 0 auto
.landing-page__img
  position relative
  background url(/assets/img/landing-page-img.png) 0 -69px/cover no-repeat
  max-width 1920px
  min-width 320px
  width 100%
  min-height 829px
  margin 0 auto
.landing-page__log-in
  padding-top: 5%;
  margin-left: 9.7%;
  @media(max-width 400px)
    margin auto
.landing-page__text
    z-index: 2;
    margin-top: 267px;
    width 100%
    max-width: 300px;
    text-align: end;
    float: right;
    margin-right: 134px;
    @media(max-width 600px)
      margin-right: 40px;