mixin toggle(options = {})
    .toggle
        input.toggle__input(type='checkbox' id=(options.id ? options.id: 'toggle') checked=(options.checked ? true: false) ) 
        label.toggle__label(for=(options.id ? options.id: 'toggle')) Получать спецпредложения
