//- a — буквы
//- 9 — цифры
//- * — буквы и цифры
//- ? — необязательная часть маски
include ..\text-field\text-field
mixin masked-input({text = 'ДД.ММ.ГГГГ', mask='99.99.9999'} = {})
  .masked-input
    input.masked-input__input.js-masked-input(placeholder=text data-format=text data-mask=mask)