.Header
    .Header__logo_color
        include ..\..\Colors Type\logo_color\logo_color
    .Header__nav
        ul
        a(href="/")
            b Home
        ul
        a(href="/") About Us
        ul
        a(href="/") Services
        ul
        a(href="/") Careers
        ul
        a(href="/") News
        ul
        a(href="/") Documentation
        .Header__expand-more
            img(src='/assets/img/expand_more.svg')
