.Dropdown-guests
    width 320px
    height 67px
.Dropdown-guests__Text-Field
    position absolute
    width 320px
    height 44px
    top 23px
    background #FFFFFF
    border 1px solid rgba(31, 32, 65, 0.25)
    box-sizing border-box
    border-radius 4px
    &:hover
        border 1px solid rgba(31, 32, 65, 0.5)
        color rgba(31, 32, 65, 0.5)
    &:focus
        border 1px solid rgba(31, 32, 65, 0.5)
        color rgba(31, 32, 65, 0.5)
.Dropdown-guests__Text
    position absolute
    width 300px
    height 24px
    left 14px
    top 7px
    line-height 18px
    color rgba(31, 32, 65, 0.25)
    border none
    &:hover
        color rgba(31, 32, 65, 0.5)
    &:focus
        outline: none
        color rgba(31, 32, 65, 0.5)