.Text-Field
    width 320px
    height 67px
.Text-Field_Date-Picker
    position absolute
    width 320px
    height 44px
    top 23px
    background #FFFFFF
    border 1px solid rgba(31, 32, 65, 0.25)
    box-sizing border-box
    border-radius 4px
    &:hover
        border 1px solid rgba(31, 32, 65, 0.5)
        color rgba(31, 32, 65, 0.5)
    &:focus
        border 1px solid rgba(31, 32, 65, 0.5)
        color rgba(31, 32, 65, 0.5)