//- img - ссылка на картинку

mixin comfort(options = {})
    .comfort
        img.comfort__img(src= options.img, alt="иконка")
        .comfort__text 
            b= options.title
            p= options.description