//- img - ссылка на картинку
//- title - заголовок
//- description - описание
mixin comfort({img = "", title = "", description = ""})
    .comfort
        img.comfort__img(src= img, alt="иконка")
        .comfort__text 
            b= title
            p= description