//- img - ссылка на картинку
//- title - заголовок
//- description - описание
mixin comfort({img = "", title = "", description = ""})
    .comfort
        img.comfort__img(src= img, alt="icon")
        .comfort__text 
            b.comfort__title= title
            p.comfort__description= description