/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0; 
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
  position relative
}
span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme span {
	cursor:pointer;
}

.light-theme a, .light-theme span {
  float: left;
  color: rgba(31, 32, 65, 0.5);;
  font-size: 12px;
  line-height: 42px;
  font-weight: 400;
  text-align: center;
  min-width: 14px;
  margin: 0 1px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 22px;
  text-decoration: none
}
.light-theme a .next{
  font-size: 24px;
  }
.light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	// background: #FCFCFC;
}

.light-theme .current {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}
.next::after {
  content: '';
  position absolute;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px
  width: 40px;
  height: 40px;
  right: 6px;
  z-index: 1;
  }
.current.next{
  display: none;
}
.light-theme a.material-icons span{
  font-family: 'Material Icons';
  font-size: 24px;
  left: -4px;
  z-index 2
  color #fff
  position: absolute;
  }

.pagination__descr{
  position: absolute;
  margin-top: 3px;
  margin-left: 6px;
  }