.comment
  display flex
  flex-direction column
  &__user
    max-width 278px
    &-name
      vertical-align top
    &-avatar
      position relative
      float left
      overflow hidden
      width 44px
      height 44px
      margin-right 13px
      border-radius 50%
      filter: drop-shadow(0px 10px 20px $dark10);
  &__text-container
    display flex
  &__like
    margin-top 15px
    margin-left 5px
  &__text 
    margin-left 14px
    margin-top 15px