//- img: аватарка,
//- name: имя,
//- data: дата,
//- like_value: количество лайков,
//- like_checked: поставлен лайк(boolean),
//- text: комментарий
include ../like-button/like-button
mixin comment({img = "", name = "имя", data = "дата", like_value = 0, like_checked = true, text = ""})
    .comment
        .comment__user
            img(src=img alt="аватарка")
            b=name 
            p=data
        .comment__like
            +like-button({value: like_value, checked: like_checked})    
        .comment__text= text 