//- img: аватарка,
//- name: имя,
//- data: дата,
//- like_value: количество лайков,
//- like_checked: поставлен лайк(boolean),
//- text: комментарий
include ../like-button/like-button
mixin comment({img = "", name = "", data = "", like_value = 0, like_checked = true, text = ""} = {})
    .comment
        .comment__user
            img.comment__user-avatar(src=img alt="avatar")
            b.comment__user-name=name 
            p.comment__data=data
        .comment__text-container
            .comment__like
                +like-button({value: like_value, checked: like_checked})    
            blockquote.comment__text= text 