.comment
  max-width 711px 
  &__user
    max-width 278.05px
    b
      vertical-align  top
    img
      position relative
      float left
      overflow hidden
      width 44px
      height 44px
      margin-right 13px
      border-radius 50%
      filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  &__like
    float left
    margin-top 15px
    margin-left 5px
  &__text 
    margin-left 58px
    margin-top 15px