.comment
  max-width 711px
  &__user
    max-width 278.05px
    
    b
      vertical-align  top;
    img
      float left
      overflow hidden;
      width 44px
      height 44px
      margin-right 13px;
  &__like
    margin-top 15px;
    margin-left 5px;
  &__text
    margin-left 58px;