<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body 
        //- include ..\colors-type\colors-type
        //- include ..\headers-footers\headers-footers
        //- include ..\Form-Elements\Form-Elements
        //- include ..\Cards\Cards
        //- include ..\sign-in\sign-in
        //- include ..\Registration\Registration
        //- include ..\landing-page\landing-page
        //- include ..\Search-room\Search-room
        include ..\room-details\room-details
