<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="index page")
        meta(name="keywords", content="nav")
        title pages
    body 
        .index
            section.index__pages
                h2.index__pages-title pages
                ul.index__pages-ul
                    li.index__pages-li
                        a.index__pages-a(href="colors-type.html") colors-type
                    li.index__pages-li
                        a.index__pages-a(href="headers-footers.html") headers-footers
                    li.index__pages-li
                        a.index__pages-a(href="form-elements.html") form-elements
                    li.index__pages-li
                        a.index__pages-a(href="cards.html") cards
            section.index__pages
                h2.index__pages-title pages
                ul.index__pages-ul
                    li.index__pages-li
                        a.index__pages-a(href="sign-in.html") sign-in
                    li.index__pages-li
                        a.index__pages-a(href="landing-page.html") landing-page
                    li.index__pages-li
                        a.index__pages-a(href="search-room.html") search-room                        
                    li.index__pages-li
                        a.index__pages-a(href="room-details.html") room-details