include ../../components/header/header
include ../../components/footer/footer
include ../../components/search-rooms/search-rooms
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="index page")
        meta(name="keywords", content="nav")
        link(rel="apple-touch-icon", sizes="180x180", href="./assets/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="./assets/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="./assets/favicon-16x16.png")
        link(rel="manifest", href="./assets/site.webmanifest")
        link(rel="mask-icon", href="./assets/safari-pinned-tab.svg", color="#5bbad5")
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        title pages
    body 
        .index
            section.index__block-ui-kit
                h2.index__block-ui-kit-title ui-kit
                ul.index__block-ui-kit-ul
                    li.index__block-ui-kit-li
                        a.index__block-ui-kit-a(href="colors-type.html") colors-type
                    li.index__block-ui-kit-li
                        a.index__block-ui-kit-a(href="headers-footers.html") headers-footers
                    li.index__block-ui-kit-li
                        a.index__block-ui-kit-a(href="form-elements.html") form-elements
                    li.index__block-ui-kit-li
                        a.index__block-ui-kit-a(href="cards.html") cards
            section.index__block-pages
                h2.index__block-pages-title pages
                ul.index__block-pages-ul
                    li.index__block-pages-li
                        a.index__block-ui-kit-a(href="sign-in.html") sign-in
                    li.index__block-pages-li
                        a.index__block-ui-kit-a(href="landing-page.html") landing-page
                    li.index__block-pages-li
                        a.index__block-ui-kit-a(href="search-room.html") search-room                        
                    li.index__block-pages-li
                        a.index__block-ui-kit-a(href="room-details.html") room-details