mixin radio-button({first = "Мужчина", second = "Женщина"} = {})
    .radio-buttons
        label.radio-button
            input.radio-button__input.visually-hidden(type="radio"  name="fe__radio" value="m" checked="checked")
            .radio-button__circle
            .radio-button__label= first
        label.radio-button
            input.radio-button__input.visually-hidden(type="radio"  name="fe__radio" value="w")
            .radio-button__circle
            .radio-button__label= second