.radio-button
  position relative
  min-width 110px
  display inline-flex
  margin-right 8px
  cursor pointer   
  &__label 
    color rgba(31, 32, 65, 0.5) 
    margin-left 10px     
    &:hover
      color rgba(31, 32, 65, 0.75)      
  &__circle 
    background #FFFFFF 
    border 1px solid rgba(31, 32, 65, 0.25) 
    box-sizing border-box 
    border-radius 10px 
    width 20px 
    height 20px  
    cursor pointer    
    &:hover
      border 1px solid #BC9CFF  
    &:before
      content ''
      position absolute
      width 12px 
      height 12px 
      left 4px 
      top 4px
      background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 
      border-radius 10px   
      opacity 0
      transition 0.3s
  &__input
    visually-hidden()    
  &__input:checked ~ .radio-button__label
    color rgba(31, 32, 65, 0.75)     
  &__input:checked ~ .radio-button__circle
    border 1px solid #BC9CFF     
    &:before
      opacity 1    
  &__input:focus     
    ~ .radio-button__label
      color $dark100
      outline none        