mixin radio-button({text = "", value = "", checked} = {})
    label.radio-button
        input.radio-button__input(type="radio"  name="gender" value=value checked=checked tabindex = "-1")
        .radio-button__circle
        .radio-button__label(tabindex = "0")= text
