.headers-footers
  position relative
  max-width 1440px
  min-height 1350px
  background $white
  &__logo
    margin-left: 30px;
    padding-top: 30px;
  &__header
    margin-top 100px
    width 100%
    min-height 70px
    background #ffffff
  &__header_reg
    margin-top 40px
    width 100%
    min-height 70px
    background #ffffff
  &__footer
    margin-top 40px
    width 100%
    background #ffffff
  &__footer_2
    margin-top 40px
    min-height: 367px;
    width 100%
    max-width: 768px;
    margin-left : 23.3%;
    background #ffffff
    display inline-flex
    align-items: center
    justify-content: center

