include ..\..\includes\logo\logo
include ..\..\includes\header\header
include ..\..\includes\footer\footer

.headers-footers
    +logo
    header.headers-footers__header
        +header({login: false, bold: true})
    header.headers-footers__header_reg
        +header({login: true, bold: true})
    //- footer.headers-footers__footer
    //-     +footer
