include ..\..\includes\logo\logo
include ..\..\includes\header\header
include ..\..\includes\footer\footer

.headers-footers
    aside.headers-footers__logo
        +logo
    section.headers-footers__header
        +header({login: false, bold: true})
    section.headers-footers__header_reg
        +header({login: true, bold: true})
    section.headers-footers__footer
        +footer
    section.headers-footers__footer_2
        +footer_2
