.headers-footers
    position relative
    // margin-top 20px
    left 0px
    width 1440px
    height 1350px
    background $white
    &__header
        position absolute
        top  140px
        width 1440px
        height 70px
        background #ffffff
    &__header_reg
        position absolute
        top  250px
        width 1440px
        height 70px
        background #ffffff
    &__footer
        position absolute
        top  360px
        width 1440px
        height 70px
        background #ffffff
    &__footer_2
        position absolute 
        height: 367px;
        width: 768px;
        left: 336px;
        top: 843px;
        border-radius: 0px;
        background #ffffff


