.log-in
  position relative
  min-height 358px
  background #fff
  border 1px solid rgba(0, 0, 0, 0.12)
  box-shadow 0 0 25px rgba(0, 0, 0, 0.2)
  border-radius 4px
  &__container
    width 85%
    margin 39px auto
    @media (max-width 400px)
      width 91%
  &__title
  &__name
    width 100%
    margin-top 20px
  &__pass
    width 100%
    margin-top 10px
  &__button-solid
    width 100%
    margin-top 20px
    height 44px
  &__text
    display inline-block
    width 58%
    margin-top 40px
  &__button-empty
    width 99px
    display inline-block
    float right
    margin-top 30px
    height 44px
