include ../text-field/text-field
include ../button/button
mixin log-in(options = {})
    -
        const {
            title= "", 
            actionForm = "",
            emailText = "",
            passText = "",
            buttonLogInText = "",
            actionReg = "registration-page.html",
            accountText = "",
            buttonRegText = ""
        } = options
    .log-in
        .log-in__container
            h1.log-in__title= title
            form(action=actionForm, method="post")
                .log-in__name
                    +text-field({type: "text", placeholder: emailText})
                .log-in__pass
                    +text-field({type: "password", placeholder: passText})
                .log-in__button-solid
                    +button({hasArrow: true, text:buttonLogInText})            
            .log-in__text= accountText
            .log-in__button-empty
                +button({background: "transparent", text:buttonRegText, "isLink": true, href: actionReg})