include ../text-field/text-field
include ../button/button
mixin log-in({title='Войти', accountText = 'Нет аккаунта на Toxin?'} = {})
    .log-in
        .log-in__container
            h1.log-in__title= title
            form(action="" method = "post")
                .log-in__name
                    +text-field({type: "text", placeholder: "Email"})
                .log-in__pass
                    +text-field({type: "password", placeholder: "Пароль"})
                .log-in__button-solid
                    +button({arrow: true, text:"войти"})
            form(action="registration.html")
                .log-in__text= accountText
                .log-in__button-empty
                    +button({background: "white", text:"создать"})