include ../text-field/text-field
include ../button/button
mixin log-in
    .log-in
        .log-in__container
            h1.log-in__title Войти
            form(action="" method = "post")
                .log-in__name
                    +text-field({text:"Email"})
                .log-in__pass
                    +text-field({text:"Пароль"})
                .log-in__button-solid
                    +button({type:"_long", text:"войти"})
            form(action="registration.html")
                .log-in__text Нет аккаунта на Toxin?
                .log-in__button-empty
                    +button({type:"_empty", text:"создать"})