include ../../components/color-cube/color-cube
include ../../components/logo/logo
include ../../components/fonts-description/fonts-description
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="colors and type")
        meta(name="keywords", content="colors, type")
        title colors-types
    body 
        main.colors-type
            section.colors-type__logo
                +logo
            main.colors-type__container
                section.colors-type__cubes
                    .colors-type__cubes-item 
                        +color-cube({color: "dark-100", name: "Dark Shade 100%", code: "#1F2041"})
                    .colors-type__cubes-item 
                        +color-cube({color: "dark-75", name: "Dark Shade 75%", code: "#1F2041"})
                    .colors-type__cubes-item 
                        +color-cube({color: "dark-50", name: "Dark Shade 50%", code: "#1F2041"})
                    .colors-type__cubes-item 
                        +color-cube({color: "dark-25", name: "Dark Shade 25%", code: "#1F2041"})
                    .colors-type__cubes-item 
                        +color-cube({color: "dark-5", name: "Dark Shade 5%", code: "#1F2041"})
                    .colors-type__cubes-item 
                        +color-cube({color: "purple", name: "Purple", code: "#BC9CFF"})
                    .colors-type__cubes-item 
                        +color-cube({color: "green", name: "Green", code: "#6FCF97"})
                section.colors-type__fonts
                    .colors-type__fonts-item
                        h1 
                            +fonts-description({tag: "H1", spec:"This one is the sub-section or widget title"})
                    .colors-type__fonts-item
                        h2 
                            +fonts-description({tag: "H2", spec:"Next one is the item title inside widgets"})
                    .colors-type__fonts-item
                        h3 
                            +fonts-description({tag: "h3", spec:"This is a label or CTA text"})
                    
                    .colors-type__fonts-item
                        +fonts-description({tag: "Body", spec: "This is the body text which is used for     most <br> of the design, like paragraphs, lists, etc."})