include ../../components/color-cube/color-cube
include ../../components/logo/logo
include ../../components/fonts-description/fonts-description
-
    const data = require("./colors-type-data.json")
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="colors and type")
        meta(name="keywords", content="colors, type")
        title colors-types
    body 
        main.colors-type
            section.colors-type__logo
                +logo
            main.colors-type__container                
                section.colors-type__cubes
                    each cube in data.cubes
                        .colors-type__cubes-item 
                            +color-cube({} = cube)
                section.colors-type__fonts
                    each font in data.fonts
                        .colors-type__fonts-item
                            +fonts-description({} = font)