.coubs
    height: 610px
    width: 70px;
    display: flex
    flex-direction: column;
    justify-content: space-between;
.coubs__coub
    width: 70px
    height: 70px
    border-radius: 6px
.coubs__coub_dark-100
    background-color: $dark100
.coubs__coub_dark-75
    background-color: $dark75
.coubs__coub_dark-50
    background-color: $dark50
.coubs__coub_dark-25
    background-color: $dark25
.coubs__coub_dark-5
    background-color: $dark5
.coubs__coub_purple
    background-color: $purple
.coubs__coub_green
    background-color: $green