.coub
    width: 70px
    height: 70px
    border-radius: 6px
    margin-bottom: 20px

.coub__color-dark-100
    background-color: $dark100
.coub__color-dark-75
    background-color: $dark75
.coub__color-dark-50
    background-color: $dark50
.coub__color-dark-25
    background-color: $dark25
.coub__color-dark-5
    background-color: $dark5
.coub__color-purple
    background-color: $purple
.coub__color-green
    background-color: $green