.coub
    width: 70px
    height: 70px
    border-radius: 6px
    margin-bottom: 20px
.ColorsType__coub
    position: absolute
    left: 150px
    top: 145px
.coub_color-dark-100
    background-color: $dark100
.coub_color-dark-75
    background-color: $dark75
.coub_color-dark-50
    background-color: $dark50
.coub_color-dark-25
    background-color: $dark25
.coub_color-dark-5
    background-color: $dark5
.coub_color-purple
    background-color: $purple
.coub_color-green
    background-color: $green