.cards
    position: relative
    width: 1440px
    height: 1350px
    background: #F4F4F6
    // margin-top 20px
    &__search-rooms
        wrap 150px, 140px
    &__registration
        wrap 564px, 140px
    &__log-in
        position: absolute
        left: 560px
        top: 701px
    &__room-card-1
        position: absolute
        left: 980px
        top: 559.5px
    &__room-card-2
        position: absolute
        left: 980px
        top: 856.5px
    &__reservation
        position: absolute
        left: 560px
        top: 150px
    &__calendar
        position: absolute
        left: 980px
        top: 150px
