.colors-type
    position relative
    width 1440px
    height 900px
    background #ffffff
    margin: auto 0
    // float left
    &__coub
        position absolute
        top 145px
        left 10.45%
        height: 610px
        display: flex
        flex-direction: column;
        justify-content: space-between;
        margin: auto
    &__fonts
        position absolute
        top 145px
        right 12.45%
        margin: auto