include ..\includes\coubs\coubs
include ..\includes\logo\logo
include ..\includes\coubs-explanation\explanation
include ..\includes\texts\texts

.ColorsType
    +logo
    .ColorsType__coub
        +coubs
    .ColorsType__explanation
        +coubs-explanation
    .ColorsType__text
        +texts