.colors-type
    position relative
    max-width 1440px
    min-height 900px
    background #ffffff
    margin: auto 0
    // float left
    @media (max-width: 1024.98px) 
        min-height 1350px
    &__coub
        position absolute
        top 145px
        left 10.45%
        height: 610px
        display: flex
        flex-direction: column;
        justify-content: space-between;
        margin: auto
        @media (max-width: 1024.98px) 
            left 35%
        @media (max-width: 565px) 
            left 25%
        @media (max-width: 375.98px) 
            left 10.45%
    &__fonts
        position absolute
        top 145px
        right 10.45%
        margin: auto
        @media (max-width: 1024.98px) 
            top 70%
            left 25%
        @media (max-width: 565px) 
            left 15%
        @media (max-width: 375.98px) 
            left 10.45%