.colors-type
    position relative
    width 1440px
    height 900px
    background #ffffff
    display inline-block
    &__coub
        wrap 145px, 149.6px
        height: 610px
        display: flex
        flex-direction: column;
        justify-content: space-between;
    &__fonts
        wrap 145px, 846px