.colors-type
    position relative
    max-width 1440px
    min-height 900px
    background #ffffff
    &__coub
        wrap 145px, 150px
        height: 610px
        display: flex
        flex-direction: column;
        justify-content: space-between;
    &__fonts
        wrap 145px, 846px