.ColorsType
    include ..\includes\Colors Type\logo\logo
    .ColorsType__coub
        include ..\includes\Colors Type\coubs\coubs
    .ColorsType__explanation
        include ..\includes\Colors Type\explanation\explanation
    .ColorsType__text
        include ..\includes\Colors Type\texts\texts