include ..\includes\logo\logo
include ..\includes\text-field\text-field
include ..\includes\data-dropdown\data-dropdown
include ..\includes\button\button
include ..\includes\bullet-list\bullet-list
include ..\includes\checkbox\checkbox
include ..\includes\comfort\comfort
include ..\includes\rate-button\rate-button

.Form-Elements
    +logo
    .Form-Elements__text-field
        +text-field({legend: 'text field', description: 'default', text: 'Email'})
        +text-field({legend: 'text field', description: 'Hover / Focus', text: 'This is pretty awesome'})
        +text-field({legend: 'dropdown', description: 'default', text: 'Сколько гостей'})
        +text-field({legend: 'masked text field', description: 'default', text: 'ДД.ММ.ГГГГ'})
    .Form-Elements__date-dropdown
        +data-dropdown
        +data-dropdown
    .Form-Elements__slider
        legend Range Slider
        include ..\includes\range-slider\range-slider
    .Form-Elements__checkbox-buttons
        legend Checkbox Buttons
        +checkbox({ name: 'Можно курить'})
        +checkbox({ name: 'Можно с питомцами'})
        +checkbox({ name: 'Можно пригласить гостей (до 10 человек)'})

    .Form-Elements__expandable-checkbox-list_2
        include ..\includes\expandable-checkbox-list\expandable-checkbox-list
    .Form-Elements__expandable-checkbox-list
        include ..\includes\expandable-checkbox-list\expandable-checkbox-list
    .Form-Elements__radio-button
        include ..\includes\radio-button\radio-button
    .Form-Elements__toggle
        legend toogle
        br
        include ..\includes\toggle\toggle
        | Получать спецпредложения
        include ..\includes\toggle\toggle
        | Получать спецпредложения
    .Form-Elements__like-button
        legend like-button
        include ..\includes\like-button\like-button
        include ..\includes\like-button\like-button
    .Form-Elements__pagination
        include ..\includes\pagination\pagination



    //- .Filter-Data-Dropdown.Form-Elements__Data-Dropdown
    //-     legend filter date dropdown
    //-     .Text-Field_Default Default
    //-     .Text-Field_Date-Picker
    //-         input(type="date" class="Text-Field_email")
    .Form-Elements__email
        +text-field({legend: 'subscription text field', text: 'Email', type: 'email'})
        

    .Form-Elements__stars
        legend rate button
        +rate-button({id: '1'})
        +rate-button({id: '2'})

            
    .Form-Elements__solid-button
        legend buttons
        +button({name: 'click me'})
        +button({name: 'click me'})
    .Form-Elements__empty-button
        +button({type: 'button_empty', name: 'click me'})
        +button({type: 'button_empty', name: 'click me'})
    .Form-Elements__button-name
        .button__text_empty click me
        .button__text_empty click me
    .Form-Elements__long-button
        +button({type: 'button_long', name: 'перейти к оплате'})
    .Form-Elements__bullet-list
        legend Bullet list
        +bullet-list('Нельзя с питомцами')
        +bullet-list('Без вечеринок и мероприятий')
        +bullet-list('Время прибытия — после 13:00, а выезд до 12:00')

    .Form-Elements__comment
        include ..\includes\comment\comment
    .Form-Elements__comfort
        +comfort({img: '/assets/img/insert_emoticon.svg', title: 'Комфорт', description: 'Шумопоглощающие стены'})
    .Form-Elements__comfort_2
        +comfort({img: '/assets/img/location_city.svg', title: 'Удобство', description: 'Окно в каждой из спален'})


    .Text-Field.Form-Elements__Dropdown-1
        include .\..\includes\dropdown-guests\dropdown-guests
    .Form-Elements__Dropdown-2
        include .\..\includes\dropdown-guests\dropdown-guests
    .Text-Field.Form-Elements__Dropdown-3
        include .\..\includes\dropdown-guests\dropdown-guests


    .Form-Elements__rich-checkbox
        legend Rich Checkbox Buttons
        +checkbox({ name: 'Ширина коридоров в номере не менее 91 см.', title:'Широкий коридор'})
        +checkbox({ name: 'На 1 этаже вас встретит специалист и проводит до номера.', title:'Помощник для инвалидов'})


