
.Form-Elements
    position relative
    width 1440px
    height 1853px
    background #FFFFFF
    // margin-top 20px
    &__text-field
        cont 140px, 141px 
        height 322px
        width 320px
        display flex
        flex-direction: column
        justify-content: space-between
    &__date-dropdown
        wrap 502px, 141px
        display flex
        justify-content space-between
        width 321px
        height 150px
    &__solid-button
        wrap 231px, 979px 
        width: 218px;
        height: 80px;
        // display flex
        // justify-content space-between
        // flex-wrap: wrap
        :nth-child(2)
            margin-top 13px
        :nth-child(3)
            margin-top: -44px
            margin-left: 120px;
    &__empty-button
        wrap 336px, 979px
        display flex
        justify-content space-between
        width: 218px;
        height 44px
    &__button-name
        wrap 402px, 979px
        display flex
        justify-content space-between
        width: 163px;
    &__long-button
        position: absolute;
        width: 320px;
        height: 44px;
        left: 979px;
        top: 456px
    &__bullet-list
        position: absolute;
        width: 254px;
        height: 147px;
        left: 979px;
        top: 1196px;
        :nth-child(1)
            margin-bottom: 10px
    &__slider
        position: absolute;
        width: 266px;
        height: 47.44px;
        left: 979px;
        top: 156px;
    &__checkbox
        position: absolute;
        width: 222px;
        height: 129.12px;
        left: 587px;
        top: 143px;


.Text-Field_dropdown
    // // @extend .Text-Field_email
    color rgba(31, 32, 65, 0.5)
 
.Text-Field_pretty
    position absolute
    width 300px
    height 24px
    left 14px
    top 7px
    line-height 18px
    color rgba(31, 32, 65, 0.50)
    border none




.Form-Elements__Dropdown-1
    cont 876px, 140px 
.Form-Elements__Dropdown-2
    cont 876px, 587px 
.Form-Elements__Dropdown-3
    cont 876px, 979px 
.Form-Elements_email
    cont 728px, 141px 
    legend
        position absolute
        top -18px
.check-buttons
    width 222px
    height 100%px
.Form-Elements__check-buttons
    cont 143px, 587px 
.check-buttons__container
    position absolute
    top 18px
.check-buttons__text
    p
        font-weight normal
        margin-top 13px
        margin-left 29.74px
        color rgba(31, 32, 65, 0.5)
        line-height 18px
        text-transform none
        font-size 14px
        line-height 18px
.check-buttons__check
.check-buttons__check_no
    position absolute
    left 0px
    top 33.56px
.check_no
    width 20px
    height 20px
    background #FFFFFF
    border 1px solid rgba(31, 32, 65, 0.25)
    box-sizing border-box
    border-radius 4px
.check_yes
    width 20px
    height 20px
    background #FFFFFF
    border 1px solid #BC9CFF
    box-sizing border-box
    border-radius 4px
.check-buttons__check_yes
    position absolute
    left 0px
    top 65.12px
.check-yes__mark
    position absolute
    width 6px
    height 8px
    left 5.05px
    top 4.05px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
.check-buttons__check_yes_pos-2
    position absolute
    top 95.12px
.Radio-Buttons
    width 220.74px
    height 56px
.Form-Elements__Radio-Buttons
    cont 313px, 587px 
.Radio-Buttons__man
    position absolute
    left 30px
    top 31px
    font-family Montserrat
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    color rgba(31, 32, 65, 0.75)
.Radio-Buttons__button-1
    position absolute
    top 31px
    left 0px
    width 12px
    height 12px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius 10px
.Radio-Buttons__woman
    position absolute
    width 73px
    height 24px
    right 0px
    top 30.56px
    font-family Montserrat
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    color rgba(31, 32, 65, 0.5)
.Radio-Buttons__button-2
    position absolute
    top 31px
    left 118px
    width 12px
    height 12px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius 10px
.Stars
    height 24px
    width 120px
    img
        float left
        &:active
            background-image url('/assets/img/star.svg')
.Form-Elements__Stars
    cont 534px, 587px 
.Stars_1
    position relative
    top 34px
.Stars_2
    position relative
    top 14px
    left 140px
.Filter-Data-Dropdown
    width 150px
    height 65px
.Form-Elements__Data-Dropdown
    cont 607px, 141px 
.Form-Elements__range
    cont 143px, 979px 
.range__slider
    background linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border-radius 3px
.range
    width 266px
    height 47.44px
.Buttons
    width 218px
    height 195px


.Button-solid_click
    position absolute
    width 99px
    height 44px
    right 0px
    top 31px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    opacity 0.5
    border-radius 22px
.Button__Button-empty
    cont 105px, 0px 

.Button__Button-empty_click
    cont 105px, 119px 
.Button-empty_click
    // @extend .Button-empty
    background linear-gradient(180deg, #deceff 0%, #c5d2fc 100%)
.Form-Elements__Button-solid_long
    cont 456px, 979px 
.Button-solid_long
    // @extend .Button-solid
    width 320px
.Button_text_long
    // @extend .Button_text
    width 280px
.Buttons__Button-empty_pos-2
    cont 180px, 1px 
.Buttons__Button-empty_pos-3
    cont 180px, 82px 
.Button-empty__text_black
    // @extend .Button-empty__text
    color rgba(31, 32, 65, 0.5)
.Expandable-Checkbox
    width 266px
    height 277px
.Form-Elements__Expandable-Checkbox
    cont 1246px, 140px 
.Expandable-Checkbox__list
    position absolute
    width 222px
    height 230.56px
    left 0px
    top 47px
    input
        float left
    div
        color rgba(31, 32, 65, 0.5)
        margin-left 9.74px
        padding-bottom 5px
.Advantages
    width 291px
    height 117px
    border-bottom 1px solid rgba(31, 32, 65, 0.1)
.Form-Elements__Advantages
    cont 1563px, 140px 
.Advantages__text
    cont 3px, 58px 
.Form-Elements__Advantages_2
    cont 1652px, 140px 
.Form-Elements__Comment
    cont 1573px, 587px 
.Comment
    width 711px
    height 133px
.user
    width 278.05px
    height 51px
    img
        float left

.Comment__text
    cont 61px, 58px 
.Bullet-List
    width 292px
    height 147px
.Form-Elements__Bullet-List
    cont 1196px, 979px 

.Rich-Checkbox
    width 266px
    height 145px
.Form-Elements__Rich-Checkbox
    cont 1196px, 587px 
.Rich-Checkbox-Button
    position absolute
    width 233px
    height 52px
    top 31px
    input
        display inline
    b
        position absolute
        margin-left 10px
        top -1px
    span
        position absolute
        top 24px
        font-size 12px
        margin-left 10px
        line-height 15px
.Rich-Checkbox-Button_2
    position absolute
    width 233px
    height 52px
    top 94px
    input
        display inline
    b
        position absolute
        margin-left 10px
        top -1px
    span
        position absolute
        top 24px
        font-size 12px
        margin-left 10px
        line-height 15px
        width 236px
// .Rich-Checkbox-Button__text