
.Form-Elements
    position relative
    width 1440px
    height 1853px
    background #FFFFFF
    // margin-top 20px
    &__text-field_1
        wrap 136px, 141px 
        width: 320px;
        height: 67px;
    &__text-field_2
        position: absolute;
        width: 320px;
        height: 64.44px;
        left: 141px;
        top: 220px;
    &__dropdown_1
        position: absolute;
        width: 320px;
        height: 64.44px;
        left: 141px;
        top: 303px;
    &__masked
        wrap 395px, 141px 
    &__date-dropdown
        wrap 502px, 141px
        display flex
        justify-content space-between
        width 321px
        height 150px
    &__solid-button
        wrap 231px, 979px 
        width: 221px
        height: 80px;
        :nth-child(2)
            margin-top 13px
        :nth-child(3)
            margin-top: -44px
            margin-left: 120px;
    &__empty-button
        wrap 336px, 979px
        display flex
        justify-content space-between
        width: 218px;
        height 44px
    &__button-name
        wrap 402px, 979px
        display flex
        justify-content space-between
        width: 189px
    &__long-button
        position: absolute;
        width: 320px;
        height: 44px;
        left: 979px;
        top: 456px
    &__bullet-list
        position: absolute;
        width: 254px;
        height: 147px;
        left: 979px;
        top: 1196px;
        :nth-child(1)
            margin-bottom: 10px
    &__slider
        position: absolute;
        width: 266px;
        height: 47.44px;
        left: 979px;
        top: 156px;
    &__checkbox-buttons
        position: absolute;
        width: 222px;
        height: 129.12px;
        left: 587px;
        top: 143px;
    &__expandable-checkbox-list
        wrap 1182px, 141px
    &__expandable-checkbox-list_2
        wrap 1246px, 141px
    &__radio-button
        position: absolute;
        width: 290.74px;
        height: 55px;
        left: 586px;
        top: 306px;
        legend
            margin-bottom: 10px
    &__toggle
        position: absolute;
        width: 260px;
        height: 89px;
        left: 587px;
        top: 404.56px;
    &__comment
        wrap 1573px, 587px
    &__comfort
        wrap 1563px, 140px
    &__comfort_2
        wrap 1652px, 140px
    &__rich-checkbox
        wrap 1196px, 587px     
        width 266px
        height 145px
    &__email
        wrap 712px, 141px
    &__stars
        wrap 626px, 587px
        width 281px
        height 60px
    &__like-button
        position: absolute;
        width: 175px;
        height: 51px;
        left: 587px;
        top: 534px;
    &__pagination
        position: absolute;
        // width: 241px;
        // height: 40.44px;
        left: 979px;
        top: 571px;


.Text-Field_dropdown
    // // @extend .Text-Field_email
    color rgba(31, 32, 65, 0.5)
 
.Text-Field_pretty
    position absolute
    width 300px
    height 24px
    left 14px
    top 7px
    line-height 18px
    color rgba(31, 32, 65, 0.50)
    border none




.Form-Elements__Dropdown-1
    wrap 876px, 140px 
.Form-Elements__Dropdown-2
    wrap 876px, 587px 
.Form-Elements__Dropdown-3
    wrap 876px, 979px 

.check-buttons
    width 222px
    height 100%px

.Stars
    height 24px
    width 120px
    img
        float left
        &:active
            background-image url('/assets/img/star.svg')

.Stars_1
    position relative
    top 34px
.Stars_2
    position relative
    top 14px
    left 140px
.Filter-Data-Dropdown
    width 150px
    height 65px
.Form-Elements__Data-Dropdown
    cont 607px, 141px 

.Buttons
    width 218px
    height 195px


.Button-solid_click
    position absolute
    width 99px
    height 44px
    right 0px
    top 31px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    opacity 0.5
    border-radius 22px
.Button__Button-empty
    cont 105px, 0px 

.Button__Button-empty_click
    cont 105px, 119px 
.Button-empty_click
    // @extend .Button-empty
    background linear-gradient(180deg, #deceff 0%, #c5d2fc 100%)
.Form-Elements__Button-solid_long
    cont 456px, 979px 
.Button-solid_long
    // @extend .Button-solid
    width 320px
.Button_text_long
    // @extend .Button_text
    width 280px
.Buttons__Button-empty_pos-2
    cont 180px, 1px 
.Buttons__Button-empty_pos-3
    cont 180px, 82px 
.Button-empty__text_black
    // @extend .Button-empty__text
    color rgba(31, 32, 65, 0.5)
.Expandable-Checkbox
    width 266px
    height 277px
.Form-Elements__Expandable-Checkbox
    cont 1246px, 140px 
.Expandable-Checkbox__list
    position absolute
    width 222px
    height 230.56px
    left 0px
    top 47px
    input
        float left
    div
        color rgba(31, 32, 65, 0.5)
        margin-left 9.74px
        padding-bottom 5px
