include ..\includes\logo\logo
include ..\includes\header\header
include ..\includes\footer\footer
include ..\includes\footer-elem\footer-elem

.headers-footers
    +logo
    .headers-footers__header
        +header({login: false})
    .headers-footers__header_reg
        +header({login: true})
    footer.headers-footers_footer
        +footer
    +footer-elem
