.HeadersFooters
    include ..\includes\Colors Type\logo\logo
    .HeadersFooters__Header
        include ..\includes\Headers Footers\Header\Header
            include ..\includes\Headers Footers\Header__nav\Header__nav
        .Header__Button-empty
            include ..\includes\Form Elements/Button-empty_login/Button-empty_login
        .Header__Button_register
            include ..\includes\Form Elements/Button_register/Button_register
    .HeadersFooters__Header_reg
        include ..\includes\Headers Footers\Header\Header
            include .\..\includes\Headers Footers\Header__nav_pos-2\Header__nav_pos-2
        .login-name Cosmin Negoita
            .login-name__border
    footer.HeadersFooters_Footer
        include .\..\includes\Headers Footers\Footer\Footer
    include .\..\includes\Headers Footers\footer-elem\footer-elem