include ..\includes\logo\logo

.HeadersFooters
    +logo
    .HeadersFooters__header
        include ..\includes\header\header
            include ..\includes\header\header__nav
        .header__Button-empty
            include ..\includes\Button-empty_login/Button-empty_login
        .Header__Button_register
            include ..\includes\Button_register/Button_register
    .HeadersFooters__Header_reg
        include ..\includes\header\header
            //- include ..\includes\header\header__nav_pos-2
        .login-name Cosmin Negoita
            .login-name__border
    footer.HeadersFooters_Footer
        include ..\includes\Footer\Footer
    include ..\includes\footer-elem\footer-elem


    