include ..\includes\logo\logo
include ..\includes\header\header
include ..\includes\footer\footer

.headers-footers
    +logo
    .headers-footers__header
        +header_ui({login: false})
    .headers-footers__header_reg
        +header_ui({login: true})
    footer.headers-footers_footer
        +ui-footer
