.headers-footers
    position relative
    margin-top 20px
    left 0px
    width 1440px
    height 1350px
    background $white
    &__header
        position absolute
        top 150px
    &__header_reg
        position absolute
        top 260px
    &__footer
        position absolute
        top 370px


