.headers-footers
    position absolute
    // left 2980px
    width 1440px
    height 1350px
    top 0
    background $white
    &__header
        wrap 150px
    &__header_reg
        wrap 260px
    &_footer
        wrap 370px


