.HeadersFooters
    include ..\includes\Colors Type\logo\logo
    .HeadersFooters__Header_Login
        include ..\includes\Headers Footers\Header_Login\Header_Login
    .header_2
        .header__logo_color
            include ..\includes\Colors Type\logo_color\logo_color
        .header-2__nav
            include ..\includes\Headers Footers\nav\nav
                .expand-more
                    img(src='/assets/img/expand_more.svg')
        .Cosmin Cosmin Negoita
        .Cosmin__border
            div
    footer.footer-1
        .Footer_Widgets
            section.Footer-Widgets_toxin
                section.Footer-Widgets__logo_color
                    include ..\includes\Colors Type\logo_color\logo_color
                .Footer_Widgets_text
                    | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget
                    | nullam pellentesque aliquam curabitur cociis.
        .Footer-Widgets
        .Footer-Widgets_navigation
            div Navigation
            p About Us
            p News
            p Support
            p Products
        .Footer-Widgets
        .Footer-Widgets_about
            div ABOUT US
            p Who we are
            p Our team
            p Careers
            p Investors
        .Footer-Widgets
        .Footer-Widgets_support
            div Support
            p Documentation
            p Community
            p Get in Touch
        .Footer-Widgets
        .Footer-Widgets_subscribe
            div Subscribe to our newsletter
            p Receive our latest news and promotions in your inbox!
        .email.email__footer-1
            input(type='text' placeholder='Your email address')
            button(type='submit')
                img(src='/assets/img/arrow_forward.svg')
    footer.footer-2
        span.copyright Copyright &copy; 2018 Toxin UI Kit. All rights reserved.
        section.footer-2__cc
            img(src='/assets/img/1.jpg')
            img(src='/assets/img/2.jpg')
            img(src='/assets/img/3.jpg')
    footer.footer-3
        .footer-3__cont
            section.footer-3__bot
                .Logo
                    section
                        include ..\includes\Colors Type\logo_color\logo_color
                    //- .footer-3__toxin 
                    //-     img(src='/assets/img/TOXIN.svg')
            section.footer-3__text
                | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam
                | pellentesque aliquam curabitur cociis.
            section.footer-3__cc
                img(src='/assets/img/1.jpg')
                img(src='/assets/img/2.jpg')
                img(src='/assets/img/3.jpg')