extends ../layout/main


block Content 
    //- include .\colors-type\colors-type
    //- include .\headers-footers\headers-footers
    include .\Form-Elements\Form-Elements
    //- include .\Cards\Cards
    //- include .\sign-in\sign-in
    //- include .\Registration\Registration
    //- include .\landing-page\landing-page
    //- include .\Search-room\Search-room
    //- include .\room-details\room-details
