extends ../layout/main

block content
    .ColorsType
        .Default__logo
            include ..\includes\Colors Type\logo\logo
        .ColorsType__coub
            include ..\includes\Colors Type\coubs\coubs
        .ColorsType__explanation
            include ..\includes\Colors Type\explanation\explanation
        .ColorsType__text
            include ..\includes\Colors Type\texts\texts
    .HeadersFooters
        .Default__logo
            include ..\includes\Colors Type\logo\logo
        .HeadersFooters__Header_Login
            include ..\includes\Headers Footers\Header_Login\Header_Login
        .header_2
            .header__logo_color
                include ..\includes\Colors Type\logo_color\logo_color
            .header-2__nav
                include ..\includes\Headers Footers\nav\nav
                .expand-more.header-2__nav__expand-more 
                    img(src='/assets/img/expand_more.svg')
            .Cosmin Cosmin Negoita
            .Cosmin__border
                div
        footer.footer-1
            .Footer_Widgets
                section.Footer-Widgets_toxin
                    section.Footer-Widgets__logo_color
                        include ..\includes\Colors Type\logo_color\logo_color
                    .Footer_Widgets_text
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget
                        | nullam pellentesque aliquam curabitur cociis.
            .Footer-Widgets
            .Footer-Widgets_navigation
                div Navigation
                p About Us
                p News
                p Support
                p Products
            .Footer-Widgets
            .Footer-Widgets_about
                div ABOUT US
                p Who we are
                p Our team
                p Careers
                p Investors
            .Footer-Widgets
            .Footer-Widgets_support
                div Support
                p Documentation
                p Community
                p Get in Touch
            .Footer-Widgets
            .Footer-Widgets_subscribe
                div Subscribe to our newsletter
                p Receive our latest news and promotions in your inbox!
            .email.email__footer-1
                input(type='text' placeholder='Your email address')
                button(type='submit')
                    img(src='/assets/img/arrow_forward.svg')
        footer.footer-2
            span.copyright Copyright &copy; 2018 Toxin UI Kit. All rights reserved.
            section.footer-2__cc
                img(src='/assets/img/1.jpg')
                img(src='/assets/img/2.jpg')
                img(src='/assets/img/3.jpg')
        footer.footer-3
            .footer-3__cont
                section.footer-3__bot
                    .Logo
                        section
                            include ..\includes\Colors Type\logo_color\logo_color
                        //- .footer-3__toxin 
                        //-     img(src='/assets/img/TOXIN.svg')
                section.footer-3__text
                    | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam
                    | pellentesque aliquam curabitur cociis.
                section.footer-3__cc
                    img(src='/assets/img/1.jpg')
                    img(src='/assets/img/2.jpg')
                    img(src='/assets/img/3.jpg')
    .Form-Elements
        .Default__logo
            include ..\includes\Colors Type\logo\logo
        .Text-Field.Form-Elements__Text-Field_pos-1
            legend Text Field
            .Text-Field_Default Default
            .Text-Field_Date-Picker
                input.Text-Field_email(type='email' placeholder='Email')
        .Text-Field.Form-Elements__Text-Field_pos-2
            legend Text&nbsp;Field
            .Text-Field_Default Hover / Focus
            .Text-Field_Date-Picker
                input.Text-Field_pretty(type='text' placeholder='This is pretty awesome')
        .Text-Field.Form-Elements__Text-Field_pos-3
            legend Dropdown
            .Text-Field_Default Default
            .Text-Field_Date-Picker
                select.Text-Field_dropdown(type='text' value='Сколько гостей')
                        option Сколько гостей
                        option 1
                        option 2
        .Text-Field.Form-Elements__Text-Field_pos-4
            legend masked&nbsp;text&nbsp;field
            .Text-Field_Default Default
            .Text-Field_Date-Picker
                input(type="date" class="Text-Field_email")
        .Data-Dropdown.Form-Elements__Text-Field_pos-5
            legend date Dropdown
            .Data-Dropdown_Date-Picker
                input(type="date" class="Data-Dropdown_email")
        .Data-Dropdown.Form-Elements__Text-Field_pos-6
            legend date Dropdown
            .Data-Dropdown_Date-Picker
                input(type="date" class="Data-Dropdown_email")
        .Filter-Data-Dropdown.Form-Elements__Data-Dropdown
            legend filter date dropdown
            .Text-Field_Default Default
            .Text-Field_Date-Picker
                input(type="date" class="Text-Field_email")
        .Form-Elements_email
            legend subscription text field 
            .email
                input(type='text' placeholder='Your email address')
                button(type='submit')
                    img(src='/assets/img/arrow_forward.svg')
        .check-buttons.Form-Elements__check-buttons
            legend Checkbox Buttons
                .check-buttons__container
                    .check-buttons__text 
                        p Можно курить
                        p Можно с питомцами
                        p Можно пригласить гостей (до 10 человек)
            input(class=`check_no` type=`checkbox`).check-buttons__check_no
            
            .check-buttons__check_yes 
                input(class=`check_yes` type=`checkbox` checked)
                .check-yes__mark
            .check_yes.check-buttons__check_yes_pos-2
                input(class=`check_yes` type=`checkbox` checked)
                .check-yes__mark
        .Radio-Buttons.Form-Elements__Radio-Buttons
            legend Radio&nbsp;Buttons
            .Radio-Buttons__man мужчина
            .Radio-Buttons__woman женщина
            input(class=`Radio-Buttons__button-1` type='radio' value=`1` name=`radiobutton` )
            input(class=`Radio-Buttons__button-2` type='radio' value=`2` name=`radiobutton` )
        .Stars.Form-Elements__Stars
            legend rate button
            .Stars_1
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star_border.svg')
            .Stars_2
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star.svg')
                img(src='/assets/img/star.svg')

                
        .range.Form-Elements__range
            legen Range Slider
            .Text-Field_Default 5 000₽ - 10 000₽
            input(type=`range` class="range__slider")
        .Buttons.Form-Elements__Buttons
            legend buttons
            button.Button-solid
                .Button_text CLICK ME
            .Button-solid_click
                .Button_text CLICK ME
            button.Button-empty.Button__Button-empty
                .Button-empty__back 
                .Button-empty__text Click me
            button.Button-empty_click.Button__Button-empty_click
                .Button-empty__back 
                .Button-empty__text Click me
            .Button-empty__text.Buttons__Button-empty_pos-2 Click me
            .Button-empty__text_black.Buttons__Button-empty_pos-3 Click me
        button.Button-solid_long.Form-Elements__Button-solid_long
                .Button_text_long перейти к оплате
        .Text-Field.Form-Elements__Dropdown-1
            legend Dropdown
            .Text-Field_Default Default
            .Text-Field_Date-Picker
                select.Text-Field_dropdown(type='text' value='Спальни кровати')
                        option Спальни
                        option Кровати
                        option Ванные комнаты
        .Text-Field.Form-Elements__Dropdown-2
            legend Dropdown
            .Text-Field_Default Default
            .Text-Field_Date-Picker
                select.Text-Field_dropdown(type='text' value='Сколько гостей')
                        option Сколько гостей
                        option 1
                        option 2
        .Text-Field.Form-Elements__Dropdown-3
            legend Dropdown
            .Text-Field_Default Default
            .Text-Field_Date-Picker
                select.Text-Field_dropdown(type='text' value='Сколько гостей')
                        option Сколько гостей
                        option 1
                        option 2
        .Expandable-Checkbox.Form-Elements__Expandable-Checkbox
            legend expandable checkbox list
            .Expandable-Checkbox__list
                input(class=`check_no` type="checkbox") 
                div Завтрак
                input(class=`check_no` type="checkbox") 
                div Письменный стол
                input(class=`check_no` type="checkbox") 
                div Стул для кормления
                input(class=`check_no` type="checkbox") 
                div Кроватка
                input(class=`check_no` type="checkbox") 
                div Телевизор
                input(class=`check_no` type="checkbox") 
                div Шампунь
                input(class=`check_no` type="checkbox") 
                div Телевизор
                input(class=`check_no` type="checkbox") 
                div Шампунь
        .Rich-Checkbox.Form-Elements__Rich-Checkbox
            legend Rich Checkbox Buttons
            .Rich-Checkbox-Button
                input(class=`check_no` type="checkbox")
                b Широкий коридор
                span Ширина коридоров в номере не менее 91 см.
            .Rich-Checkbox-Button_2
                input(class=`check_no` type="checkbox")
                b Помощник для инвалидов
                span На 1 этаже вас встретит специалист и проводит до номера.
        .Bullet-List.Form-Elements__Bullet-List
            legend bullet lest
            .Bullet-List__text
                p Нельзя с питомцами
                p Без вечеринок и мероприятий
                p Время прибытия — после 13:00, а выезд до 12:00
        .Advantages.Form-Elements__Advantages
            img(src='/assets/img/insert_emoticon.svg')
            .Advantages__text 
                b Комфорт
                span Шумопоглощающие стены
        .Advantages.Form-Elements__Advantages_2
            img(src='/assets/img/location_city.svg')
            .Advantages__text 
                b Удобство
                span Окно в каждой из спален
        .Comment.Form-Elements__Comment
            .user
                img(src='/assets/img/murad.png')
                b Мурад Сарафанов  
                p 5 дней назад
            .Comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
    .Cards
        .Default__logo
            include ..\includes\Colors Type\logo\logo
        .search-rooms
            .container__title Найдём номера под ваши&nbsp;пожелания
            .search-rooms__com-data
                .Data-Dropdown
                    legend Прибытие
                    .Data-Dropdown_Date-Picker
                        input(type="date" class="Data-Dropdown_email")
            .search-rooms__exit-data
                .Data-Dropdown
                    legend выезд
                    .Data-Dropdown_Date-Picker
                        input(type="date" class="Data-Dropdown_email")
            .search-rooms__guests
                legend Гости
                .Text-Field_Default Default
                .Text-Field_Date-Picker
                    select.Text-Field_dropdown(type='text' value='Сколько гостей')
                            option Сколько гостей
                            option 1
                            option 2
            button.Button-solid_long.search-rooms__Button-solid_long
                .Button_text_long подобрать номер
        .registration
            .container__title Регистрация аккаунта
            .Text-Field_Date-Picker.logIn__Text-Field_Date-Picker
                input.Text-Field_email(type='email' placeholder='Имя')
            .Text-Field_Date-Picker.logIn__Text-Field_Date-Picker_pass
                input.Text-Field_email(type='email' placeholder='Фамилия')
            .registration__data
                legend дата рождения
                    .Text-Field_Date-Picker
                        input(type="date" class="Text-Field_email")
            .registration__logIn
                legend данные для входа в сервис
                    .Text-Field_Date-Picker
                        input.Text-Field_email(type='email' placeholder='Email')
                    .Text-Field_Date-Picker.legend__logIn
                        input.Text-Field_email(type='password' placeholder='Пароль')
            button.Button-solid_long.registration__Button-solid_long
                .Button_text_long перейти к оплате
            .registration__text Уже есть аккаунт на Toxin
            button.Button-empty.registration__Button-empty
                .Button-empty__back 
                .Button-empty__text   Войти
        .reservation
            .reservation__com-data
                .Data-Dropdown
                    legend Прибытие
                    .Data-Dropdown_Date-Picker
                        input(type="date" class="Data-Dropdown_email")
            .reservation__exit-data
                .Data-Dropdown
                    legend выезд
                    .Data-Dropdown_Date-Picker
                        input(type="date" class="Data-Dropdown_email")
            .reservation__guests
                legend Гости
                .Text-Field_Default Default
                .Text-Field_Date-Picker
                    select.Text-Field_dropdown(type='text' value='Сколько гостей')
                        option Сколько гостей
                            option 1
                            option 2
            .reservation__description
                .description__num №888
                .description__lux люкс
                .description__cost 9990₽ в сутки
            .Final.reservation__Final Итого
                .Final__Sum 38 081₽
                .Final__border
            .Count.reservation_Count
                .Count__text
                    div 9 990₽ х 4 суток
                    div Сбор за услуги: скидка 2 179₽
                    div Сбор за дополнительные услуги
                .Count__Cost
                    div 39 960₽
                    div 0₽
                    div 300₽
                .inf.reservation__inf
                    .i i
                .inf.reservation__inf_2
                    .i i
                    
                    


            button.Button-solid_long.reservation__Button-solid_long
                .Button_text_long забронировать
        .logIn
            .container__title Войти
            .Text-Field_Date-Picker.logIn__Text-Field_Date-Picker
                input.Text-Field_email(type='email' placeholder='Email')
            .Text-Field_Date-Picker.logIn__Text-Field_Date-Picker_pass
                input.Text-Field_email(type='password' placeholder='Пароль')
            button.Button-solid_long.logIn__Button-solid_long
                .Button_text_long войти
            .logIn__text Нет аккаунта на Toxin?
            button.Button-empty.logIn__Button-empty
                .Button-empty__back 
                .Button-empty__text Создать
        .calendar
        .lux-photo
            img(src='/assets/img/№888.png')
            .description
                .description__num №888
                .description__lux люкс
                .description__cost 9990₽ в сутки
                .description__rating
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star.svg')
                .description__reviews 145 Отзывов
        .lux-photo-2
            img(src='/assets/img/840.jpg')
            .description
                .description__num №840
                .description__lux 
                .description__cost 9990₽ в сутки
                .description__rating
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star.svg')
                        img(src='/assets/img/star_border.svg')
                .description__reviews 65 Отзывов
