include ..\includes\header\header
include ..\includes\footer\footer
include ..\includes\search-rooms\search-rooms
.sign-in
    +header({login: false})
    .landing-page__img
        .landing-page__log-in
            +search-rooms
+footer