include ..\includes\header\header
include ..\includes\footer\footer
.sign-in
    +header({login: false})
    img.sign-in__img(src="assets/img/sign-in-image.png", alt="фоновая картинка")
    +footer
