include ..\includes\header\header
include ..\includes\footer\footer
include ..\includes\log-in\log-in
.sign-in
    +header({login: false})
    img.sign-in__img(src="assets/img/sign-in-image.png", alt="фоновая картинка")
        
    .sign-in__log-in
        +log-in
    +footer
    

