.sign-in
    background-color: #FFFFFF;
    width 100%
.sign-in__img
    position relative
    max-width 1920px
    width 100%
    margin 0 auto
    display: block
.sign-in__log-in
    position absolute   
    z-index 1
    top: 21.3%;
    left: 36.8%;