mixin coubs
    .coubs
        .coubs__coub.coubs__coub_dark-100
        .coubs__coub.coubs__coub_dark-75
        .coubs__coub.coubs__coub_dark-50
        .coubs__coub.coubs__coub_dark-25
        .coubs__coub.coubs__coub_dark-5
        .coubs__coub.coubs__coub_purple
        .coubs__coub.coubs__coub_green