include ../button/button
include ../data-dropdown/data-dropdown
include ../dropdown-guests/dropdown-guests

mixin reservation
    form.reservation(action="" method = "get")
        .reservation__container
            .reservation__description
                h1.description__num 888
                h3.description__lux люкс
                .description__cost 
                    b 9 990₽ 
                    span в сутки
            .reservation__com-data
                +data-dropdown({firstLegend:"прибытие", secondLegend:"выезд"})
            .reservation__guests
                legend Гости
                +dropdown-guests            
            .reservation__count
                .count__text
                    p 9 990₽ х 4 суток
                    p.count__inf Сбор за услуги: скидка 2 179₽
                    p.count__inf Сбор за дополнительные услуги 
                .count__cost
                    p 39 960₽
                    p 0₽
                    p 300₽
            .reservation__final
                h2.final__text Итого
                h2.final__sum  38 081₽
            .reservation__button-solid
                +button({type:"long", text:"забронировать"})