.reservation
  position relative
  min-width 260px
  background #FFFFFF
  border 1px solid rgba(0, 0, 0, 0.12)
  box-sizing border-box
  box-shadow 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius 4px
  &__container
    width 85%
    margin 39px auto 29px
    @media(max-width 400px)
      width 91%
  &__description
    width 100%
    &-num
      color #1F2041 
      display inline-block
      padding-right 8px
      &:before
        content '№'
        font-size 14px
        font-weight bold
        margin-right 5px
    &-lux
      color #BC9CFF
      display inline-block
    &-cost
      display inline-block
      float right
      margin-top 8px
      color rgba(31,32,65,.5) 
      font-weight bold
      &:after
        content " в сутки"
        font-size 12px
        font-weight normal
  &__com-data
    width 100%
    margin-top 10px 
  &__guests
    width 100%
    margin-top 16px 
  &__count
    margin-top 18px
    position relative
    &-text
    &-levy
      width 100%
      display inline-flex
      &-cost
        margin-bottom 11px  
    &-result
      margin-bottom 10px    
      margin-left auto
    &-inf
      max-width 67%
      &-i
        font-weight bold
        font-size 12px 
        color rgba(31,32,65,.25) 
        border 1px solid rgba(31, 32, 65, 0.25)
        border-radius 25px
        text-align center
        line-height 20px 
        margin-left 7px
        width 20px
        height 20px
        cursor pointer
        &:after
          content 'i'
  &__final
    display flex
    align-items baseline
    flex-wrap nowrap
    width 100%
    margin-top 12px 
    &-line
      flex-grow 1
      height 1px
      bottom 5px 
      border-bottom 1px dotted rgba(31, 32, 65, 0.25)
      margin 0 4px
  &__button-solid
    margin-top 21px
    width 100%
    height 44px
    margin-bottom 30px




