mixin footer-nav({title = 'title', items=[]} = {})
  h3=title
  ul
    each item in items
      li
          a(href="change-me.html") О нас
      li
          a(href="change-me.html") Новости
      li
          a(href="change-me.html") Служба поддержки
      li
          a(href="change-me.html") Услуги