.cards
  position: relative
  width: 1440px
  height: 1350px
  background: #F4F4F6
  > section
    display inline-block
    vertical-align top
  &__search-rooms
    margin-left 140px
    margin-top 102px
    width 380px
  &__registration
    margin-left 140px
    margin-top 71px
    width 380px
  &__reservation
    margin-left 40px
    margin-top 102px
    width: 380px
    height: 511px
    display inline-block
    vertical-align top
  &__log-in
    margin-left 140px
    margin-top 102px
    width 380px
  &__room-card-1
    margin-left 140px
    margin-top 102px
    width 380px
  &__room-card-2
    margin-left 140px
    margin-top 102px
    width 380px

  &__calendar
    margin-left 140px
    margin-top 102px
    width 380px
