include ..\..\includes\search-rooms\search-rooms
include ..\..\includes\registration\registration
include ..\..\includes\logo\logo
include ..\..\includes\rate-button\rate-button
include ..\..\includes\calendar\calendar 
include ..\..\includes\room-card\room-card
include ..\..\includes\reservation\reservation
include ..\..\includes\log-in\log-in 
.cards
    +logo
    .cards__search-rooms
        +search-rooms
    .cards__registration
        +registration
    .cards__reservation
        +reservation
    .cards__log-in
        +log-in
    .cards__calendar
        +calendar
    .cards__room-card-1
        +room-card({img: "/assets/img/№888.png", num:"888", lux: true, price: "9 990", rate:"5", reviews:"145"})
    .cards__room-card-2
        +room-card({img: "/assets/img/840.jpg", num:"840", lux: true, price: "9 990", rate:"4", reviews:"65"})

