.comfort
    position relative
    width 291px
    height 70px
    border-bottom 1px solid rgba(31, 32, 65, 0.1)
    margin-top 20px
    img 
        padding 7px 4px
    &__text
        wrap 3px, 58px 
        display flex
        flex-direction: column
        b
            color: $dark75
        p
            margin-top 0px