.explanation
    div 
        b Dark Shade 100%
        | 
        | #1F2041
    div
        b Dark Shade 75%
        | 
        | #1F2041
    div
        b Dark Shade 50%
        | 
        | #1F2041
    div
        b Dark Shade 25%
        | 
        | #1F2041
    div
        b Dark Shade 5%
        | 
        | #1F2041
    div
        b Purple
        br
        | #BC9CFF
    div
        b Green
        br
        | #6FCF97