.texts
    .texts__styles
        .texts__styles_h1 This one is the sub-section or widget title
        .texts__styles_h2 Next one is the item title inside widgets
        .texts__styles_h3 This is a label or CTA text
        .texts__styles_body This is the body text which is used for most of the design, like paragraphs, lists, etc.
    .texts__tegs
        .texts__tegs_H1 H1
        .texts__tegs_H2 H2
        .texts__tegs_H3 H3
        .texts__tegs_Body Body