.texts
    position absolute
    width 413px
    height 321px
.texts__styles
    position absolute
    left 67px
    top 0px
.styles__h1
    font-family Quicksand
    font-style normal
    font-weight bold
    font-size 24.1px
    letter-spacing: -0.2px
    line-height 30px
    color $dark100
    margin-bottom 50px
.styles__h2
    width 345px
    font-family Quicksand
    font-style normal
    font-weight bold
    font-size 19px
    letter-spacing: 0.1px
    line-height 25px
    color $dark100
    margin-bottom 49px
.styles__h3
    width 186px
    height 15px
    font-family Montserrat, sans-serif
    font-style normal
    font-weight bold
    font-size 12px
    line-height 15px
    text-transform uppercase
    color $dark100
    margin-bottom 47px
.styles__body
    width 301px
    height 48px
    font-family Montserrat, sans-serif
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    color $dark75
    margin-bottom 50px
.texts__tegs
    position absolute
    width 37px
    height 297px
    left 0px
.tegs__H1
    position absolute
    color $dark25
    right 0px
    width 29px
    height 30px
    font-size 24px
    line-height 29px
.tegs__H2
    position absolute
    color $dark25
    right 0px
    top 110px
    width 27px
    height 24px
    font-size 19px
    line-height 23px
.tegs__H3
    position absolute
    color $dark25
    right 0px
    top 208px
    width 17px
    height 15px
    font-size 12px
    line-height 15px
    text-transform uppercase
.tegs__Body
    position absolute
    color $dark25
    right 0px
    bottom 2px
    width 37px
    height 24px
    font-size 14px
    line-height 24px