.texts
	position absolute
	width 403px
	height 321px
.texts__styles
	position absolute
	left 67px
	top 0px
.styles
	margin-bottom 50px
.styles_h1
	font-family Quicksand
	font-style normal
	font-weight bold
	font-size 24px
	line-height 30px
	color $dark100
.styles_h2
	font-family Quicksand
	font-style normal
	font-weight bold
	font-size 19px
	line-height 24px
	color $dark100
.styles_h3
	width 186px
	height 15px
	font-family Montserrat, sans-serif
	font-style normal
	font-weight bold
	font-size 12px
	line-height 15px
	text-transform uppercase
	color $dark100
.styles_body
	width 301px
	height 48px
	font-family Montserrat, sans-serif
	font-style normal
	font-weight normal
	font-size 14px
	line-height 24px
	color $dark75
.tegs.texts_tegs
	position absolute
	width 37px
	height 297px
	left 0px
.tegs
	position absolute
	color $dark25
	right 0px
.H1
	width 29px
	height 30px
	font-size 24px
	line-height 29px
.H2
	top 110px
	width 27px
	height 24px
	font-size 19px
	line-height 23px
.H3
	top 208px
	width 17px
	height 15px
	font-size 12px
	line-height 15px
	text-transform uppercase
.Body
	bottom 0px
	width 37px
	height 24px
	font-size 14px
	line-height 24px