.texts
    .texts__styles
        .styles__h1 This one is the sub-section or widget title
        .styles__h2 Next one is the item title inside widgets
        .styles__h3 This is a label or CTA text
        .styles__body This is the body text which is used for most of the design, like paragraphs, lists, etc.
    .tegs.texts__tegs
        .tegs__H1 H1
        .tegs__H2 H2
        .tegs__H3 H3
        .tegs__Body Body