mixin dropdown-guests
    .dropdown
        button.dropdown__dropbtn
            .dropbtn__text Сколько гостей
            i.material-icons expand_more
        .dropdown-content
            .dropdown-content__line
                p взрослые
                .dropdown-content__box-button
                    button.minus -
                    input.adult(type="text", value="0", disabled="", size="1")
                    button.plus +
            .dropdown-content__line
                p дети
                .dropdown-content__box-button
                    button.minus -
                    input.child(type="text", value="0", disabled="", size="1")
                    button.plus +
            .dropdown-content__line
                p младенцы
                .dropdown-content__box-button
                    button.minus -
                    input.baby(type="text", value="0", disabled="", size="1")
                    button.plus +
            .dropdown__buttons-container
                button.clear очистить
                button.submit применить
