.data-dropdown
    width 320px
    height 67px
    &__border
        position absolute
        width 150px
        height 44px
        top 23px
        background #FFFFFF
        border 1px solid rgba(31, 32, 65, 0.25)
        border-radius 4px
        &:hover
            border 1px solid rgba(31, 32, 65, 0.5)
            color rgba(31, 32, 65, 0.5)
        &:focus
            border 1px solid rgba(31, 32, 65, 0.5)
            color rgba(31, 32, 65, 0.5)
    &__text
        position absolute
        outline-color: none
        width 120px
        height 24px
        left 14px
        top 7px
        color rgba(31, 32, 65, 0.25)
        border none
        font-size: 14px;
        line-height: 18px;
        &:hover
            color rgba(31, 32, 65, 0.75)
        &:focus
            color rgba(31, 32, 65, 0.75)
            outline: none
        [type='data']
            font-size: 14px;
            line-height: 18px;