.data-dropdown
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: rgba(31, 32, 65, 0.75);
  &__container
    width: 47%;