.button
    position relative
    width 99px
    height 44px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius 22px
    border none
    display flex
    flex-direction: column
    align-items center
    justify-content: center
    &:active
        background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        opacity 0.5
    &:focus
        outline none
    &__text
        font-weight bold
        font-size 12px
        text-transform uppercase
        color #FFFFFF
        &_empty
            @extend .button__text
            color $purple
            z-index 3
            &:active
                color $dark50
    &_long
        @extend .button
        width: 320px
        &::after
            content: ''
            background-image url('\assets\img\arrow_forward_white.svg')
            width 18px
            height 18px
            margin-left 138px
            position absolute
            

.button_empty
    @extend .button
    &::after
        content: ''
        position absolute
        width 75+20px
        height 30+10px
        left 2px
        top 2px
        background-color white
        border-radius 22px
        z-index 2
    &:active
        width 99px
        height 44px
        border-radius 22px
        background linear-gradient(180deg, #deceff 0%, #c5d2fc 100%)
        border none
        z-index 1
    &:focus
        outline none
