.button
  position relative
  width 100%
  min-width 70px
  height 44px
  background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius 22px
  border none
  display flex
  align-items center
  justify-content: center
  cursor pointer
  &:active
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    opacity 0.5
  &:focus
    outline none
  &__text
    font-weight bold
    font-size 12px
    text-transform uppercase
    color #FFFFFF
    &_empty
      @extend .button__text
      color $purple
      z-index 3
      &:active
        color $dark50
  &_long
    @extend .button
    &::after
      content: ''
      background-image url('/assets/img/arrow-forward-white.svg')
      width 18px
      height 18px
      right 0.8125rem
      position absolute
  &_empty
    @extend .button
    &::after
      content: ''
      position absolute
      width: 96%;
      height: 92%;
      left 0.125rem
      top 0.125rem
      background-color white
      border-radius 22px
      z-index 2
    &:active
      width 6.1875rem
      height 44px
      border-radius 22px
      background linear-gradient(180deg, #deceff 0%, #c5d2fc 100%)
      border none
      z-index 1
    &:focus
      outline none





.button-header
  @extend .button
  height auto 
  width auto 
  &__text
    @extend .button__text
    padding 9px 15px 10px 12px
    &_empty
      @extend .button__text_empty
      padding 8px 17px
      background-color #FFFFFF
      border-radius 22px
  &_empty
    @extend .button_empty
    height auto 
    width auto
    padding 2px
    &::after
      height auto 
      width auto
    &:active
      height auto 
      width auto


