mixin date-filter
    +text-field("dropdown")
        input.text-field__input.js-date-filter(class="datepicker-here" data-clear-button="true" data-range="true"  data-multiple-dates-separator=" - " data-date-format="d M" readonly) 