//- date-range: дата с двумя полями для ввода
//-             dropdowns: массив, с названиями dropdown
mixin date-range({dropdowns = ["прибытие", "выезд"]})
    .date-range.js-date-range
        each dropdown, index in dropdowns
            .date-range__container
                legend.date-range__legend= dropdown
                .date-range__field
                    input.date-range__input( placeholder="ДД.ММ.ГГГГ" class=("js-date-range-" + (index + 1)) readonly)
