.Button-empty_login
    border-radius 22px
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border none
    color $purple
    z-index 1
    width 79px
    height 34px
    active-2()
.Button-empty__back_login
    position absolute
    left 2px
    top 2px
    background-color white
    border-radius 22px
    z-index 2
    width 75px
    height 30px
.Button-empty__text_login
    position absolute
    left 20px
    top 9px
    font-family Montserrat
    font-style normal
    font-weight bold
    font-size 12px
    line-height 15px
    text-transform uppercase
    color $purple
    z-index 3