//- login: залогинен ли пользователь (boolean),
//- bold: первая ссылка полужирным(boolean) 
include ../logo-color/logo-color
include ../button/button
include ../burger-menu/burger-menu
mixin header(options = {})
    -
        var {
            bold = false, 
            login = false, 
            name = "Юлий Цезарь", 
            navTitles = [
                    {
                        title: "О нас", 
                        bold: bold
                    },
                    {
                        title: "Услуги", 
                        dropdown: ["item1", "item2", "item3"]
                    },
                    {
                        title: "Вакансии"
                    },
                    {
                        title: "Новости"
                    },
                    {
                        title: "Соглашения", 
                        dropdown: ["item1", "item2", "item3"]
                    }
                ]
        } = options 
    .header
        .header__logo-color
            +logo-color
        nav.header__nav
            ul.header__ul
                each item in navTitles
                    li
                        a.header__nav-item(href=(href ? href: "change-me.html") class=`${(item.bold ? "header__nav-item_bold": "")} ${(item.dropdown ? "header__nav-item_dropdown": "")}`)=item.title
                            if (item.dropdown)
                                .header__nav-dropdown-content 
                                    each nav in item.dropdown
                                        .header__nav-item= nav
            if login === true
                .header__name= name
            else 
                .header__button_empty
                    form(action="sign-in.html")
                        +button({text: "войти", background: "white"})
                .header__button_register
                    form(action="registration.html")
                        +button({text: "зарегистрироваться"})
        +burger-menu({navigation: [
            {
                title: "О нас"
            }, 
            {
                title: "Услуги"
            }, 
            {
                title: "Вакансии"
            }, 
            {
                title: "Новости"
            }, 
            {
                title: "Соглашения"
            }, 
            {
                title: "Войти", 
                href: "sign-in.html"
            }, 
            {
                title: "Зарегистрироваться", 
                href: "registration.html"
            }
            ]})