include ../logo-color/logo-color
include ../button/button
include ../burger-menu/burger-menu
include ../header-nav/header-nav
mixin header(options = {})
    -
        const {
            isBold = false, 
            logged = false, 
            userName = "", 
            navTitles = [],
            buttonTextSignIn = "",
            buttonTextLogIn = ""
        } = options 
    .header
        .header__logo-color
            +logo-color
        nav.header__nav
            +header-nav(navTitles)
            if logged
                .header__name= userName
            else 
                .header__button-empty
                    form(action="sign-in.html")
                        +button({text: buttonTextSignIn, background: "transparent", isHeader: true})
                .header__button-register
                    form(action="registration-page.html")
                        +button({text: buttonTextLogIn, isHeader: true})
        +burger-menu(navTitles)