//- login: залогинен ли пользователь (boolean),
//- bold: первая ссылка полужирным(boolean) 
include ../logo-color/logo-color
include ../button/button
include ../burger-menu/burger-menu
include ../header-nav/header-nav
mixin header(options = {})
    -
        const {
            bold = false, 
            login = false, 
            name = "Юлий Цезарь", 
        } = options 
    .header
        .header__logo-color
            +logo-color
        nav.header__nav
            +header-nav
            if login
                .header__name= name
            else 
                .header__button-empty
                    form(action="sign-in.html")
                        +button({text: "войти", background: "white"})
                .header__button-register
                    form(action="registration-page.html")
                        +button({text: "зарегистрироваться"})
        +burger-menu({
            navigation: [
                {
                    title: "О нас"
                }, 
                {
                    title: "Услуги"
                }, 
                {
                    title: "Вакансии"
                }, 
                {
                    title: "Новости"
                }, 
                {
                    title: "Соглашения"
                }, 
                {
                    title: "Войти", 
                    href: "sign-in.html"
                }, 
                {
                    title: "Зарегистрироваться", 
                    href: "registration-page.html"
                }
            ]
        })