include ../logo-color/logo-color
include ../button/button
include ../burger-menu/burger-menu
include ../header-nav/header-nav
mixin header(options = {})
    -
        const {
            isBold = false, 
            logged = false, 
            userName = "", 
            navTitles = [],
            buttonTextSignIn = {},
            buttonTextLogIn = {}
        } = options 
    .header
        .header__logo-color
            +logo-color
        nav.header__nav
            +header-nav(navTitles)
            if logged
                .header__name= userName
            else 
                .header__button-empty
                    +button({text: buttonTextSignIn.title, background: "transparent", isHeader: true, "isLink": true, href: buttonTextSignIn.href})
                .header__button-register
                    +button({text: buttonTextLogIn.title, isHeader: true, "isLink": true, href: buttonTextLogIn.href})
        +burger-menu([...navTitles, buttonTextSignIn, buttonTextLogIn])