include ../logo-color/logo-color
include ../button/button
include ../burger-menu/burger-menu
include ../header-nav/header-nav
mixin header(options = {})
    -
        const {
            bold = false, 
            login = false, 
            name = "", 
            navTitles = [],
            buttonTextSignIn = "",
            buttonTextLogIn = "",
            navBurger = [],
        } = options 
    .header
        .header__logo-color
            +logo-color
        nav.header__nav
            +header-nav(navTitles)
            if login
                .header__name= name
            else 
                .header__button-empty
                    form(action="sign-in.html")
                        +button({text: buttonTextSignIn, background: "white"})
                .header__button-register
                    form(action="registration-page.html")
                        +button({text: buttonTextLogIn})
        +burger-menu(navTitles)