include ..\..\components\logo\logo
include ..\..\components\header\header
include ..\..\components\footer\footer
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title headers-footers
    body 
        .headers-footers
            aside.headers-footers__logo
                +logo
            section.headers-footers__header
                header 
                    .headers-footers__container
                        +header({login: false, bold: true})
            section.headers-footers__header_reg
                header 
                    .headers-footers__container
                        +header({login: true, bold: true})
            section.headers-footers__footer
                footer 
                    .headers-footers__container
                        +footer
            section.headers-footers__footer-2
                +footer-2
