include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer
include ../../components/footer-creative/footer-creative
include ../../favicon/favicon
-
    const data = require("./headers-footers.json")
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="headers and footers")
        meta(name="keywords", content="headers, footers")
        +favicon
        title headers-footers
    body 
        .headers-footers
            aside.headers-footers__logo
                +logo
            section.headers-footers__header
                header 
                    .headers-footers__container
                        +header(data.header)
            section.headers-footers__header_reg
                header 
                    .headers-footers__container
                        +header(data.headerLoggedIn)
            section.headers-footers__footer
                .headers-footers__footer-container
                    +footer(data.footer)
            section.headers-footers__footer-creative
                +footer-creative(data.footer)
