.fonts-description 
  position relative
  margin-bottom 50px
  &:before
    content attr(tag)
    color rgba(31,32,65,.25);
    font-weight 400;
    width 37px;
    box-sizing content-box;
    text-align end
    position absolute
    left -67px