.fonts-description
  position relative
 
  &::before
    content attr(tag)
    color $dark25
    font-weight 400
    width 37px
    box-sizing content-box
    text-align end
    position absolute
    left -67px
 
  &_tag_h1
  &_tag_h2
  &_tag_h3
    font-style normal
    font-weight bold
    font-size 24px
    line-height 30px
    color $dark100
 
  &_tag_h2
    font-size 19px
    line-height 24px
 
  &_tag_h3
    font-size 12px
    line-height 15px
    text-transform uppercase
