.pagination 
  .active .current 
    background linear-gradient(180deg, $purple 0%, $blue 100%)
    border-radius 22px
    width 40px
    height 40px
    color #fff
    padding 0
    display flex
    justify-content center
    align-items center
    border 0 solid transparent
    margin 0
    cursor pointer
  
  ul li .next 
    background linear-gradient(180deg, $green 0%, #66d2ea 100%)
    font-family 'Material Icons'
    font-size 24px
    color #fff

  ul li.disabled 
    opacity 0

  li .page-link
    @extend .pagination .active .current 
    
    background white
    border 0 solid transparent
    box-shadow none
    font-size 12px
    color $dark50

  li span.ellipse.clickable
    @extend .pagination li .page-link
    
    font-size 10px
    color $dark50

  a:focus
    outline none
    background #fcfcfc

  &__caption
    position absolute
    margin-top 3px
    margin-left 6px
