.checkbox
  margin-bottom: 12px
  width: 280px

.checkbox__label
    display: block
    font-family: Montserrat
    font-size: 14px
    color: rgba(31, 32, 65, 0.5)
    padding-left: 30px
    cursor: pointer
    &_text
        line-height: 18px
    &_rich
        font-size: 12px
        line-height: 14px;

.checkbox__input
    position: absolute
    appearance: none

.checkbox__input:checked + .checkbox__box
      border-color: #bc9cff

.checkbox__input:checked + .checkbox__box::before
      content: ""
      position: absolute
      top: 4px
      left: 6px
      width: 6px
      height: 8px
      border-width: 0 2px 2px 0
      border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 
      border-color: transparent
      border-image-slice: 1
      border-style: solid
      border-radius: 0
      transform: rotate(45deg)
      box-sizing: border-box


.checkbox__box
    position: absolute
    width: 20px
    height: 20px
    box-sizing: border-box
    margin-left: -30px
    border: 1px solid rgba(31, 32, 65, 0.25)
    border-radius: 4px
    background-color: white
