mixin checkbox(options = {})
    .checkbox
    label.checkbox__label
        
        input.checkbox__input(type="checkbox" name= options.name)
        span.checkbox__box 
        b= options.title 
        p= options.name 



