//- title: заголовок полужирным. 
mixin checkbox({name = "option", text = "", title = false} = {})
    label.checkbox
        input.checkbox__input(type="checkbox" name= name )
        .checkbox__box 
        .checkbox__text-container
            if(title)
                b.checkbox__title= title 
            p.checkbox__text(class= (title ? "checkbox_size_small": ""))= text 



