.checkbox
  max-width 280px
  display flex
  cursor pointer
  &__input  
    visually-hidden()
    &:checked + .checkbox__box
      border-color #bc9cff
    &:checked + .checkbox__box::before
      content ''
      position absolute
      margin-top 5px
      left 6px
      width 6px
      height 8px
      border-width 0 2px 2px 0
      border-image linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 
      border-color transparent
      border-image-slice 1
      border-style solid
      border-radius 0
      transform rotate(45deg)
      box-sizing border-box
    &:focus, &:hover ~ .checkbox__text
      outline none
      color $dark75
  &__title
    line-height 22px
      + .checkbox__text
        line-height 16px
        padding-top 3px
  &__box
    position relative
    width 20px
    height 20px
    border 1px solid rgba(31, 32, 65, 0.25)
    border-radius 4px
    background-color white
    flex-shrink 0
  &__text-container
    margin-left 10px
    line-height 18px
  &__text
    line-height 18px
  &_size_small
    font-size 12px
    padding-top 6px
    line-height 14px
