.bullet-list
  &__item
    position relative
    margin-top 12px

    &::before
      content ''
      position absolute
      width 10.5px
      height 10px
      left -20px
      top 5px
      border-radius 15px
      background-color $dark25
