.bullet-list
  &__item
    margin-top 12px
    position relative
    &::before
      position absolute
      content ''
      width 10.5px
      height 10px
      background-color $dark25
      left -20px
      margin-top 5px
      border-radius 15px
