include ..\text-field\text-field
mixin footer
    .footer
        .footer__top
            .footer__toxin
                .footer__logo-color
                    +logo-color
                .footer__text 
                    span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__list
                h3 навигация
                ul
                    li
                        a(href="change-me.html") О нас
                    li
                        a(href="change-me.html") Новости
                    li
                        a(href="change-me.html") Служба поддержки
                    li
                        a(href="change-me.html") Услуги
            .footer__list
                h3 о нас
                ul
                    li
                        a(href="change-me.html") О сервисе
                    li
                        a(href="change-me.html") Наша команда
                    li
                        a(href="change-me.html") Вакансии
                    li
                        a(href="change-me.html") Инвесторы
            .footer__list
                h3 Служба поддержки
                ul
                    li
                        a(href="change-me.html") Соглашения
                    li
                        a(href="change-me.html") Сообщества
                    li
                        a(href="change-me.html") Связь с нами
            .footer__subscribe
                h3 Подписка
                p Получайте специальные предложения и новости сервиса
                form(action="#", method="post").footer__email
                    +text-field("email")
                        input.text-field__input(type = "email" placeholder = "Email")
        .footer__bot
            .footer__bot-content
                .footer__copyright Copyright &copy; 2018 Toxin отель. Все права зачищены. 
                section.footer__cc
                    ul
                        li
                            a(href="https://twitter.com/", target="_blank", rel="noopener noreferrer")
                                img(src="/assets/img/twitter.jpg", alt="twitter")
                        li
                            a(href="https://www.facebook.com/", target="_blank", rel="noopener noreferrer")
                                img(src="/assets/img/facebook.jpg", alt="facebook")
                        li
                            a(href="https://www.instagram.com/", target="_blank", rel="noopener noreferrer")
                                img(src="/assets/img/instagram.jpg", alt="instagram")
mixin footer-2
    .footer-2
        .footer-2__logo
            +logo-color
        .footer-2__text
            | Copyright © 2018 Toxin отель. Все права защищены.
        .footer-2__cc
            ul
                li
                    a(href="https://twitter.com/", target="_blank", rel="noopener noreferrer")
                        img(src="/assets/img/twitter.jpg", alt="twitter")
                li
                    a(href="https://www.facebook.com/", target="_blank", rel="noopener noreferrer")
                        img(src="/assets/img/facebook.jpg", alt="facebook")
                li
                    a(href="https://www.instagram.com/", target="_blank", rel="noopener noreferrer")
                        img(src="/assets/img/instagram.jpg", alt="instagram")