.search-rooms-page
    background-color: #FFFFFF;
    max-width 1440px
    min-height: calc(100vh - 372px);
    height 100%
    margin: 0 auto
.search-rooms-page__options
    margin-top: 1.5rem;
    margin-left: 8.7rem
    width: 16.625rem;
    height: 755px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
    @media(max-width 1430px)
        margin-left: 4.7rem
.search-rooms-page__option 
    min-height 64px
    
.search-rooms-body
    position relative
    height: 1455px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
.search-rooms-page__title
    position absolute
    left: 29rem;
    top: 0.4rem;
    font-family: Montserrat
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #1F2041
.search-rooms-page__hotels
    position absolute
    width: 850px;
    height: 1108px
    left: 29rem;
    top: 3.5rem
    display grid
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 
    grid-row-gap: 4px;
    @media(max-width 1430px)
        left: 25rem;
        height: 100%
    @media(max-width 1280px)        
        width: 600px;
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr
    @media(max-width 1022px) 
        width: 100%
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr
.search-rooms-pagination
    position absolute
    left: 47.2rem;
    top: 74.3rem;