.search-rooms-page
  background-color: #FFFFFF;
  min-width 320px
  min-height: calc(100vh - 372px);
  margin: 0 auto
.search-rooms-body
  position relative
  min-height: 1333px;
  background: #fff;
  margin-top: 1.4375rem;
  margin: 23px 0 0 9.8%;
  @media(max-width 730px)
    display: flex;
    flex-direction: column;
    align-items: center;
.search-rooms-page__options   
  width: 266px;
  display: inline-flex;
  flex-direction: column;
  margin-right: 4.5%;
  .options__data-filter
    display block
  .options__dropdown-guests
    margin-top: 10px
  .options__range-slider
    margin-top: 25px
  .options__checkbox
    margin-top: 22px
    width: 242px;
    legend
      margin-bottom 13px
    label 
      margin-bottom 5px
  .options__checkbox-2
    margin-top: 17px
    label 
      margin-top 12px
  .options__dropdown-facilities
    margin-top: 17px
  .options__checkbox-list
    margin-top: 25px
.search-rooms-page__rigth-container
  display inline-block
  vertical-align: top 
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  @media(min-width 731px) and (max-width 1022px)
    width 50%    
  @media(max-width 730px)
    margin-top 80px
.search-rooms-page__title 
  vertical-align: top 
  display inline-block
  padding-top 0.5rem
.search-rooms-page__hotels
  vertical-align: top 
  width: 104%;
  margin-top: 1.25rem;
  display inline-grid
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 
  grid-row-gap: 4px;
  @media(min-width 1700px)
    grid-template:1fr 1fr 1fr / 1fr 1fr 1fr 1fr   
  @media(min-width 1023px) and (max-width 1300px)    
    width: 600px;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr
  @media(max-width 1022px) 
    width: 300px;    
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr
  @media(max-width 730px)
    > div
      width 270px
.search-rooms-pagination 
  margin-top: 1.5rem
  width: 251px;
  height 80px
  align-self: flex-start;
  @media (max-width:1020px) 
    margin-left: 0;
    align-self: center