include ..\..\includes\header\header
include ..\..\includes\footer\footer
include ..\..\includes\calendar\calendar
include ..\..\includes\dropdown-guests\dropdown-guests
include ..\..\includes\range-slider\range-slider
include ..\..\includes\checkbox\checkbox
include ..\..\includes\dropdown-facilities\dropdown-facilities
include ..\..\includes\expandable-checkbox-list\expandable-checkbox-list
include ..\..\includes\room-card\room-card
include ..\..\includes\pagination\pagination

.search-rooms-page
    +header({login: false})
    .search-rooms-body
        .search-rooms-page__options
            .search-rooms-page__option-dropdowns 
                legend даты пребывания в отеле
                +data-filter
            .search-rooms-page__option-dropdowns 
                legend гости
                +dropdown-guests
            .search-rooms-page__option
                legend.range-slider-name диапазон цены
                +range-slider
                .range-slider-descr Стоимость за сутки пребывания в номере
            .search-rooms-page__option
                legend правила дома
                +checkbox({ name: 'Можно курить'})
                +checkbox({ name: 'Можно с питомцами'})
                +checkbox({ name: 'Можно пригласить гостей (до 10 человек)'})
            .search-rooms-page__option
                legend доступность
                +checkbox({ name: 'Ширина коридоров в номере не менее 91 см.', title:'Широкий коридор'})
                +checkbox({ name: 'На 1 этаже вас встретит специалист и проводит до номера.', title:'Помощник для инвалидов'})
            .search-rooms-page__option
                legend удобства номера
                +dropdown-facilities
            .search-rooms-page__option
                +expandable-checkbox-list
        .search-rooms-page__title Номера, которые мы для вас подобрали
        .search-rooms-page__hotels
            div
                +room-card({img_1: "/assets/img/№888.png", num:"888", lux: true, price: "9 990", rate:"5", reviews:"145"})
            div
                +room-card({img_1: "/assets/img/840.jpg", num:"840", lux: false, price: "9 990", rate:"4", reviews:"65"})
            div
                +room-card({img_1: "/assets/img/980.png", num:"980", lux: true, price: "8 500", rate:"3", reviews:"35"})
            div
                +room-card({img_1: "/assets/img/856.png", num:"856", lux: false, price: "7 300", rate:"5", reviews:"19"})
            div
                +room-card({img_1: "/assets/img/740.png", num:"740", lux: false, price: "6 000", rate:"4", reviews:"44"})
            div
                +room-card({img_1: "/assets/img/982.png", num:"982", lux: false, price: "5 800", rate:"3", reviews:"56"})
            div
                +room-card({img_1: "/assets/img/678.png", num:"678", lux: false, price: "5 000", rate:"5", reviews:"45"})
            div
                +room-card({img_1: "/assets/img/450.png", num:"450", lux: false, price: "5 300", rate:"4", reviews:"39"})
            div
                +room-card({img_1: "/assets/img/350.png", num:"350", lux: false, price: "5 000", rate:"3", reviews:"77"})
            div
                +room-card({img_1: "/assets/img/666.png", num:"666", lux: false, price: "5 000", rate:"3", reviews:"25"})
            div
                +room-card({img_1: "/assets/img/444.png", num:"444", lux: false, price: "5 000", rate:"3", reviews:"15"})
            div
                +room-card({img_1: "/assets/img/352.png", num:"352", lux: false, price: "5 000", rate:"3", reviews:"55"})
        .search-rooms-pagination
            +pagination
+footer