mixin calendar
    div(class='datepicker-here' data-clear-button="true" data-range="true" data-multiple-dates-separator=" - " data-auto-Close='true')

mixin data-filter
    .text-field
        .text-field__border_data
            input.text-field__text_arrow(class='datepicker-here' value="ДД.ММ.ГГГГ" type="data" data-clear-button="true" data-range="true"  data-multiple-dates-separator=" - " data-date-format="d M" id="#my-datepicker")
