include ..\..\includes\header\header
include ..\..\includes\footer\footer
include ..\..\includes\registration\registration

.registration-page
    +header({login: false})
    main.registration-page__img
        .registration-page__registration-form
            +registration
+footer