include ..\..\includes\header\header
include ..\..\includes\footer\footer
include ..\..\includes\registration\registration

.sign-in
    +header({login: false})
    main.registration__img
        +registration
+footer