.registration-page
  background-color: #FFFFFF;
  width 100%
  max-width 1920px
  min-width 320px
  min-height: calc(100vh - 372px);
  &__img
    position relative
    background url(/assets/img/sign-in-image.png) 0 -69px/cover no-repeat
    max-width 1920px
    min-width 320px
    height 684px
    margin 0 auto
    display flex
    justify-content: center
    align-items: center
.registration-page__registration-form
  max-width 380px
  width 100%