.color
  width 269.26px
  height 70px
  position relative
  &__coub
    display: inline-block;
    width: 70px
    height: 70px
    border-radius: 6px
    background-color: $dark100
    &_dark-100
      background-color: $dark100
    &_dark-75
      background-color: $dark75
    &_dark-50
      background-color: $dark50
    &_dark-25
      background-color: $dark25
    &_dark-5
      background-color: $dark5
    &_purple
      background-color: $purple
    &_green
      background-color: $green
  &__description
    display: inline-block;
    vertical-align: top;
    margin-top 5px
    margin-left 20px
    :last-child
      font-weight normal
      padding-top 6px