mixin coub(options)
    if !options
        - options = {};
    .coubs
        .coubs__coub(class= 'coubs__coub_' + options.color)
        .coubs__description
            h2= options.name
            h2= options.code
            
