.coubs
    height: 610px
    width: 70px;
    display: flex
    flex-direction: column;
    justify-content: space-between;
    &__coub
        width: 70px
        height: 70px
        border-radius: 6px
        &_dark-100
            background-color: $dark100
        &_dark-75
            background-color: $dark75
        &_dark-50
            background-color: $dark50
        &_dark-25
            background-color: $dark25
        &_dark-5
            background-color: $dark5
        &_purple
            background-color: $purple
        &_green
            background-color: $green