.coubs
    width 269.26px
    height 70px
    position relative
    &__description
        position absolute
        top: 8.5px
        left 110px
        :last-child
            font-weight normal
            padding-top 6px
    &__coub
        width: 70px
        height: 70px
        border-radius: 6px
        background-color: $dark100
        &_dark-100
            background-color: $dark100
        &_dark-75
            background-color: $dark75
        &_dark-50
            background-color: $dark50
        &_dark-25
            background-color: $dark25
        &_dark-5
            background-color: $dark5
        &_purple
            background-color: $purple
        &_green
            background-color: $green
    