mixin color(options = {})
    article.color
        .color__coub(class= "color__coub_" + options.coube_color)
        .color__description
            h2= options.name
            h2= options.code
            
