footer.Footer
    .Footer__toxin
        .Footer__logo_color
            include ..\..\..\includes\Colors Type\logo_color\logo_color
        .Footer__text 
            p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .Footer__navigation
        b Navigation
        p About Us
        p News
        p Support
        p Products
    .Footer__about
        b ABOUT US
        p Who we are
        p Our team
        p Careers
        p Investors
    .Footer__support
        b Support
        p Documentation
        p Community
        p Get in Touch
    .Footer__subscribe
        b Subscribe to our newsletter
        p Receive our latest news and promotions in your inbox!
    .Footer__email
        input(type='email' placeholder='Your email address')
        button(type='submit')
            img(src='/assets/img/arrow_forward.svg')
.Footer__bot
    span.Footer__copyright Copyright &copy; 2018 Toxin UI Kit. All rights reserved.
    section.Footer__cc
        img(src='/assets/img/1.jpg')
        img(src='/assets/img/2.jpg')
        img(src='/assets/img/3.jpg')