@import 'utils/*'
@import '../pages/*'
@import '../pages/*/*'
@import '../components/*'
html 
  font-family Montserrat, Arial, sans-serif
  font-style normal
  font-weight normal
  font-size 16px
  color $dark75
  background-color #fff
  line-height 1.15
  height 100%
body
  background-color white
  width 100%
  height 100%
  font-size 0.875rem
  line-height 1.375rem
h1 
  font-family Montserrat, Arial, sans-serif
  font-style normal
  font-weight bold
  font-size 1.5rem
  line-height 1.875rem
  color $dark100
  margin 0px
h2 
  font-family Montserrat, Arial, sans-serif
  font-style normal
  font-weight bold
  font-size 1.1875rem
  line-height 1.5rem
  color $dark100
  margin 0px
h3
  font-family Montserrat, Arial, sans-serif
  font-style normal
  font-weight bold
  font-size 0.75rem
  line-height 0.9375rem
  text-transform uppercase
  color $dark100
  margin 0px
legend
  font-family Montserrat, Arial, sans-serif
  font-style normal
  font-weight bold
  font-size 0.75rem
  text-transform uppercase
  color $dark100
  margin 4px 0 2px
  padding 0
b
  color $dark75
a
  color $dark50
  font-size 0.875rem
p
  margin 0
li
  list-style none
ol
  list-style none
ul
blockquote
  margin 0
  padding 0
div
  box-sizing border-box
a
  text-decoration none
  &:focus
    outline 1px solid $dark25
