@import "utils/fonts"
@import "utils/variables"
@import "utils/mixins"
@import "utils/norm"

@import "modules/Colors Type"
@import "../pug/includes/Colors Type/logo/logo"
@import "../pug/includes/Colors Type/coubs/coubs"
@import "../pug/includes/Colors Type/explanation/explanation"
@import "../pug/includes/Colors Type/texts/texts"
@import "../pug/includes/Colors Type/logo_color/logo_сolor"

@import "modules/Headers Footers"
@import "../pug/includes/Headers Footers/Header/Header"
@import "../pug/includes/Headers Footers/Footer/Footer"
    
@import "../pug/includes/Form Elements/Button-empty_login/Button-empty_login"
@import "../pug/includes/Form Elements/Button_register/Button_register"
@import "..\pug\includes\Headers Footers\Header__nav_pos-2\Header__nav_pos-2.styl"

@import "modules/Form Elements"

@import "modules/Cards"

body 
  background-color gray

h1 
  font-family Quicksand
  font-style normal
  font-weight bold
  font-size 24px
  line-height 30px
  color $dark100
  margin 0px

h2 
  font-family Quicksand
  font-style normal
  font-weight bold
  font-size 19px
  line-height 24px
  color $dark100
  margin 0px
h3 
    width 186px
    height 15px
    font-family Montserrat, sans-serif
    font-style normal
    font-weight bold
    font-size 12px
    line-height 15px
    text-transform uppercase
    color $dark100
    margin 0px
    
body 
    width 301px
    height 48px
    font-family Montserrat, sans-serif
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    color $dark75
    margin 0px
p 
    margin 5px