@import "utils/*"
@import "../pug/pages/*"
@import "../pug/includes/*"
body 
  background-color gray

h1 
  font-family Quicksand
  font-style normal
  font-weight bold
  font-size 24px
  line-height 30px
  color $dark100
  margin 0px

h2 
  font-family Quicksand
  font-style normal
  font-weight bold
  font-size 19px
  line-height 24px
  color $dark100
  margin 0px
h3, legend
    font-family Montserrat, sans-serif
    font-style normal
    font-weight bold
    font-size 12px
    line-height 15px
    text-transform uppercase
    color $dark100
    margin 0px
legend
    line-height 15px
b
    color: $dark100
body 
    width: 1440px
    font-family Montserrat, sans-serif
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    color $dark75
p 
    line-height 24px