.toggle
  position relative
  width 100%
  margin-right 8px
  cursor pointer 
  display inline-flex 
  &:focus
    color $dark100
    outline none 
  &__label 
    min-width 222px
    margin-left 10px 
  &__button 
    background #FFFFFF 
    border 1px solid rgba(31, 32, 65, 0.25) 
    box-sizing border-box 
    border-radius 10px 
    width 40px 
    height 20px 
    &:hover
      border 1px solid #BC9CFF 
    &:before
      content ''
      position absolute
      width 12px 
      height 12px 
      margin-left 3px
      margin-top 3px
      background rgba(31, 32, 65, 0.25) 
      border-radius 10px 
      transition-duration .3s  
  &__input:checked ~ .toggle__button
    background #FFFFFF 
    border 1px solid #BC9CFF 
    box-sizing border-box 
    border-radius 10px 
    width 40px 
    height 20px 
    &:before
      content ''
      position absolute
      width 12px 
      height 12px 
      margin-left 22px
      margin-top 3px
      background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 
      border-radius 10px 
      transition-duration .3s 