//- checked: boolean
mixin toggle(options = {})
    label.toggle
        input.toggle__input.visually-hidden(type="checkbox" checked=(options.checked ? true: false) ) 
        .toggle__button
        .toggle__label Получать спецпредложения
