//- checked: boolean
//- name : имя
mixin toggle({checked = false, name='', text = "Получать спецпредложения"} = {})
    label.toggle
        input.toggle__input(type="checkbox" name=name checked=checked ) 
        .toggle__button
        .toggle__label= text
