//- checked: boolean
//- name : имя
mixin toggle({checked = false, name = "Получать спецпредложения"} = {})
    label.toggle
        input.toggle__input(type="checkbox" checked=checked ) 
        .toggle__button
        .toggle__label= name
