//- checked: boolean
mixin toggle(checked = false)
    label.toggle
        input.toggle__input.visually-hidden(type="checkbox" checked=checked ) 
        .toggle__button
        .toggle__label Получать спецпредложения
