//- checked: boolean
//- name : имя
mixin toggle({checked = false, name = "Получать спецпредложения"} = {})
    label.toggle(tabindex = "0")
        input.toggle__input.visually-hidden(type="checkbox" checked=checked ) 
        .toggle__button
        .toggle__label= name
