include ../button/button
include ../date-range/date-range 
include ../dropdown/dropdown
mixin search-rooms({ title = "Найдём номера под ваши пожелания", guests = "Гости", action = "" } = {})
    .search-rooms
        .search-rooms__container
            h1.search-rooms__title= title
            form(action=action)
                .search-rooms__com-data
                    +date-range({dropdowns: ["прибытие", "выезд"]})
                .search-rooms__guests
                    legend.search-rooms__guests-legend= guests
                    .dropdown-guests
                        +dropdown({items: ["взрослые", "дети", "младенцы"], title: "Сколько гостей", buttons: true}) 
                .search-rooms__button
                    +button({arrow: true, text:"подобрать номер"})