include ../button/button
include ../date-range/date-range 
include ../dropdown/dropdown
mixin search-rooms(options = {})
    -
        const { 
            title = "", 
            legendGuests = "", 
            action = "search-room.html",
            dateRange = ["title1", "title2"],
            dropdown = "",
            button = ""
        } =  options
    .search-rooms
        .search-rooms__container
            h1.search-rooms__title= title
            form(action=action)
                .search-rooms__com-data
                    +date-range({dropdowns: dateRange})
                .search-rooms__guests
                    legend.search-rooms__guests-legend= guests
                    +dropdown(dropdown) 
                .search-rooms__button
                    +button(button)