include ../../components/search-rooms/search-rooms
include ../../components/registration/registration
include ../../components/logo/logo
include ../../components/rate-button/rate-button 
include ../../components/room-card/room-card
include ../../components/reservation/reservation
include ../../components/log-in/log-in 
include ../../components/calendar/calendar
include ../../components/date-range/date-range
include ../../favicon/favicon
-
    const data = require("./cards-data.json")
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="cards")
        meta(name="keywords", content="cards")
        +favicon
        title cards
    body 
        .cards.js-cards
            .cards__logo
                +logo
            section.cards__main-container
                section.cards__left-container
                    section.cards__search-rooms.js-cards__search-rooms
                        +search-rooms(data.searchRooms)
                    section.cards__registration
                        +registration(data.registration)
                section.cards__middle-container        
                    section.cards__reservation.js-cards__reservation
                        +reservation(data.reservation)       
                    section.cards__log-in
                        +log-in(data.logIn)
                section.cards__right-container    
                    section.cards__calendar.js-cards__calendar
                        +calendar({start: "2019-08-19", end: "2019-08-23"})
                    section.cards__room-card-1
                        +room-card({
                            images: [
                                "./assets/img/room-888.jpg", 
                                "./assets/img/room-840.jpg", 
                                "./assets/img/room-350.jpg", 
                                "./assets/img/room-352.jpg"
                            ], 
                            num:"888", 
                            isLux: true, 
                            luxText: data.roomCard.luxText,
                            price: data.roomCard.price,
                            daysText: data.roomCard.daysText,
                            rate:"5", 
                            reviews:"145",
                            reviewsText: data.roomCard.reviewsText
                        })
                    section.cards__room-card-2
                        +room-card({
                            images: [
                                "./assets/img/room-840.jpg", 
                                "./assets/img/room-888.jpg", 
                                "./assets/img/room-352.jpg", 
                                "./assets/img/room-350.jpg"
                            ], 
                            num:"840", 
                            isLux: false, 
                            price: data.roomCard.price,
                            daysText: data.roomCard.daysText,
                            rate:"4", 
                            reviews:"65",
                            reviewsText: data.roomCard.reviewsText
                        })