.cards
  position relative
  min-height 1350px
  background #F4F4F6
  &__main-container
    display flex
    justify-content: space-between
    margin-left 140px
    margin-top 72px    
    max-width 1160px
  &__logo
    padding-top 30px
    margin-left 30px
  &__search-rooms
    width 380px
    height 374px    
  &__registration
    margin-top 40px
    width 380px  
  &__reservation
    width 380px
  &__log-in
    margin-top 39px
    width 380px
  &__calendar
    width 320px 
  &__room-card-1
    margin-top 40px
    width 270px
  &__room-card-2
    margin-top 40px
    width 270px


