include ..\..\components\search-rooms\search-rooms
include ..\..\components\registration\registration
include ..\..\components\logo\logo
include ..\..\components\rate-button\rate-button 
include ..\..\components\room-card\room-card
include ..\..\components\reservation\reservation
include ..\..\components\log-in\log-in 
include ..\..\components\data-dropdown\data-dropdown
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title cards
    body 
        .cards.js-cards
            .cards__logo
                +logo
            section.cards__left-container
                section.cards__search-rooms.js-cards__search-rooms
                    +search-rooms
                section.cards__registration
                    +registration
            section.cards__middle-container        
                section.cards__reservation.js-cards__reservation
                    +reservation       
                section.cards__log-in
                    +log-in   
            section.cards__right-container    
                section.cards__calendar
                    div(class="datepicker-here" data-clear-button="true" data-range="true" data-multiple-dates-separator=" - " data-auto-Close="true")           
                section.cards__room-card-1
                    +room-card({images: ["/assets/img/room-888.jpg", "/assets/img/room-840.jpg", "/assets/img/room-350.jpg", "/assets/img/room-352.jpg"], num:"888", lux: true, price: "9 990", rate:"5", reviews:"145"})
                section.cards__room-card-2
                    +room-card({images: ["/assets/img/room-840.jpg", "/assets/img/room-888.jpg"], num:"840", lux: false, price: "9 990", rate:"4", reviews:"65"})