.cards
  position relative
  min-height 1350px
  background #F4F4F6
  > section
    display inline-block
    vertical-align top
  &__logo
    padding-top 30px
    margin-left 30px
  &__left-container
    margin-left 140px
    margin-top 72px    
  &__search-rooms
    width 380px
    height 374px    
  &__registration
    margin-top 40px
    width 380px  
  &__middle-container
    margin-left 40px
    margin-top 72px
  &__reservation
    width 380px
  &__log-in
    margin-top 39px
    width 380px
  &__right-container
    margin-left 40px
    margin-top 72px
  &__calendar
    width 320px 
  &__room-card-1
    margin-top 40px
    width 270px
  &__room-card-2
    margin-top 40px
    width 270px


