mixin date-field
    .date-field
        input.date-field__input(class="datepicker-here" data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ" data-clear-button="true" id="#my-datepicker" readonly)