//- 
    type: тип input("email", "data"),
    text:  текст внутри формы,
//- 
mixin text-field(options = {})
    div(class= options.type ? 'text-field_' + options.type: 'text-field')
        input.text-field__border(type= options.type? options.type: 'text' placeholder= options.text)
