//- 
    type: тип input("email", "data"),
    text:  текст внутри формы,
//- 
mixin text-field({type = null, text = ''})
    div(class= type ? 'text-field_' + type: 'text-field')
        input.text-field__border(type= type ? type: 'text' placeholder= text)
