.text-field
  position relative
  min-width 100px  
  width 100% 
  height 44px
  border 1px solid rgba(31,32,65,.25) 
  box-sizing border-box  
  border-radius 4px 
  &:hover
    border 1px solid rgba(31,32,65,.5)  
  &_email
    @extends .text-field
    .text-field__button
      position absolute 
      right 9px 
      top 10px 
      border none
      outline-color rgba(31,32,65,.25)
      background-color transparent
      width 24px
      height 24px 
      &:after
        content 'arrow_forward'
        position absolute 
        font-family 'Material Icons' 
        font-size 24px  
        color #BC9CFF
        cursor pointer 
        top 0
        left 0
        opacity 1
        transition 0.3s
      &:hover
        opacity 0.5
  &_dropdown
    @extends .text-field    
    &:after
      content 'expand_more'
      position absolute
      font-family 'Material Icons'
      font-size 24px
      top 11px 
      right 8px 
      outline none
      border none
      color rgba(31,32,65,.5)
      outline-color rgba(31,32,65,.25)
      background-color transparent
      cursor pointer
      pointer-events none
    .text-field__input
      color rgba(31,32,65,.75) 
      cursor pointer 
      &::placeholder
        color rgba(31, 32, 65, 0.75) 
  &__toggle
    visually-hidden()
  &__toggle:checked
    + .text-field_dropdown:after
      transform rotate(180deg)
  &__input
    width 100% 
    height 100% 
    padding-left 14px      
    outline-color none 
    border none
    color rgba(31,32,65,.75) 
    background-color transparent
    &:hover, &:focus 
      color rgba(31, 32, 65, 0.75)
      outline none
    &::placeholder
      color rgba(31, 32, 65, 0.25) 
