//- type: тип field("email", "dropdown")
mixin text-field(type = null)
    .text-field.js-text-field(class= type ? "text-field_" + type: "")
        if(type === "email") 
            button.text-field__button
        block