.text-field
  position relative
  min-width 100px  
  height 44px
  &__border
    width 100% 
    height 100% 
    padding-left 14px     
    box-sizing border-box
    color rgba(31,32,65,.25) 
    border-radius 4px 
    border 1px solid rgba(31,32,65,.25) 
    cursor pointer 
    outline-color none 
    &:hover, &:focus
      color rgba(31, 32, 65, 0.75)
      border 1px solid rgba(31,32,65,.5) 
      outline none
    &::placeholder
      color rgba(31, 32, 65, 0.25)
  &_email
    @extends .text-field
    &:after
      content 'arrow_forward'
      position absolute 
      font-family 'Material Icons' 
      font-size 24px
      top 8px 
      right 5px 
      border none
      color #BC9CFF
      outline-color rgba(31,32,65,.25)
      background-color transparent
      cursor pointer
  &_data 
    @extends .text-field
    &:after
      content 'expand_more'
      position absolute
      font-family 'Material Icons'
      font-size 24px
      top 11px 
      right 8px 
      outline none
      border none
      color rgba(31,32,65,.5)
      outline-color rgba(31,32,65,.25)
      background-color transparent
      cursor pointer
