mixin text-field({type = "text", placeholder= "", masked = false, mask = "99.99.9999"} = {})
    -
        const maskOptions = {
            class: "text-field__input_masked js-text-field__input_masked",
            "data-format": placeholder,
            "data-mask": mask,
        }
    .text-field
        input.text-field__input(type=type, placeholder=placeholder)&attributes(masked ? maskOptions: {})
