.logo_color
    .logo__circle_color
        .logo__circle-back_1
        .logo__circle-part-1_color
        .logo__circle-back_2
        .logo__circle-part-2_color
.toxin__logo_color
    img(src='/assets/img/TOXIN.svg')