.link
  background-color #fff
  outline none
  border none
  margin 0
  padding 0
  &__text
    font-weight bold
    font-size 12px
    text-transform uppercase
    color #fff
    color $purple
    z-index 3
    border: none;
    background: none;
    padding: 0;    
    cursor pointer
    &:focus
    &:hover
      color $dark50
      outline none