include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle/toggle
include ../button/button
include ../date-range/date-range
include ../date-field/date-field
mixin registration
    .registration
        .registration__container
            h1.registration__title Регистрация аккаунта
            form(action="" method = "post")
                .registration__name
                    +text-field
                        input.text-field__input(type = "text" placeholder = "Имя")
                .registration__surname
                    +text-field 
                        input.text-field__input(type = "text" placeholder = "Фамилия")
                .registration__radio
                    +radio-button({text: "Мужчина", value: "man", checked: true})
                    +radio-button({text: "Женщина", value: "woman"})
                .registration__data
                    legend дата рождения
                    +date-field
                .registration__log-in
                    legend данные для входа в сервис
                    .log-in__email
                        +text-field 
                            input.text-field__input(type = "text" placeholder = "Email")
                    .log-in__pass
                        +text-field
                            input.text-field__input(type = "password" placeholder = "Пароль")
                .registration__toggle
                    +toggle
                .registration__button-solid
                    +button({type:"arrow", text:"перейти к оплате"})
            form.registration__sign-in-form(action="sign-in.html")
                .registration__text Уже есть аккаунт на Toxin
                .registration__button-empty                
                    +button({type:"_empty", text:"войти"})