include ../components/header/header
include ../components/footer/footer
include ../favicon/favicon
<!DOCTYPE html>
html(lang="ru")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="initial-scale=1.0, width=device-width")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            +favicon
    block variables 
        - let mainClass = ""
    body(class=mainClass)
        header
            .layout__header
                +header(data.header)
        block content
        footer
            .layout__footer
                +footer(data.footer)