.logo-color 
  display flex 
  opacity 1
  transition: 0.3s
  &:hover
    opacity 0.5
  &__circle
    position relative
    width 40px
    height 40px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius 50%
    &:after
      content ''
      position absolute
      top 2px
      left 2px
      width 36px
      height 36px 
      border-radius 50%
      background white
      z-index 1      
  &__part-left
    position absolute
    width 21px 
    height 26px 
    border-radius 43% 
    left 0px 
    top 15px 
    clip rect(0px ,auto,11.5px,10px)
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    z-index 3
    &:after
      content ''
      position absolute
      top 2px 
      left -2px       
      width 21px 
      height 26px 
      border-radius 40% 
      background white
      z-index 3
      clip rect(0px, auto, 11.5px, 10px)
  &__part-right
    position absolute
    width 21px 
    height 28px 
    left 18px 
    top 15px 
    border-radius 50%
    clip rect(0px, 12px, 5.5px, 3px)
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    z-index 3
    &:after
      content ''
      position absolute
      width 21px 
      height 28px 
      left 1px 
      top 2px
      border-radius 50%
      clip rect(0px, 12.5px, 5.5px, 3px)
      background white
      z-index 3      
  &__toxin
    margin-left 12px