mixin logo-color
    a.logo-color(href="index.html")
        .logo-color__circle
            .logo-color__part-left
            .logo-color__part-right
        img.logo-color__toxin(src="./assets/img/toxin-logo.svg", alt="логотип") 