mixin logo-color({href = "index.html"} = {})
    a.logo-color(href=href)
        img.logo-color__circle(src="./assets/img/logo-circle.svg", alt="logo") 
        img.logo-color__toxin(src="./assets/img/toxin-logo.svg", alt="logo") 