.logo-color
  display flex
  opacity 1
  transition 0.3s
 
  &:hover
  &:focus
    outline none
    opacity 0.5
 
  &__circle
    position relative
    width 40px
    height 40px
    border-radius 50%
 
  &__toxin
    margin-left 12px
