mixin logo-color
    a.logo-color(href="index.html")
        img.logo-color__circle(src="./assets/img/logo-circle.svg", alt="логотип") 
        img.logo-color__toxin(src="./assets/img/toxin-logo.svg", alt="логотип") 