.bullet-list
  margin-top 10px
  position relative
  &:before
    position absolute
    content ''
    width 10.43px
    height 10px
    background-color rgba(31, 32, 65, 0.25)
    left -15.43px
    margin-top 5px
    border-radius 15px